<svg class="arrowUpIcon"  xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 55 34" width="100%" height="100%">
    <g>
        <path fill="var(--icon-path-fill)" d="M27.5,0L27.5,0L27.5,0L0,15.6v4.3L0.1,20L27.5,4.4L54.9,20l0.1-0.1v-4.3L27.5,0L27.5,0L27.5,0z"></path>
        <g>
            <path fill="var(--icon-path-fill)" d="M1,34V21.4h4.3c0.7,0,1.3,0.1,1.8,0.2s1,0.3,1.4,0.6c0.4,0.3,0.7,0.6,0.9,1.1c0.2,0.4,0.3,0.9,0.3,1.5
			c0,0.6-0.2,1.1-0.5,1.6c-0.3,0.5-0.8,0.8-1.4,1.1c0.4,0.1,0.7,0.2,0.9,0.4c0.3,0.2,0.5,0.4,0.7,0.7c0.2,0.3,0.3,0.5,0.4,0.8
			c0.1,0.3,0.1,0.6,0.1,1c0,0.6-0.1,1.1-0.3,1.6c-0.2,0.5-0.5,0.8-0.9,1.2c-0.4,0.3-0.8,0.5-1.4,0.7S6.3,34,5.6,34H1z M3.2,26.7h2.2
			c0.7,0,1.2-0.2,1.6-0.5c0.4-0.3,0.6-0.7,0.6-1.3c0-0.6-0.2-1.1-0.5-1.4c-0.4-0.3-0.9-0.4-1.7-0.4H3.2V26.7z M3.2,28.3v3.9h2.4
			c0.4,0,0.7,0,0.9-0.1c0.3-0.1,0.5-0.2,0.7-0.4c0.2-0.2,0.3-0.4,0.4-0.6s0.1-0.5,0.1-0.8c0-0.6-0.2-1.1-0.5-1.5s-0.9-0.5-1.6-0.5
			H3.2z"></path>
            <path fill="var(--icon-path-fill)" d="M12.2,34V21.4h4.3c0.7,0,1.3,0.1,1.8,0.2c0.5,0.1,1,0.3,1.4,0.6c0.4,0.3,0.7,0.6,0.9,1.1
			c0.2,0.4,0.3,0.9,0.3,1.5c0,0.6-0.2,1.1-0.5,1.6s-0.8,0.8-1.4,1.1c0.4,0.1,0.7,0.2,1,0.4c0.3,0.2,0.5,0.4,0.7,0.7
			c0.2,0.3,0.3,0.5,0.4,0.8c0.1,0.3,0.1,0.6,0.1,1c0,0.6-0.1,1.1-0.3,1.6c-0.2,0.5-0.5,0.8-0.9,1.2c-0.4,0.3-0.8,0.5-1.4,0.7
			c-0.5,0.2-1.2,0.2-1.8,0.2H12.2z M14.4,26.7h2.2c0.7,0,1.2-0.2,1.6-0.5c0.4-0.3,0.6-0.7,0.6-1.3c0-0.6-0.2-1.1-0.5-1.4
			c-0.4-0.3-0.9-0.4-1.7-0.4h-2.1V26.7z M14.4,28.3v3.9h2.4c0.4,0,0.7,0,0.9-0.1c0.3-0.1,0.5-0.2,0.7-0.4c0.2-0.2,0.3-0.4,0.4-0.6
			c0.1-0.2,0.1-0.5,0.1-0.8c0-0.6-0.2-1.1-0.5-1.5s-0.9-0.5-1.6-0.5H14.4z"></path>
            <path fill="var(--icon-path-fill)" class="st5" d="M30.8,28.4h-5.2v3.9h6.1V34h-8.3V21.4h8.2v1.8h-6v3.5h5.2V28.4z"></path>
            <path fill="var(--icon-path-fill)" d="M35.7,29.3V34h-2.2V21.4h4.8c0.7,0,1.4,0.1,2,0.3s1.1,0.5,1.4,0.8s0.7,0.8,0.9,1.3c0.2,0.5,0.3,1,0.3,1.6
			c0,0.6-0.1,1.2-0.3,1.6c-0.2,0.5-0.5,0.9-0.9,1.2c-0.4,0.3-0.9,0.6-1.4,0.8s-1.2,0.3-2,0.3H35.7z M35.7,27.5h2.6
			c0.4,0,0.8-0.1,1.1-0.2c0.3-0.1,0.6-0.3,0.8-0.4s0.3-0.4,0.4-0.7c0.1-0.3,0.1-0.6,0.1-0.9c0-0.3,0-0.6-0.1-0.9s-0.2-0.5-0.4-0.7
			s-0.4-0.4-0.8-0.5c-0.3-0.1-0.7-0.2-1.1-0.2h-2.6V27.5z"></path>
            <path fill="var(--icon-path-fill)" d="M48.7,25.9l2.7-4.6h2.5l-3.8,6.3L54,34h-2.6l-2.7-4.6L46,34h-2.6l3.9-6.4l-3.8-6.3h2.5L48.7,25.9z"></path>
        </g>
    </g>
</svg>
