<svg class="arrowIcon" viewBox="0 0 28 80" xmlns="http://www.w3.org/2000/svg">
    <g>
        <path class="st8" fill="var(--menu-icon-path-fill)"
              d="M0,40L0,40L0,40L21.9,0h6L28,0.1L6.2,40L28,79.9L27.9,80h-6L0,40L0,40L0,40z"></path>
    </g>
</svg>