<div class="bookingBox">
    <button class="bookingBtn">
        <span class="icon">
            //= bookingIcon.html
        </span>
        <span class="text">онлайн бронирование</span>
    </button>
    <div class="bookingForm">
        <div class="booking-header">забронировать комнату
            <i class="close"></i>
        </div>
        <div class="booking-content">
            <form action="">
                <div class="row">
                    <div class="col-12">
                        <div class="input_wrap">
                            <label>Имя*</label>
                            <input type="text" name="name2" class="txt">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="input_wrap">
                            <label>Телефон*</label>
                            <input type="text" name="phone" class="txt">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input_wrap">
                            <label>e-mail*</label>
                            <input type="text" name="email" class="txt">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="input_wrap">
                            <label>Дата</label>
                            <input type="text" name="phone" class="txt">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input_wrap">
                            <label>время</label>
                            <input type="text" name="email" class="txt">
                        </div>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="filter-sub-ttl">
                        выбрать комнату
                    </div>
                    <div class="filter-items half">
                        <label>
                            <input type="radio" name="room">
                            <span>Общий зал</span>
                        </label>
                        <label>
                            <input type="radio" name="room">
                            <span>Комната металла</span>
                        </label>
                        <label>
                            <input type="radio" name="room">
                            <span>Комната огня</span>
                        </label>
                        <label>
                            <input type="radio" name="room">
                            <span>Комната дерева</span>
                        </label>
                        <label>
                            <input type="radio" name="room">
                            <span>Комната воды</span>
                        </label>
                        <label>
                            <input type="radio" name="room">
                            <span>Комната камня</span>
                        </label>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="filter-sub-ttl">
                        На сколько?
                    </div>
                    <div class="filter-items half">
                        <label>
                            <input type="radio" name="time">
                            <span>1-2 часа</span>
                        </label>
                        <label>
                            <input type="radio" name="time">
                            <span>Как получится</span>
                        </label>
                        <label>
                            <input type="radio" name="time">
                            <span>На весь день</span>
                        </label>
                        <label>
                            <input type="radio" name="time">
                            <span>На всю ночь</span>
                        </label>
                    </div>
                </div>
                <div class="filter-box">
                    <div class="filter-sub-ttl">
                        количество игроков
                    </div>
                    <div class="filter-items four">
                        <label>
                            <input type="radio" name="players">
                            <span>1</span>
                        </label>
                        <label>
                            <input type="radio" name="players">
                            <span>2</span>
                        </label>
                        <label>
                            <input type="radio" name="players">
                            <span>3</span>
                        </label>
                        <label>
                            <input type="radio" name="players">
                            <span>4</span>
                        </label>
                        <label>
                            <input type="radio" name="players">
                            <span>5</span>
                        </label>
                        <label>
                            <input type="radio" name="players">
                            <span>6</span>
                        </label>
                        <label>
                            <input type="radio" name="players">
                            <span>7</span>
                        </label>
                        <label>
                            <input type="radio" name="players">
                            <span>8</span>
                        </label>
                    </div>
                </div>
                <div class="btn-wrap w100p">
                    <button id="onBooking" type="button" class="btn w100p">забронировать</button>
                </div>
            </form>
        </div>
    </div>
</div>
<button class="bookingMobileBtn">
        <span class="icon">
            //= bookingIcon.html
        </span>
    <span class="text">онлайн бронирование</span>
</button>

<div id="popupSuccess" class="popup success">
    <div class="popup-header">
        <span class="icon">
            //= bookingIcon.html
        </span>
        <div class="ttl">онлайн-бронирование</div>
    </div>
    <div class="popup-content">
        <p>Ура! :)<br/>
            Комната забронирована.<br/>
            В ближайшее время с вами свяжется администратор для подтверждения заказа.</p>
        <button id="btnSuccess" class="btn btnTransparent">ОК!</button>
    </div>
</div>

<div class="popup error">
    <div class="popup-header">
        <span class="icon">
            //= bookingIcon.html
        </span>
        <div class="ttl">онлайн-бронирование</div>
    </div>
    <div class="popup-content">
        <p>Упс!  Ошибка. <br/>
            Мы очень сожалеем. :( <br/>
            Возможно, Вы ошиблись при вводе своих данных.<br/>
            Пожалуйста, проверьте информацию.</p>
        <button class="btn btnTransparent">Проверить</button>
    </div>
</div>