<svg class="bookingIcon" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 56 48">
    <g>
        <g>
            <g>
                <path fill="var(--icon-path-fill)" d="M55.1,7.5c-1.1-1.2-2.3-2.3-3.5-3.5c-1.4-1.4-2.9-1.4-4.3,0c-5.5,5.5-11,11-16.5,16.5
				c-1.8,1.8-3.5,3.5-5.4,5.4c-0.2-0.2-0.3-0.3-0.4-0.5c-2.8-2.8-5.7-5.7-8.5-8.5c-1.2-1.2-2.8-1.2-3.9,0c-1.2,1.2-2.4,2.4-3.6,3.6
				c-1.3,1.3-1.3,2.9,0,4.2c4.8,4.8,9.6,9.5,14.3,14.3c1.3,1.3,2.9,1.3,4.2,0c9.2-9.2,18.3-18.3,27.5-27.5
				C56.3,10.3,56.3,8.8,55.1,7.5z M47.3,26.3c-0.5-0.2-0.9,0-1.2,0.3c-0.6,0.7-1.3,1.3-1.9,1.9c-0.3,0.3-0.5,0.7-0.5,1.2
				c0,2.7,0,5.5,0,8.2c0,3.3-2.4,5.6-5.6,5.6c-9.3,0-18.6,0-28,0c-3.3,0-5.6-2.3-5.7-5.6c0-9.3,0-18.7,0-28c0-0.7,0.1-1.4,0.3-2
				c0.8-2.3,2.8-3.6,5.5-3.6c9.2,0,18.4,0,27.7,0c0.6,0,1.2,0.1,1.8,0.2c0.5,0.1,0.9,0,1.2-0.3c0.5-0.5,1-1,1.5-1.5
				c0.8-0.8,0.6-1.6-0.4-2C40.7,0.2,39.4,0,38,0c-9.3,0-18.7,0-28,0C8.5,0,7,0.2,5.7,0.9C2,2.8,0,5.8,0,10c0,4.6,0,9.3,0,13.9
				c0,4.7,0,9.4,0,14.1c-0.1,5.6,4.7,10,10,9.9c9.4-0.1,18.8,0,28.2,0c5.3,0,9.7-4.3,9.7-9.5c0.1-3.7,0-7.3,0-11
				C48,26.9,47.8,26.5,47.3,26.3z"></path>
            </g>
        </g>
    </g>
</svg>
