<svg class="room-icon commonRoomIcon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
     viewBox="0 0 36 36">
    <g>
        <g>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M7.9,18C7.8,12.4,12.4,7.7,18.2,7.9c5.5,0.2,9.8,4.4,9.8,10.1c0,5.7-4.4,10.2-10.4,10.1
			C12.4,28,7.9,23.6,7.9,18z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M31.2,26.9c-1.1-0.3-2.3-0.6-3.4-1c-0.5-0.2-0.7-0.7-0.5-1.2c0.6-1.5,1.3-3,1.8-4.4c0.3-0.8,0.8-1,1.6-0.6
			c0.9,0.5,1.8,1.1,2.7,1.7c0.3,0.2,0.5,0.6,0.4,1.1c-0.5,1.3-1,2.5-1.6,3.7C32,26.6,31.7,26.9,31.2,26.9z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M9.3,31.2c0.2-0.6,0.3-1.4,0.5-2.2c0.1-0.4,0.2-0.7,0.3-1.1c0.2-0.5,0.7-0.7,1.2-0.5c1.5,0.6,3.1,1.3,4.6,1.9
			c0.7,0.3,0.9,0.8,0.5,1.4c-0.5,0.9-1.1,1.8-1.6,2.7c-0.3,0.5-0.8,0.6-1.4,0.4c-1.2-0.5-2.4-1-3.6-1.5C9.6,32.1,9.3,31.9,9.3,31.2z
			"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M9.2,4.7c0.1-0.5,0.3-0.8,0.8-1c1.2-0.5,2.5-1,3.7-1.5c0.4-0.2,0.8-0.1,1.1,0.3c0.6,1,1.2,2,1.8,3.1
			c0.3,0.5,0.1,0.9-0.5,1.2c-1,0.4-2,0.8-3,1.2c-0.6,0.2-1.2,0.5-1.7,0.7c-0.5,0.2-1,0.1-1.2-0.5C9.8,7,9.5,5.8,9.2,4.7z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M34.1,14.4c-0.2,0.2-0.3,0.5-0.5,0.7c-0.9,0.6-1.8,1.1-2.7,1.7c-0.5,0.3-1.2,0.2-1.4-0.6
			c-0.6-1.5-1.3-3-1.9-4.5c-0.2-0.6,0-1.1,0.6-1.3c1.1-0.3,2.2-0.6,3.3-0.8c0.4-0.1,0.8,0.1,1,0.6c0.5,1.2,1,2.5,1.5,3.7
			C33.9,13.9,33.9,14.1,34.1,14.4C34,14.3,34,14.3,34.1,14.4z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M22.1,2.1c0.6,0.2,1.1,0.4,1.6,0.6c0.8,0.3,1.6,0.7,2.5,1C26.7,4,26.9,4.3,26.8,5c-0.2,1-0.5,2-0.7,2.9
			c-0.2,0.7-0.8,1-1.5,0.7c-1.5-0.7-3-1.2-4.5-1.9c-0.7-0.3-0.8-0.7-0.5-1.3c0.5-1,1.1-1.9,1.7-2.9C21.5,2.3,21.8,2.2,22.1,2.1z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M25,27.3c0.5,0,0.7,0.3,0.8,0.6c0.3,1.1,0.6,2.2,0.8,3.3c0.1,0.6-0.1,0.8-0.6,1.1c-1.2,0.5-2.4,1-3.5,1.5
			c-0.6,0.3-1,0.2-1.3-0.4c-0.6-0.9-1.1-1.9-1.7-2.8c-0.3-0.6-0.1-1,0.5-1.3c1.5-0.6,3.1-1.3,4.6-1.9C24.6,27.4,24.8,27.4,25,27.3z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M2,14.1c0.2-0.5,0.4-1,0.6-1.4c0.4-0.9,0.7-1.8,1.1-2.7c0.3-0.6,0.6-0.8,1.2-0.6c1,0.2,2,0.5,3,0.8
			c0.7,0.2,0.9,0.7,0.6,1.4c-0.6,1.5-1.2,2.9-1.8,4.4c-0.3,0.8-0.8,1-1.6,0.6c-0.9-0.5-1.7-1-2.6-1.6C2.3,14.7,2.1,14.3,2,14.1z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M5.7,19.5c0.6,0,0.9,0.2,1,0.6c0.6,1.4,1.2,2.8,1.7,4.2c0.5,1.3,0.3,1.6-1,1.9c-0.9,0.2-1.7,0.5-2.6,0.6
			c-0.4,0.1-0.8-0.1-1-0.5c-0.5-1.3-1.1-2.6-1.6-3.8c-0.2-0.6-0.1-1,0.4-1.3c0.9-0.5,1.8-1.1,2.7-1.6C5.5,19.6,5.6,19.5,5.7,19.5z"
            />
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M26.5,32.8c0.3,0.2,0.6,0.3,0.8,0.6c0.3,0.3,0.1,0.6-0.3,0.8c-1.3,0.5-2.6,1.1-3.9,1.6c-0.3,0.1-0.7,0.4-1,0
			c-0.2-0.3-0.1-1,0.3-1.2c0.4-0.3,0.9-0.5,1.4-0.7c0.7-0.3,1.5-0.6,2.2-0.8C26.2,32.9,26.3,32.9,26.5,32.8
			C26.5,32.8,26.5,32.8,26.5,32.8z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M13.9,0.8c-0.1,0.2-0.2,0.5-0.5,0.7c-1.2,0.7-2.5,1.3-3.9,1.6C9.2,3.1,8.8,2.9,8.6,2.7C8.3,2.4,8.4,2,8.9,1.8
			c1.4-0.6,2.8-1.1,4.2-1.7C13.5-0.1,13.9,0.2,13.9,0.8z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M9.7,32.9c0.3,0.1,0.9,0.3,1.4,0.5c0.8,0.3,1.6,0.7,2.3,1.1c0.4,0.2,0.6,0.8,0.5,1.1
			c-0.1,0.4-0.4,0.5-0.9,0.4c-1.3-0.5-2.6-1.1-3.9-1.6c-0.3-0.1-0.7-0.3-0.7-0.7C8.5,33.2,9,32.9,9.7,32.9z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M35.9,22.7c-0.2,0.6-0.4,1-0.6,1.5c-0.4,1-0.8,1.9-1.2,2.9c-0.1,0.3-0.3,0.6-0.7,0.5
			c-0.3-0.1-0.6-0.5-0.6-0.7c0-0.4,0.1-0.9,0.3-1.3c0.4-1,0.9-1.9,1.3-2.9c0.2-0.4,0.7-0.5,1.1-0.4C35.7,22.4,35.8,22.6,35.9,22.7z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M3.2,9.4c-0.5,1.5-0.9,3-1.9,4.2c-0.3,0.3-0.6,0.4-1,0.1c-0.2-0.2-0.4-0.4-0.2-0.7c0.6-1.4,1.2-2.9,1.8-4.3
			C2,8.4,2.4,8.3,2.7,8.6C2.9,8.8,3,9.2,3.2,9.4z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M32.9,9.6c0.1-0.2,0.1-0.5,0.3-0.6c0.3-0.4,0.8-0.3,1,0.1c0.6,1.4,1.2,2.9,1.8,4.4c0.1,0.2-0.1,0.6-0.2,0.6
			c-0.3,0-0.7,0.1-1-0.1c-0.3-0.2-0.5-0.5-0.6-0.9c-0.4-0.9-0.7-1.9-1.1-2.8C33,10,33,9.9,32.9,9.6z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M23,0.1c0.4,0.2,0.9,0.4,1.5,0.6c0.9,0.4,1.8,0.7,2.7,1.1c0.2,0.1,0.5,0.4,0.5,0.5c0,0.2-0.2,0.6-0.5,0.7
			c-0.3,0.1-0.8,0.1-1.1,0c-1-0.4-2-0.8-3-1.3c-0.4-0.2-0.8-0.5-0.7-1.1C22.3,0.2,22.4,0.1,23,0.1z"/>
            <path class="st4" fill="var(--menu-icon-path-fill)" d="M3.2,26.7c-0.1,0.2-0.1,0.5-0.2,0.6c-0.2,0.2-0.4,0.3-0.7,0.3c-0.1,0-0.3-0.2-0.4-0.3
			c-0.6-1.4-1.2-2.9-1.8-4.3c-0.1-0.1,0-0.5,0.2-0.5c0.3-0.1,0.6-0.1,0.8-0.1c0.2,0,0.4,0.2,0.5,0.4c0.5,1.2,1,2.4,1.5,3.6
			C3.1,26.4,3.1,26.6,3.2,26.7C3.1,26.7,3.1,26.7,3.2,26.7z"/>
        </g>
    </g>
</svg>