<svg class="dualshockIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 45">
    <g>
        <g>
            <path class="st2" fill="var(--menu-icon-path-fill)" d="M11.4,0.1c-0.6,0.1-0.9,0.1-1.5,0.4C9.1,0.9,8.3,1.8,8,2.9c-0.2,0.5-0.3,0.7-0.8,1C4.8,5.6,3,8,2.4,10.7
			c-0.2,0.6-0.4,2.1-0.5,3.2c0,0.5-0.5,5.6-0.9,11.3c-1.1,13.3-1,12.3-0.9,13.1c0.4,2.2,1.5,4.1,3.3,5.3c2.4,1.6,5.2,1.8,7.8,0.7
			c1.1-0.5,2.4-1.6,3-2.5c0.6-0.8,2-3.9,5.1-11.1c0.5-1.1,0.9-2.1,1-2.2c0.1-0.1,0.2,0,0.7,0.2c1,0.5,1.6,0.6,2.6,0.6
			c1,0,1.6-0.1,2.5-0.5c1.2-0.5,2.2-1.6,2.9-2.9l0.2-0.4h2.3h2.3l0.2,0.4c0.3,0.6,0.6,1.1,1.1,1.6c0.8,0.9,1.7,1.4,2.8,1.7
			c0.4,0.1,0.7,0.1,1.4,0.1c1.1,0,1.6-0.1,2.6-0.6c0.5-0.2,0.7-0.3,0.7-0.2c0,0,0.8,1.7,1.7,3.7c2.8,6.3,3.7,8.3,4.2,9.2
			c0.6,1.1,2,2.3,3.3,2.8c3.1,1.4,6.6,0.8,8.9-1.7c0.3-0.3,0.8-0.8,0.9-1.1c0.6-0.9,1-2.1,1.2-3.2c0.1-0.8,0.1-0.4-0.5-8.6
			c-1.1-13.5-1.5-17.4-1.6-18.3c-0.3-1.5-1.1-3.3-2-4.5c-0.7-0.9-1.9-2.1-2.7-2.7c-0.7-0.5-0.9-0.7-1-1.3c-0.3-1-1.1-1.9-1.9-2.3
			C52.2,0,52.2,0,49.2,0c-2.5,0-2.7,0-3.1,0.1c-0.6,0.2-1.2,0.5-1.6,1c-0.5,0.4-0.8,0.9-1,1.6c-0.1,0.3-0.2,0.6-0.3,0.7
			c-0.1,0.1-0.5,0.4-0.9,0.7C41.9,4.5,41.3,5,41,5.3l-0.6,0.6h-8.9h-8.9L22,5.3c-0.3-0.3-1-0.8-1.4-1.1c-0.4-0.3-0.8-0.6-0.9-0.7
			c-0.1-0.1-0.2-0.4-0.3-0.6c-0.3-0.9-0.9-1.7-1.7-2.2c-0.5-0.4-1-0.5-1.8-0.6C15.3,0,12.2,0,11.4,0.1L11.4,0.1z M14.5,6
			c0.4,0.1,0.9,0.6,1,1c0.1,0.3,0.2,2,0.2,3.5c0,1,0,1.2,0.1,1.2c0.1,0,0.8,0,1.7,0c3,0,3.4,0.1,3.9,1.1c0.2,0.3,0.2,1.1,0.1,1.5
			c-0.1,0.5-0.6,1-1,1.1c-0.3,0.1-2.3,0.2-3.7,0.2l-1,0v1.2c0,0.6,0,1.7-0.1,2.3c-0.1,1.3-0.1,1.5-0.6,1.9c-0.4,0.4-0.6,0.4-1.3,0.5
			c-0.5,0-0.6,0-0.9-0.1c-0.4-0.2-0.8-0.6-0.9-0.8c-0.1-0.3-0.2-1.5-0.2-3.2l0-1.6l-1,0c-0.6,0-1.6,0-2.3-0.1
			c-1.4-0.1-1.6-0.1-2-0.6C6.1,14.6,6,14.4,6,13.7c0-0.5,0-0.7,0.1-0.9c0.2-0.3,0.6-0.7,0.8-0.8c0.3-0.2,1.2-0.2,3.1-0.2
			c0.9,0,1.6,0,1.7-0.1c0.1,0,0.1-0.7,0.1-2.2c0-2.5,0-2.5,0.6-3C12.9,5.9,13.6,5.8,14.5,6L14.5,6z M50.1,6.1c0.7,0.3,1,0.9,1,1.7
			c0,0.8-0.4,1.4-1.1,1.8c-1.4,0.7-3-0.6-2.7-2.2C47.6,6.2,49,5.5,50.1,6.1L50.1,6.1z M44,11.9c0.5,0.2,0.8,0.5,1.1,0.9
			c0.2,0.4,0.2,1.2,0,1.6c-0.6,1.3-2.3,1.6-3.2,0.5c-0.4-0.5-0.6-1.1-0.5-1.7C41.6,12.1,42.9,11.5,44,11.9L44,11.9z M56,12
			c0.7,0.3,1,0.9,1,1.7c0,0.6-0.2,1-0.6,1.4c-0.4,0.4-0.8,0.6-1.4,0.6c-1,0-1.8-0.7-1.9-1.6c-0.1-0.6,0.2-1.4,0.7-1.8
			C54.5,11.7,55.3,11.6,56,12L56,12z M50.1,17.8c1.3,0.7,1.4,2.5,0.2,3.3c-0.2,0.1-0.5,0.2-0.7,0.3c-0.4,0.1-0.4,0.1-0.8,0
			c-0.9-0.2-1.4-0.8-1.5-1.7c-0.1-0.6,0.2-1.4,0.8-1.7C48.6,17.6,49.5,17.5,50.1,17.8L50.1,17.8z M40.5,19.7c1,0.3,1.9,1.1,2.4,2.1
			c0.3,0.6,0.3,0.6,0.3,1.2c0.1,0.9-0.1,1.5-0.4,2.2c-0.4,0.7-0.8,1.2-1.5,1.6c-0.7,0.4-1,0.5-2,0.5l-0.9,0L37.8,27
			c-2-1-2.9-3.1-2-5.1c0.5-1.2,1.8-2.1,3.1-2.3C39.2,19.5,40.1,19.6,40.5,19.7L40.5,19.7z M24.5,19.7c0.6,0.1,1.4,0.6,1.8,0.9
			c0.4,0.3,0.8,1,1.1,1.6c0.1,0.3,0.1,0.5,0.1,1.3l0,1l-0.3,0.7c-0.4,0.8-0.8,1.3-1.5,1.7c-0.8,0.4-1,0.5-1.9,0.5
			c-1.4,0-2-0.2-2.8-1c-0.7-0.7-1-1.3-1.1-2.2c-0.1-1,0.1-2.1,0.5-2.6c0.6-0.9,1.4-1.5,2.4-1.7C23.1,19.6,24,19.6,24.5,19.7
			L24.5,19.7z"></path>
        </g>
    </g>
</svg>