<svg class="dualshockPlusIcon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
     viewBox="0 0 76 36">
    <g>
        <g>
            <path class="st2" fill="var(--menu-icon-path-fill)" d="M33.9,0.2c-0.5,0.1-0.7,0.1-1.2,0.3c-0.6,0.3-1.3,1-1.5,1.9C31,2.8,30.9,3,30.5,3.2c-1.9,1.4-3.3,3.3-3.8,5.4
			c-0.2,0.5-0.3,1.7-0.4,2.5c0,0.4-0.4,4.5-0.7,9c-0.9,10.6-0.8,9.8-0.7,10.4c0.3,1.8,1.2,3.3,2.6,4.2c1.9,1.3,4.1,1.4,6.2,0.6
			c0.9-0.4,1.9-1.3,2.4-2c0.5-0.6,1.6-3.1,4.1-8.8c0.4-0.9,0.7-1.7,0.8-1.8s0.2,0,0.6,0.2c0.8,0.4,1.3,0.5,2.1,0.5s1.3-0.1,2-0.4
			c1-0.4,1.8-1.3,2.3-2.3l0.2-0.3h1.8h1.8l0.2,0.3c0.2,0.5,0.5,0.9,0.9,1.3c0.6,0.7,1.4,1.1,2.2,1.4c0.3,0.1,0.6,0.1,1.1,0.1
			c0.9,0,1.3-0.1,2.1-0.5c0.4-0.2,0.6-0.2,0.6-0.2c0,0,0.6,1.4,1.4,2.9c2.2,5,2.9,6.6,3.3,7.3c0.5,0.9,1.6,1.8,2.6,2.2
			c2.5,1.1,5.3,0.6,7.1-1.4c0.2-0.2,0.6-0.6,0.7-0.9c0.5-0.7,0.8-1.7,1-2.5c0.1-0.6,0.1-0.3-0.4-6.8c-0.9-10.7-1.2-13.9-1.3-14.6
			c-0.2-1.2-0.9-2.6-1.6-3.6C71,4.8,70,3.8,69.4,3.4c-0.6-0.4-0.7-0.6-0.8-1c-0.2-0.8-0.9-1.5-1.5-1.8c-0.7-0.4-0.7-0.4-3.1-0.4
			c-2,0-2.1,0-2.5,0.1c-0.5,0.2-1,0.4-1.3,0.8c-0.4,0.3-0.6,0.7-0.8,1.3c-0.1,0.2-0.2,0.5-0.2,0.6c-0.1,0.1-0.4,0.3-0.7,0.6
			c-0.3,0.3-0.8,0.7-1,1L57,4.8h-7.1h-7.1l-0.5-0.5c-0.2-0.2-0.8-0.6-1.1-0.9c-0.3-0.2-0.6-0.5-0.7-0.6c-0.1-0.1-0.2-0.3-0.2-0.5
			C40,1.7,39.5,1,38.9,0.6c-0.4-0.3-0.8-0.4-1.4-0.5C37,0.1,34.5,0.1,33.9,0.2L33.9,0.2z M36.4,4.9c0.3,0.1,0.7,0.5,0.8,0.8
			c0.1,0.2,0.2,1.6,0.2,2.8c0,0.8,0,1,0.1,1s0.6,0,1.4,0c2.4,0,2.7,0.1,3.1,0.9c0.2,0.2,0.2,0.9,0.1,1.2c-0.1,0.4-0.5,0.8-0.8,0.9
			c-0.2,0.1-1.8,0.2-2.9,0.2h-0.8v1c0,0.5,0,1.4-0.1,1.8c-0.1,1-0.1,1.2-0.5,1.5c-0.3,0.3-0.5,0.3-1,0.4c-0.4,0-0.5,0-0.7-0.1
			c-0.3-0.2-0.6-0.5-0.7-0.6c-0.1-0.2-0.2-1.2-0.2-2.5v-1.3h-0.8c-0.5,0-1.3,0-1.8-0.1c-1.1-0.1-1.3-0.1-1.6-0.5
			c-0.3-0.4-0.4-0.6-0.4-1.1c0-0.4,0-0.6,0.1-0.7c0.2-0.2,0.5-0.6,0.6-0.6c0.2-0.2,1-0.2,2.5-0.2c0.7,0,1.3,0,1.4-0.1
			c0.1,0,0.1-0.6,0.1-1.8c0-2,0-2,0.5-2.4C35.1,4.8,35.6,4.7,36.4,4.9L36.4,4.9z M64.7,4.9c0.6,0.2,0.8,0.7,0.8,1.4
			s-0.3,1.1-0.9,1.4c-1.1,0.6-2.4-0.5-2.1-1.8C62.7,5,63.8,4.5,64.7,4.9L64.7,4.9z M59.8,9.6c0.4,0.2,0.6,0.4,0.9,0.7
			c0.2,0.3,0.2,1,0,1.3c-0.5,1-1.8,1.3-2.5,0.4c-0.3-0.4-0.5-0.9-0.4-1.4C57.9,9.7,59,9.2,59.8,9.6L59.8,9.6z M69.4,9.6
			c0.6,0.2,0.8,0.7,0.8,1.4c0,0.5-0.2,0.8-0.5,1.1c-0.3,0.3-0.6,0.5-1.1,0.5c-0.8,0-1.4-0.6-1.5-1.3c-0.1-0.5,0.2-1.1,0.6-1.4
			C68.2,9.4,68.8,9.3,69.4,9.6L69.4,9.6z M64.7,14.3c1,0.6,1.1,2,0.2,2.6c-0.2,0.1-0.4,0.2-0.6,0.2c-0.3,0.1-0.3,0.1-0.6,0
			c-0.7-0.2-1.1-0.6-1.2-1.4c-0.1-0.5,0.2-1.1,0.6-1.4C63.5,14.1,64.2,14,64.7,14.3L64.7,14.3z M57.1,15.8c0.8,0.2,1.5,0.9,1.9,1.7
			c0.2,0.5,0.2,0.5,0.2,1c0.1,0.7-0.1,1.2-0.3,1.8c-0.3,0.6-0.6,1-1.2,1.3c-0.6,0.3-0.8,0.4-1.6,0.4h-0.7l-0.5-0.2
			c-1.6-0.8-2.3-2.5-1.6-4.1c0.4-1,1.4-1.7,2.5-1.8C56,15.6,56.7,15.7,57.1,15.8L57.1,15.8z M44.3,15.8c0.5,0.1,1.1,0.5,1.4,0.7
			c0.3,0.2,0.6,0.8,0.9,1.3c0.1,0.2,0.1,0.4,0.1,1v0.8l-0.2,0.6c-0.3,0.6-0.6,1-1.2,1.4c-0.6,0.3-0.8,0.4-1.5,0.4
			c-1.1,0-1.6-0.2-2.2-0.8c-0.6-0.6-0.8-1-0.9-1.8c-0.1-0.8,0.1-1.7,0.4-2.1c0.5-0.7,1.1-1.2,1.9-1.4C43.2,15.7,43.9,15.7,44.3,15.8
			L44.3,15.8z"></path>
        </g>
    </g>
    <g>
        <path class="st2" fill="var(--menu-icon-path-fill)"
              d="M7.4,25.7v-6.3H1V15h6.4V8.7h4.2V15H18v4.4h-6.4v6.3H7.4z"/>
    </g>
</svg>