<svg class="fbIcon" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 60 60">
    <g>
        <path fill="var(--path-fill)" d="M30,0C13.4,0,0,13.4,0,30s13.4,30,30,30s30-13.4,30-30S46.6,0,30,0z M36.9,30c-1.7,0-3.4,0-5.2,0
		c0,6.2,0,12.3,0,18.5c-2.6,0-5.1,0-7.7,0c0-6.1,0-12.3,0-18.5c-1.2,0-2.4,0-3.6,0c0-2.2,0-4.3,0-6.5c1.2,0,2.4,0,3.6,0
		c0-1.3,0-2.6,0-3.9c0-0.9,0.1-1.9,0.3-2.7c0.7-3.1,2.9-5.1,6.1-5.4c2.3-0.2,4.6,0,7,0c0,2.1,0,4.2,0,6.3c-1.2,0-2.5,0-3.7,0
		c-1.5,0-2,0.5-2,2c0,1.2,0,2.3,0,3.6c2,0,3.9,0,5.9,0C37.3,25.7,37.1,27.8,36.9,30z"></path>
    </g>
</svg>