<svg class="room-icon fireRoomIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 40">
    <g>
        <path fill="var(--menu-icon-path-fill)" d="M22,39.8c1.8-3.6,1.7-7.1-0.5-10.5c0,1.6-0.4,3.1-1.1,4.6c-0.6,1.4-1.5,2.7-2.9,3.7c1-2.6,1.3-5.3,1-8.1
		c-0.3-2.8-1.4-5.3-3.4-7.3c0.1,0.5,0.2,1.1,0.2,1.6c0.1,1.8-0.6,3.4-1.2,5c-0.7,1.9-1.6,3.7-1.9,5.7c-0.2,1.7,0.2,3.2,0.8,4.7
		c0.1,0.3,0.2,0.5,0.4,0.9c-2.3-0.6-4.3-1.6-6-3.1c-1.9-1.7-3.1-3.9-3.6-6.4c-0.5-2.3-0.3-4.6,0.4-6.8c0.6-2.1,1.6-4,2.7-5.8
		C8.1,16,8.8,14,8.9,11.8c0.1-1.4,0-2.8,0-4.2c1.4,1.2,2.5,2.7,3.1,4.6c0.6,1.8,0.8,3.7,0.2,5.8c1.4-1.3,1.9-2.9,1.8-4.6
		c0-2.1-0.3-4.2-0.4-6.3c-0.1-2.8,0.4-5.5,3.7-7c-0.1,0.7-0.4,1.3-0.4,2c-0.2,2.7,1,5.1,2.5,7.2c0.8,1.2,1.8,2.2,2.7,3.3
		c1.3,1.6,2,3.5,2.3,5.6c0,0.3,0.1,0.6,0.2,1c0.3-1.4,0.4-2.6,0.2-3.9c-0.2-2.2-0.5-4.5,0.7-6.7c0.3-0.6,0.8-1.1,1.2-1.8
		c0,1.1,0,2,0,2.9c0.1,2.5,0.8,4.7,2.1,6.9c1.1,1.8,2.5,3.5,2.9,5.6c0.3,1.3,0.6,2.6,0.6,3.9c0,3.3-1.2,6.3-3.3,8.9
		c-1.8,2.3-4.2,3.7-6.8,4.8C22.2,39.8,22.1,39.8,22,39.8z"></path>
    </g>
</svg>