<footer class="footer shadow-top">
    <div class="pseudo-wrap top">
        <div class="triangle left"></div>
        <div class="pseudo">
            <div class="logo">
                //= logoFooter.html
            </div>
        </div>
        <div class="triangle right"></div>
    </div>

    <div class="container">
        <div class="footerWrap">
            <div class="left">
                <div class="soc-ttl">Мы в соцсетях</div>
                <ul class="socialsFooter">
                    <li>
                        <a href="">
                            //= fbIcon.html
                        </a>
                    </li>
                    <li>
                        <a href="">
                            //= vkIcon.html
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="menuFooter">
                <li><a href="/">главная</a></li>
                <li><a href="news.html">новости</a></li>
                <li><a href="rooms.html">комнаты</a></li>
                <li><a href="price.html">цены</a></li>
                <li><a href="games.html">игры PS4</a></li>
                <li><a href="">карта сайта</a></li>
                <li><a href="pc.html">РС</a></li>
                <li><a href="contacts.html">контакты</a></li>
            </ul>
        </div>
    </div>
</footer>