<header>
    <div class="mobHeader">
        <div class="head-ttl">меню</div>
        <button type="button" class="nav-trigger">
            <div class="xclose">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <nav class="mobileMainMenu">
            <ul>
                <li>
                    <a href="/">главная</a>
                </li>
                <li>
                    <a href="rooms.html">комнаты</a>
                </li>
                <li>
                    <a href="games.html">игры</a>
                </li>
                <li>
                    <a href="pc.html">ПК</a>
                </li>
                <li>
                    <a href="price.html">цены</a>
                </li>
                <li>
                    <a href="contacts.html">контакты</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <div class="navWrapper">
            <div class="pseudo-wrap bottom">
                <div class="triangle left"></div>
                <div class="pseudo"></div>
                <div class="triangle right"></div>
            </div>

            <nav class="mainMenu">
                <ul>
                    <li>
                        <a href="/">главная</a>
                    </li>
                    <li>
                        <a href="rooms.html">комнаты</a>
                    </li>
                    <li>
                        <a href="games.html">игры</a>
                    </li>
                </ul>

                <a href="/" class="logo">
                    //= logoTop.html
                </a>

                <ul>
                    <li>
                        <a href="pc.html">ПК</a>
                    </li>
                    <li>
                        <a href="price.html">цены</a>
                    </li>
                    <li>
                        <a href="contacts.html">контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>