<svg class="logoFooter" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 190 76">
    <g>
        <polygon fill="var(--path-fill)"
                 points="38.4,76 46,62.9 76.5,62.9 94.7,31.5 76.5,0 40.2,0 0,68.9 4.1,76"></polygon>
        <polygon fill="var(--path-fill)"
                 points="144,62.9 151.6,76 185.9,76 190,68.9 149.8,0 113.5,0 95.3,31.5 113.5,62.9"></polygon>
        <g>
            <polygon points="182.8,70 182.6,69.8 181.4,70.1"></polygon>
            <path d="M170.3,69.8c-1.1,0.3-3.3,0.4-3.3,1l2-0.5c0.3,0.4,1.6,0.4,2.8,0.2l-1.3,0c0.3-0.1,0.1-0.3,0.5-0.4c2,0.2,2.6-0.3,4.5,0.1
			l-0.1,0l1.5-0.3c0.5,0.1,0.3,0.2,0.1,0.3c1.3-0.2,2.3-0.4,4.1-0.4c-1.4-0.7-4,0.6-5.3-0.2l0.1,0C174.1,70,172.1,69.6,170.3,69.8z"></path>
            <path d="M177,70.4l-0.1,0C176.8,70.4,176.9,70.4,177,70.4z"></path>
            <path d="M115.7,53.3l-0.1,0C115.7,53.4,115.8,53.5,115.7,53.3z"></path>
            <path d="M134.4,57.6c0,0-0.1,0-0.1,0C134.1,57.7,134.2,57.7,134.4,57.6z"></path>
            <path d="M162.3,34.5l0.1,0.5C162.4,34.8,162.4,34.6,162.3,34.5z"></path>
            <path d="M177.1,60.1L177.1,60.1L177.1,60.1z"></path>
            <path d="M172.2,47.4l0.1-0.1C172.2,47.2,172.2,47.3,172.2,47.4z"></path>
            <path d="M177.3,55.5c0.1,0.2,0.2,0.5,0.3,0.7C177.6,56,177.4,55.7,177.3,55.5z"></path>
            <path d="M176.9,59.9c0.1,0.1,0.1,0.1,0.2,0.2C177,60,177,60,176.9,59.9z"></path>
            <path d="M165.2,34.8l0.1-0.5C165.2,34.4,165.2,34.6,165.2,34.8z"></path>
            <path d="M178.7,57.4c0,0.2,0.1,0.3,0.1,0.5C178.9,57.8,178.8,57.6,178.7,57.4z"></path>
            <path d="M168.4,69.8c0.3,0,0.6,0,1-0.1C169,69.7,168.7,69.7,168.4,69.8z"></path>
            <path d="M127.7,3.9c0.1,0,0.1-0.1,0.2-0.1C127.7,3.8,127.7,3.9,127.7,3.9z"></path>
            <path d="M154.2,15.4L154.2,15.4C154.2,15.4,154.2,15.4,154.2,15.4L154.2,15.4z"></path>
            <path d="M149.5,7.4c0,0,0.1,0,0.1,0.1C149.5,7.5,149.5,7.4,149.5,7.4z"></path>
            <path d="M158,21.2c0.1,0.1,0.2,0.2,0.3,0.2L158,21.2z"></path>
            <path d="M161.1,27.2c0-0.3,0.2-0.1,0.5,0.1c-0.7-1.5-1.4-1.8-2-3.4l0.2,0.8c-0.8-0.8-1.9-2.6-2.1-3.6l0.3,0.2
			c-0.8-0.8-1.2-2.5-1.6-2.8c0.1,0.5-0.2,0.1,0,0.8l-1.6-2.2l0.3-0.4l-0.9-1.1c0,0.4-0.8-1.7-1.3-1.5c-0.2-0.8,0.5,0.1,0.8,0.2
			c-0.5-0.6-0.4-0.8-1-1.3l0-0.9l-1.3-1.6c0.1,0.1,0.1-0.1,0.1,0c-0.8-0.6-1-2.2-2.2-2.9c0.1,0,0.1,0,0.1,0
			c-0.3-0.2-0.6-0.7-0.9-1.2c-0.3-0.6-0.6-1.3-0.8-1.7c-0.1-0.2-0.3-0.4-0.3-0.5c-0.9,0.1-0.3,0.4-0.5,0.6c-0.9,0-1.5,0-2-0.1
			c-0.4,0-0.6,0-0.9,0c-0.5,0.1-0.9,0.2-2.2,0.5c-1.6-0.6,1.9-0.9-0.1-1.3c-0.3,0.3-1.6,0.5-3.2,0.6c-1.4-0.2-3.8-0.3-5.2-0.7
			l0.1,0.4l-2,0.2l1.1-0.5c-0.3,0.1-1.3,0.4-2,0.5c-2.1,0.3-1.2-0.8-2.8-0.2c-0.1,0-0.1-0.1-0.2-0.1c-0.5,0.3-1.9,0.2-3.5,0.3
			l0.5-0.5l1,0.1c-0.5-0.5-1.7,0.1-2.7,0.1c-1,0.2-0.5,0.5-1.1,0.7c-0.4,0-0.9,0.1-1.2,0c-0.9-0.1-0.1-0.6,0.2-0.7
			c-0.8,0.5-1.1,0.4-2.8,0.6c-0.1-0.2,0-0.3,0.3-0.4c-0.4,0.1-0.7,0.2-0.9,0.4c-0.2-0.1-0.6-0.2-0.9-0.3c-0.3,0-0.6-0.1-0.8-0.1
			c-0.3,0.5-0.6,1-0.7,1.4C115,5.8,115,6,115,6.3c-0.1,0.6-0.2,1.2-0.8,2.1c0.1-0.7-1,1.8-1.6,2.3c0.3-0.8-0.8,0-0.8-0.6
			c-1.1,1.6,0.1,0.9-0.6,2.3l-0.2-0.8c-0.5,1.4,0.1,0.5-0.5,1.9c0.1-0.4-0.5,0.5-0.2-0.4c-1,1.7-0.8,1.2-1.7,2.8l0.4,0.4
			c-0.2,0.5-0.6,0.6-0.7,0.7c0.1-0.2,0.3-0.5,0.2-0.5c-0.8,0.4-0.3,1.1-1.1,1.6c0.3-0.1,0.6-0.1,0.2,0.5c-0.2-0.4-0.8,0.8-1,0.8
			c0.4-0.3-0.7,1.4-0.4,1.7c-0.6,0.6-0.1-0.4-0.2-0.5c0,0.8-1.4,2.6-1.5,3.2c0,0-0.1,0-0.1,0c-0.2,0.9-0.9,2.2-1.4,3.9l0-0.7
			c-1,1.5,0,1.3-0.7,2.6c-0.1-0.2-0.4,0.3-0.7,0.8c-0.3,0.5-0.6,1.1-0.7,0.7c0,0.2-0.1,0.3-0.1,0.5c0.7,0.8,1.1,1.3,1.7,1.6
			c0.2,0.9-1.3-1.1-0.9,0l0.8,1l-0.1,0.3c0.2,0,0.7,0.9,0.8,0.8c-0.2,0.3-0.1,0.9-0.3,0.9c0.5,0.6,0.8,1.7,1.3,2.2l-0.1,0.1
			c0.9,0.4,1.3,2,2,2.1l0,0.6c0.7,1,1,0.5,1.4,0.9c0.3,0.4,0.6,0.9,0.8,1.4c-1.1-1.2,0,0.9,0,1.3c0.3,0.5,1.3,2.1,1.7,2.4
			c-0.6-0.5-0.6,0-1.3-1.1c-0.1,0.9,1.1,1.7,1.8,3l-0.2,0.1c1.2,1.8,1.6,1.6,2.5,2.2c-0.2,0.4-0.3,0.2-0.9-0.1
			c0.5,1.3,1.9,3.2,2.6,4.6c0.1,0.6-0.2,0.3-0.6-0.1c0.6,0.8,1,1.6,1.9,3c0.5,0,1-0.1,1.4-0.1c0.4-0.1,0.6-0.1,0.8-0.3
			c-0.4,0.2,0.7,0.1,1.3,0.3c0-0.1,0.1-0.3,0.2-0.3c1-0.2,3.3-0.4,4.5-0.2l-0.4,0.2c2.7,0.1,3.9-0.9,6.9-0.5
			c0.5,0.1-0.6,0.5,0.5,0.5c0.5-0.2,0.4-0.6,1.8-0.5l-0.1,0.4l1-0.4c-0.5-0.3-2-0.2-1-0.5c1.2,0.3,1.1-0.3,2.6,0.1
			c-0.4,0-0.8,0.3-1.1,0.5c3.2,0.4,4.5-0.4,7.7,0.1c0.8-0.1,1.7-0.2,2.6-0.3c0.4,0,0.8-0.1,1.2-0.1c0.4,0,0.9-0.1,1.3-0.2
			c-0.3,0.4-0.5,0.7-1.2,1c0.3,0,0.5,0,0.8-0.1c0.4,0.4,1.1,0.8,1.1,1.5c0.8,0.3,2.2,3.1,3,3c-0.1,0.1,0.7,1.3-0.3,0.2
			c1.1,1.5,0.7,2.4,1.1,3.2c0.3,0.4,0.1-0.7,0.7,0.2c0,0.1,0,0.2,0,0.3l0.4,0.3c0.1,0.5-0.5-0.2-0.7-0.2c0.6,1.4,1.7,2,2.6,3.5
			l-0.2-0.2l0.4,0.7l0.8,0l-0.1,0l1.5-0.3l0,0.2c0.3-0.1,0.4-0.2,0.9-0.2l-0.2,0.2c0.5-0.4,2.2-0.5,3.1-0.6l0.2,0.1l2-0.5
			c1.1,0.2-1.4,0.5,0.8,0.4l-0.5,0.5c1.5-0.2,1.7,0.1,2.8-0.1c-0.5-0.2-1.2-0.2-0.7-0.4c1.2,0.5,1.9-0.1,3.1-0.4c-0.6,0-1,0-1.4,0.3
			c-0.6,0-0.2-0.2-0.6-0.3l-0.9,0.3l-0.2-0.3l-1.5,0.3c0.1-0.4-1.4,0-0.8-0.4c-1,0.2-1.6-0.1-2.6,0.3c-0.7-0.2,1.1-0.3,0.4-0.3
			c-1,0.1-2,0.1-3,0.2l-2.4,0.1c-0.4-0.8-0.9-1.6-1.4-2.4c-0.5-1-1.1-2-1.6-3l0.4,0.3c-0.4-0.3-0.8-0.7-1-0.9
			c-0.1-0.8-1.2-3.4-2.2-4c0-0.1,0.1,0,0.2,0.1c-0.2-0.3-0.4-0.8-0.7-1.2c-0.1-0.3-0.3-0.6-0.4-0.8c-0.2-0.5-0.5-0.9-0.8-1.4
			c-0.8,0-1.6-0.1-2.3-0.1c-0.5,0-1,0-1.5,0c-0.9,0.6-3.1-0.4-3.9,0.4l0.4-0.2c0.7,0.2-1,0.6-1.3,0.8c-0.6-0.5,0-0.4-0.7-0.9
			l0.8,0.2l-0.2-0.4c-2.6,1.1-4.9-0.5-6.5,0.3c0.1,0,0.1-0.1,0.2-0.2c-1.1-0.2-1.8,0.3-2.6,0.5c-0.1-0.2,0.5-0.4,0.9-0.5
			c-1.9-0.2-5.1,0.4-7.2,0.1c-0.7,0.3,0.3,0.4-0.5,0.6c-0.6-0.1-1.1-0.3-0.3-0.5c-0.7-0.2-1.7-0.2-2.9-0.2c-0.9,0.1-2,0.1-2.9,0.2
			c-0.1-0.1-0.1-0.1-0.1-0.3c-0.2-0.3-0.3-0.7-0.4-1c-1-1.1-0.7-0.2-2-2.1c0.4,0.4,0.4-0.8,1,0.3l0.3,0c-1.1-2-2.5-4.6-3.7-5.3
			c0.4-0.3-0.1-0.4-0.3-1.3c-0.2-0.3,0,0.1,0,0.2c-0.8-0.5-0.6-1.1-1-1.6l0.2,0.1l-1.1-1.2c-0.1-0.3-0.2-0.7-0.1-0.8l-0.3,0.2
			c-0.4-0.7,0.2-0.6-0.5-1.5l-0.1,0.3c-0.2-0.7-1.1-1.4-0.8-1.7c0-0.1,0.1,0.1,0.2,0.3c-0.1-1.2-1.5-2.3-2-3.6l-0.3,0.6
			c-0.8-1-0.3-0.7-0.1-0.8c-0.4-0.7-0.4-1-0.9-2c-0.4-0.4-0.3-0.2-0.5-0.2l-0.5-1.1l0.6,0.5c-0.6-0.4-1-1.1-1.4-1.8
			c-0.2-0.3-0.4-0.7-0.6-1c-0.1-0.1-0.1-0.2-0.2-0.3c0-0.1,0-0.2-0.1-0.5c0.2-0.3,0.2-0.1,0.2,0.1c-0.1,0.3,0,0.2,0.1,0.2
			c1.3-1.6,1.9-4.3,3.1-5.6c1.8-2.3,3.1-5.3,4.9-7.9l-0.2,0l1.2-1.9c0-0.7,0.9-1.9,1.1-3c0.1,0.1,0.3,0,0.3,0.3
			c0.4-0.9,0.8-1.8,1.3-2.2l-0.1,0.3c0.6-0.9,1.2-1.9,1.7-2.9c0.3-0.5,0.5-1,0.7-1.4c0.1-0.1,0-0.1,0.1-0.2l0-0.1c0-0.1,0-0.1,0-0.2
			l0,0c0.2,0,0.2,0.2,0.2,0.4c1.2,0,2-0.1,3-0.4c0.3,0.1,0.5,0.1,0.8,0.3l0.5-0.4c0.5,0,0.1,0.3,0.5,0.4c1.9-0.4,4.2,0,5.5-0.1
			l-0.2-0.2c0.6-0.1,1.6,0.1,1,0.3c2.7,0.2,4-0.6,7.6-0.5c0.5,0.6,3.2-0.2,3.8,0.5c1.5-0.2,2.5,0.1,3.6-0.3c0,0.1,0.2,0.1-0.1,0.1
			c0.3,0.1,0.7,0.1,1.3,0.1c0.3,0,0.6,0,1-0.1c0,0,0.1-0.1,0.2-0.1c0,0,0.1,0,0.1,0l-0.2,0.1c0.1-0.1,0.3,0.2,0.5,0.4
			c0.2,0.3,0.5,0.6,0.7,0.9c0.5,0.6,0.9,1.3,1.3,1.4c0,0.2-0.3-0.2-0.5-0.3c0,0.9,0.9,1.1,1.3,2c-0.1,0-0.1,0.3-0.3,0.2
			c1.3,3.2,4.5,7,6.4,11c0.6,1.1,0.2-0.6,1,0.8c0,0.5-0.8-0.4-0.4,0.5c0.6,0.5,0.7,0.8,1.2,1.6c-0.2-0.1-0.2,0.1-0.7-0.4
			c0.1,0.6,1.5,1.9,1.8,3.1c0.1-0.1,0.3,0,0.5,0.2c1.2,1.2,1.6,3.5,1.9,3.6c0,0,0.4,0.5,0.1,0c0.3,0.5,0.7,1.3,0.4,1.3
			c0.3,0.2,0.6,0.4,0.9,0.8l-0.4-0.1c0.2,0.2,0.5,0.4,0.7,0.6l-0.1-0.5c0.2,0.7,1.3,1.6,0.9,1.9l-0.1-0.2l0.5,1.3
			c0.4,0.4,0.9,0.7,1.3,1.5c-0.3,0.6,1,2,1.6,3l-0.2,0.1c0.7,0.6,1.7,2.6,1.6,2.2c0.4,0.7,0.9,1.8,0.5,1.5c0.4,0.5,1.2,1.8,1.6,2
			l0.3,1.4c1,0.4,1.2,2.5,1.9,2.3c0.3,0.7,0.1,0.7,0.2,1.2c0.8,0.8,1.4,1.8,1.9,2.8l0,0.1c0.5,1,1.5,2,2.3,3.3l-0.3,0.6
			c0.5,0.7,0.9,0.6,1.2,1.4c0,0.2-0.1,0.1-0.2-0.1c0.5,0.6,0.9,1.6,1.1,2.2c0.9,0.8,1.3,1.7,2.2,2.4c0.1,1-0.9-1.1-0.9-0.2
			c0.3,0.8,0.8,1.5,1.3,2.3c0.2,0.4,0.5,0.7,0.8,1.1c0.1,0.2,0.3,0.4,0.4,0.5l0.2,0.3c0,0.1,0.1,0,0.1,0.1c-0.1,0.1-0.2,0.1-0.3,0.1
			c0,0,0.1-0.1,0.4,0c0.1,0,0.2,0.1,0.2,0.3c0,0.1,0,0.2,0,0.4l0,0.4c0,0.6,0.1,1,0.4,0.8c0.1,0.6,0,1.1,1-0.1
			c0-0.2,0.1-0.4,0.2-0.8c0.2-0.4,0.4-0.8,0.6-1.1c-0.2-0.4-0.3-0.7-0.3-0.9c-0.1,0-0.3,0-0.4,0c-1.3-1.9,0.5-0.6-0.8-2.8l0.2,0.5
			c-0.3-0.4-0.7-0.6-0.8-1.2c0-0.2,0.2,0.1,0.4,0.2l-1.5-1.6c0.1-0.2,0.3-0.2,0.6,0.1c-1-1.7-0.4,0.7-1.5-1.5
			c-0.1-0.5,0.3,0,0.5,0.2c-0.3-1.1-0.9-1.6-1.7-2.5c0.3-0.2,0.6,0.5,0.3-0.4c-0.1,0.3-0.2,0.5-0.6-0.1c0.5,0.1-0.1-0.6-0.4-1.2
			c0,0.2-0.2,0.2-0.4,0c-0.2-0.3-0.3-0.6-0.5-1l0.2,0.9c-0.9-0.9-0.8-1.7-1.2-2.6c0.1,0,0.2,0.2,0.3,0.3c-0.4-0.9-0.6-1.9-1.5-2.8
			l0.1,0.1c-1.5-1.8-0.1,0.9-1.8-1.3c-0.4-0.8,1.2-0.2-0.2-1.8c0.2,1-1.3-0.8-2-1.7l1.2,0.7c-0.2-0.4-0.8-1-0.9-1.3l-0.1,0.1
			c-0.4,0.4-0.7-1.3-1.4-1.9c1.2,0.5,1.1,0.7,1.8,0.4c-0.8-0.5-1.6-1.1-2.3-2.5l1.1,0.8c-0.9-1.8-2.8-3.4-4.1-4.6
			c0.6,0.2,0.4-0.5,1.1-0.1l-1.1-1.6l0.7,0.2c-0.8-0.4-1-1.4-1.4-0.9c0.2,0.1,0.2,0.1,0.4,0.4c-0.2,0.1-0.7,0-1.2-0.9
			c-0.2-0.7,0.4,0.2,0.5,0c-0.5-0.4-0.2-0.7-0.7-1.1l0.1,0.6c-0.5-0.2-0.6-0.9-1.1-1.4c0.5,0.6,0.6,0.3,0.6-0.1l0,0.1
			c-0.3-0.4-0.8-0.8-0.8-1.2l0.6,0.1l-0.7-0.4c-0.1-0.3,0-0.5,0.3-0.2c-0.8-2.1-0.9,0.6-2-2.1c0.2-0.1,0.5,0.2,0.8,0.9
			c0.3,0,0.4-0.3,0.1-1c0,0,0,0,0,0C162.8,29.5,161.8,27.8,161.1,27.2z"></path>
            <path d="M163.6,30.8c0.4,0.7,0.7,1.3,1,1.5C164.5,32.2,163.8,30.7,163.6,30.8z"></path>
            <path d="M114.1,55.6l-0.2-0.2L114.1,55.6z"></path>
            <path d="M119.8,58.6c-0.1-0.1-0.2-0.1-0.3-0.1C119.5,58.6,119.6,58.7,119.8,58.6z"></path>
            <path d="M118.5,4L118.5,4L118.5,4z"></path>
            <path d="M102.2,35.6c0.4,0.4,0.6,0.5,0.8,0.5C102.7,35.8,102.5,35.6,102.2,35.6z"></path>
            <path d="M104.5,23.7c0-0.1,0-0.2,0.1-0.2C104.5,23.7,104.5,23.7,104.5,23.7z"></path>
            <path d="M120.4,3.8c-0.5,0.2-1.3,0.2-1.9,0.2C119,3.9,120,4.1,120.4,3.8z"></path>
            <polygon points="127.6,58 126.9,58.3 127.6,58.1"></polygon>
            <path d="M121.6,58.2c-0.3-0.1-1.3,0.1-1,0.2C120.9,58.3,121.3,58.3,121.6,58.2z"></path>
            <polygon points="107.4,42.5 107,42.4 107.5,42.8"></polygon>
        </g>
        <g>
            <polygon points="7.2,71.7 7.4,72 8.6,71.7"></polygon>
            <path d="M19.7,72c1.1-0.3,3.3-0.4,3.3-1l-2,0.5c-0.3-0.4-1.6-0.4-2.8-0.2l1.3,0c-0.3,0.1-0.1,0.3-0.5,0.4c-2-0.2-2.6,0.3-4.5-0.1
			l0.1,0l-1.5,0.3c-0.5-0.1-0.3-0.2-0.1-0.3c-1.3,0.2-2.3,0.4-4.1,0.4c1.4,0.7,4-0.6,5.3,0.2l-0.1,0C15.9,71.7,17.9,72.2,19.7,72z"></path>
            <path d="M13,71.4l0.1,0C13.2,71.3,13.1,71.4,13,71.4z"></path>
            <path d="M76.9,54.9l-0.1-0.1C76.9,54.9,76.8,55,76.9,54.9z"></path>
            <path d="M55.6,57.8c0,0,0.1,0,0.1,0C55.9,57.7,55.8,57.7,55.6,57.8z"></path>
            <path d="M25.3,33.1L25,33.4C25.2,33.4,25.3,33.3,25.3,33.1z"></path>
            <path d="M10.3,58.6L10.3,58.6L10.3,58.6z"></path>
            <path d="M19,48.1l0.2,0C19.1,48,19.1,48,19,48.1z"></path>
            <path d="M14.4,56.5c-0.2,0.2-0.3,0.4-0.5,0.7C14.1,57,14.3,56.7,14.4,56.5z"></path>
            <path d="M10.4,58.3c0,0.1-0.1,0.2-0.1,0.3C10.4,58.5,10.4,58.4,10.4,58.3z"></path>
            <path d="M26.5,35.8l0.5-0.1C26.9,35.6,26.7,35.7,26.5,35.8z"></path>
            <path d="M13.5,58.7c-0.1,0.1-0.3,0.2-0.4,0.4C13.3,59,13.4,58.9,13.5,58.7z"></path>
            <path d="M21.6,72c-0.3,0-0.6,0-1,0.1C21,72,21.3,72,21.6,72z"></path>
            <path d="M62.3,6.5c-0.1,0-0.1,0.1-0.2,0.1C62.3,6.7,62.3,6.6,62.3,6.5z"></path>
            <path d="M38,16.6L38,16.6C38,16.7,38,16.7,38,16.6L38,16.6z"></path>
            <path d="M42.6,8.7c0,0.1,0,0.1,0,0.1C42.6,8.7,42.6,8.7,42.6,8.7z"></path>
            <path d="M34.8,22.9c0,0.1-0.1,0.2-0.1,0.3L34.8,22.9z"></path>
            <path d="M31.1,28.4c0.3-0.2,0.2,0.1,0.2,0.5c1-1.3,0.9-2.1,2-3.4l-0.6,0.6c0.3-1.1,1.3-2.9,2.1-3.6l-0.1,0.3
			c0.3-1.1,1.6-2.2,1.6-2.8c-0.4,0.3-0.2-0.1-0.7,0.4l1.1-2.5l0.5,0.1l0.6-1.3c-0.4,0.2,1.1-1.6,0.7-1.8c0.6-0.6,0.2,0.5,0.2,0.8
			c0.3-0.8,0.5-0.7,0.6-1.5l0.8-0.5l0.8-2c0,0.1,0.1,0,0.1,0.1c0.2-1,1.4-2,1.5-3.4c0,0.1,0,0.1,0,0.1c0-0.4,0.3-0.9,0.6-1.4
			c0.1-0.2,0.3-0.5,0.5-0.6c0.1-0.1,0.1-0.1,0.2-0.1c0-0.1,0-0.1,0-0.2c0.2-0.1-0.1-0.4-0.2-0.6c0.3,0,0.5,0,0.7,0
			c0.3,0,0.5,0,0.7,0c0.4,0,0.6,0,0.9,0c0.5-0.1,0.9-0.2,2.2-0.5c1.6,0.6-1.9,0.9,0.1,1.3c0.3-0.3,1.6-0.5,3.2-0.6
			c1.4,0.2,3.8,0.3,5.2,0.7l-0.1-0.4l2-0.2l-1.1,0.5c0.3-0.1,1.3-0.4,2-0.5c2.1-0.3,1.2,0.8,2.8,0.2c0.1,0,0.1,0.1,0.2,0.1
			c0.5-0.3,1.9-0.2,3.5-0.3l-0.5,0.5l-1-0.1c0.5,0.5,1.7-0.1,2.7-0.1c1-0.2,0.5-0.5,1.1-0.7c0.4,0,0.9-0.1,1.2,0
			c0.9,0.1,0.1,0.6-0.2,0.7c0.8-0.5,1.1-0.4,2.8-0.6c0.1,0.2,0,0.3-0.3,0.4c0.4-0.1,0.7-0.2,0.9-0.4c0.2,0.1,0.2,0.2,0.3,0.3
			c0.1,0,0.1,0.1,0.2,0.1c0.1,0.1,0.1,0.2,0.2,0.2c0.2,0.1,0.4,0.3,0.6,0.5c0.5,0.3,0.9,0.7,1.4,1.7c-0.5-0.4,1.1,1.8,1.2,2.5
			c-0.5-0.7-0.4,0.7-0.9,0.4c0.8,1.7,0.9,0.4,1.7,1.7l-0.8-0.3c1,1.2,0.5,0.2,1.4,1.4c-0.4-0.3,0.2,0.7-0.4,0c1,1.7,0.7,1.3,1.5,2.8
			l0.6-0.2c0.3,0.5,0.2,0.8,0.2,1c-0.1-0.2-0.3-0.5-0.3-0.5c-0.1,0.8,0.8,0.8,0.8,1.7c0.1-0.3,0.2-0.6,0.6,0c-0.4,0,0.3,1.1,0.2,1.2
			c0-0.5,0.9,1.3,1.2,1.2c0.2,0.9-0.4-0.1-0.6,0c0.7,0.4,1.5,2.5,2.1,2.9c0,0,0,0.1,0,0.1c0.7,0.6,1.5,1.9,2.7,3.2l-0.6-0.4
			c0.8,1.6,1.1,0.6,1.9,1.9c-0.3,0,0,0.5,0.3,1c0.3,0.5,0.5,0.8,0.1,0.6c0.1,0.1,0.2,0.2,0.3,0.3c0,0.5-0.3,1.2-0.3,1.8
			c-0.6,0.6,0.3-1.7-0.4-0.8L87,33.7l-0.3,0.1c0.1,0.1-0.4,1.1-0.2,1.1c-0.4,0-0.8,0.4-1,0.2c-0.3,0.7-1.1,1.6-1.2,2.3l-0.2,0
			c0.1,0.9-1.1,2.1-0.8,2.8l-0.5,0.3c-0.6,1.1,0.1,1.2-0.1,1.7c-0.2,0.4-0.5,1-0.8,1.4c0.5-1.5-0.8,0.5-1.1,0.6
			c-0.3,0.5-1.2,2.1-1.2,2.7c0.1-0.8-0.3-0.5,0.3-1.7c-0.8,0.3-0.9,1.8-1.7,3.1L78,48.1c-0.9,1.9-0.6,2.2-0.6,3.2
			C77,51.4,77,51.2,77,50.5c-0.9,1.1-1.8,3.2-2.7,4.6c-0.5,0.3-0.4,0-0.2-0.5c-0.3,0.9-1.1,2-1.1,2.3c-0.2,0-0.3,0.1-0.5,0.1
			c-0.2,0.1-0.5,0.1-0.7,0.3c0.4-0.2-0.7-0.1-1.3-0.3c0,0.1-0.1,0.3-0.2,0.3c-1,0.2-3.3,0.4-4.5,0.2l0.4-0.2
			c-2.7-0.1-3.9,0.9-6.9,0.5c-0.5-0.1,0.6-0.5-0.5-0.5c-0.5,0.2-0.4,0.6-1.8,0.5l0.1-0.4l-1,0.4c0.5,0.3,2,0.2,1,0.5
			c-1.2-0.3-1.1,0.3-2.6-0.1c0.4,0,0.8-0.3,1.1-0.5c-3.2-0.4-4.5,0.4-7.7-0.1c-0.8,0.1-1.7,0.2-2.6,0.3c-0.4,0-0.8,0.1-1.2,0.1
			c-0.3,0-0.5,0.1-0.7,0.2c-0.1-0.4-0.4-0.7,0.5-1c-0.4,0-0.8,0-1.1,0.1c-0.3,1-0.3,1.5-1,1.9c0.1,0.8-1.6,3.4-1.2,4.1
			c-0.2,0-0.8,1.3-0.4-0.2c-0.7,1.7-1.8,1.8-2.2,2.6c-0.2,0.4,0.7-0.2,0.1,0.7c-0.1,0.1-0.2,0.1-0.3,0.2l-0.1,0.4
			c-0.4,0.3-0.1-0.6-0.2-0.7c-0.9,1.3-0.9,2.3-1.8,4.1l0.1-0.4l-0.5,0.9l-1,0l0.1,0L33,71.3l0-0.2c-0.3,0.1-0.4,0.2-0.9,0.2l0.2-0.2
			c-0.5,0.4-2.2,0.5-3.1,0.6l-0.2-0.1l-2,0.5c-1.1-0.2,1.4-0.5-0.8-0.4l0.5-0.5c-1.5,0.2-1.7-0.1-2.8,0.1c0.5,0.2,1.2,0.2,0.7,0.4
			c-1.2-0.5-1.9,0.1-3.1,0.4c0.6,0,1,0,1.4-0.3c0.6,0,0.2,0.2,0.6,0.3l0.9-0.3l0.2,0.3l1.5-0.3c-0.1,0.4,1.4,0,0.8,0.4
			c1-0.2,1.6,0.1,2.6-0.3c0.7,0.2-1.1,0.3-0.4,0.3c1-0.1,2-0.1,3-0.2c1.1,0,1.7-0.1,3.7-0.1c0.7-1.2,1.4-2.3,2.1-3.5
			c0.6-1,1.2-1.9,1.8-2.9l-0.1,0.4c0.1-0.4,0.2-1,0.3-1.3c0.6-0.5,2.4-2.8,2.4-3.9c0.1-0.1,0.1,0.1,0,0.2c0.2-0.4,0.4-0.8,0.7-1.2
			c0.1-0.1,0.2-0.2,0.2-0.3c0.1-0.1,0.2-0.3,0.2-0.3c0.1,0,0.1-0.1,0.1-0.1c0.2,0,0,0.1,0.7,0.1c0.5,0,1,0,1.5,0
			c0.9-0.6,3.1,0.4,3.9-0.4L49.4,59c-0.7-0.2,1-0.6,1.3-0.8c0.6,0.5,0,0.4,0.7,0.9l-0.8-0.2l0.2,0.4c2.6-1.1,4.9,0.5,6.5-0.3
			c-0.1,0-0.1,0.1-0.2,0.2c1.1,0.2,1.8-0.3,2.6-0.5c0.1,0.2-0.5,0.4-0.9,0.5c1.9,0.2,5.1-0.4,7.2-0.1c0.7-0.3-0.3-0.4,0.5-0.6
			c0.6,0.1,1.1,0.3,0.3,0.5c0.7,0.2,1.7,0.2,2.9,0.2c0.6,0,1.2-0.1,1.8-0.1l1,0c0.6,0,1.1,0,1.6,0c0.3-0.6,0.7-1.2,1-1.6
			c0.2-0.3,0.4-0.6,0.6-0.8c0.4-1.4-0.1-0.7,0.8-2.8c-0.1,0.6,0.9-0.1,0.2,1.1l0.1,0.3c1.2-1.9,2.7-4.5,2.8-5.8
			c0.4,0.2,0.3-0.3,0.9-0.9c0.1-0.3-0.1,0-0.2,0.1c0.1-0.9,0.6-1.1,0.9-1.6l0,0.2l0.5-1.5c0.2-0.2,0.5-0.5,0.6-0.5l-0.3-0.2
			c0.4-0.7,0.6-0.1,1-1.1L83,43.9c0.5-0.5,0.7-1.6,1.1-1.6c0.1,0,0,0.1-0.1,0.3c1-0.7,1.2-2.5,2.1-3.5l-0.6,0
			c0.5-1.2,0.5-0.6,0.6-0.5c0.4-0.7,0.7-0.8,1.3-1.8c0.2-0.6,0-0.4-0.1-0.6l0.7-0.9l-0.1,0.8c0.1-0.7,0.4-1.4,0.8-2.1
			c0.2-0.3,0.4-0.7,0.6-1c0.3-0.5,0.7-1.1,0.9-1.6c-0.4-0.7-0.9-1.3-1.2-1.5c-0.1-0.3,0-0.2,0.2-0.1c0.1,0.1,0.4,0.5,0.3,0.1
			c-0.8-2.1-2.8-3.8-3.4-5.6C85,21.7,83,19,81.7,16.2l-0.1,0.1l-1-2c-0.6-0.4-1.2-1.8-2-2.4c0.1,0,0.2-0.3,0.4-0.1
			c-0.5-0.8-1.2-1.6-1.3-2.2l0.3,0.2c-0.5-0.9-1.1-2-1.7-3c-0.3-0.5-0.6-0.9-0.8-1.3c-0.2-0.3-0.4-0.6-0.6-0.9
			c-0.2-0.3-0.4-0.5-0.5-0.7c-0.1,0-0.1,0-0.2,0c-1.3,0-1.2-0.2-1.6-0.4c-1.3,0-2.1,0.1-3.1,0.4c-0.3-0.1-0.5-0.1-0.8-0.3L68.2,4
			c-0.5,0-0.1-0.3-0.5-0.4c-1.9,0.4-4.2,0-5.5,0.1l0.2,0.2c-0.6,0.1-1.6-0.1-1-0.3c-2.7-0.2-4,0.6-7.6,0.5c-0.5-0.6-3.2,0.2-3.8-0.5
			c-1.5,0.2-2.5-0.1-3.6,0.3c0-0.1-0.2-0.1,0.1-0.1c-0.3-0.1-0.7-0.1-1.3-0.1c-0.8,0-1.9,0.1-2.9,0.2c-0.2,0.5-0.5,0.9-0.7,1.3
			l-0.3,0c-0.1,0.4-0.1,0.5-0.2,0.9c-0.1,0.3-0.3,0.7-0.4,1c-0.3,0.7-0.7,1.5-0.6,1.8c-0.2,0.1,0-0.4,0-0.6
			c-0.8,0.5-0.5,1.3-1.1,2.1c-0.1-0.1-0.3,0.1-0.3-0.2c-2.2,2.7-3.9,7.4-6.4,11c-0.6,1.1,0.7-0.1-0.2,1.2c-0.4,0.3,0-0.9-0.6-0.1
			c-0.1,0.8-0.3,1-0.8,1.8c0-0.2-0.2-0.1,0-0.8c-0.5,0.4-0.9,2.3-1.8,3.1c0.2,0,0.1,0.2,0.1,0.5c-0.5,1.7-2.3,3.1-2.2,3.4
			c0,0-0.2,0.5,0.1,0.1c-0.3,0.5-0.8,1.3-0.9,1c-0.1,0.3,0,0.7-0.3,1.1l-0.1-0.4c-0.1,0.3-0.1,0.6-0.2,0.9l0.4-0.3
			c-0.6,0.5-0.8,2-1.2,1.7l0.1-0.2l-0.9,1c-0.1,0.6-0.2,1.1-0.7,1.9c-0.6,0-1.2,1.9-1.9,2.8l-0.1-0.1c-0.2,0.9-1.5,2.8-1.2,2.5
			c-0.4,0.7-1.1,1.7-1.1,1.2c-0.3,0.7-1,1.9-0.9,2.4l-1.1,1c0.2,1.1-1.6,2.3-1.1,2.7c-0.5,0.6-0.5,0.4-0.9,0.8
			c-0.2,1.1-0.9,2.1-1.5,3l-0.1,0c-0.6,0.9-1,2.3-1.7,3.7l-0.6,0c-0.4,0.8-0.1,1.1-0.6,1.8c-0.2,0.1-0.1,0,0-0.2
			c-0.3,0.7-0.9,1.6-1.4,2c-0.3,1.2-0.9,1.9-1,3.1c-0.9,0.6,0.5-1.3-0.3-0.8c-0.5,0.7-1,1.4-1.4,2.2c-0.2,0.4-0.4,0.8-0.6,1.2
			c-0.1,0.2-0.2,0.4-0.3,0.6l-0.1,0.3l-0.3,0.5c-0.2,0.2-0.1-0.1-0.2-0.3c0,0-0.3,0.7-0.5,1.4c0.4,0.4,0.7,0.8,1.1,1.2
			c0.2,0.2,0.3,0.3,0.4,0.4l0.4,0.2c0.5,0.3,0.9,0.4,0.9,0.1c0.5,0.2,1,0.6,0.4-0.9c-0.1-0.1-0.4-0.4-0.5-0.5
			c-0.1-0.1-0.3-0.3-0.4-0.4c0.1-0.2,0.2-0.3,0.4-0.3c-0.1-0.1-0.2-0.1-0.3-0.2c0.8-1.8,0.7,0.3,2-1.9l-0.4,0.4
			c0.2-0.4,0.2-0.9,0.6-1.3c0.2-0.1,0,0.2,0,0.5L9.8,64c0.2,0,0.3,0.2,0.2,0.6c1-1.7-0.8,0,0.5-2c0.4-0.3,0.1,0.2,0.1,0.6
			c0.8-0.8,1-1.6,1.4-2.7c0.3,0.2-0.1,0.8,0.5,0.1c-0.2,0.1-0.6,0-0.2-0.6c0.1,0.5,0.4-0.4,0.9-1C13,59.1,12.9,59,13,58.7
			c0.1-0.3,0.4-0.5,0.6-0.9l-0.7,0.6c0.3-1.2,1.1-1.6,1.7-2.3c0,0.1,0,0.3-0.1,0.4c0.6-0.8,1.3-1.5,1.7-2.7l0,0.1
			c0.9-2.2-0.8,0.3,0.3-2.2c0.5-0.7,0.7,0.9,1.4-1.1c-0.7,0.7,0.1-1.5,0.6-2.6l-0.1,1.4c0.2-0.4,0.5-1.2,0.7-1.4l-0.2,0
			c-0.5-0.2,0.8-1.3,1-2.2c0.1,1.3,0,1.3,0.5,1.8c0.1-0.9,0.2-1.9,1-3.2l-0.1,1.4c1.1-1.7,1.6-4.1,2-5.8c0.1,0.6,0.6,0.1,0.6,0.9
			l0.9-1.7l0.1,0.7c0-0.9,0.7-1.5,0.1-1.7c0,0.2,0,0.2-0.2,0.6c-0.1-0.1-0.3-0.6,0.2-1.5c0.5-0.5,0,0.5,0.3,0.4
			c0.1-0.7,0.5-0.5,0.7-1.2l-0.5,0.4c-0.1-0.6,0.5-1,0.7-1.6c-0.3,0.8,0,0.6,0.4,0.5l-0.1,0c0.2-0.4,0.3-1.1,0.7-1.3l0.2,0.6l0-0.8
			c0.2-0.2,0.4-0.3,0.3,0.2c1.4-1.8-1-0.5,0.9-2.8c0.1,0.1,0.1,0.5-0.4,1.1c0.2,0.3,0.4,0.2,0.9-0.4c0,0,0,0,0.1,0
			C29.9,31.1,30.9,29.4,31.1,28.4z"></path>
            <path d="M29.1,32.4c-0.4,0.7-0.7,1.3-0.8,1.6C28.4,33.9,29.4,32.5,29.1,32.4z"></path>
            <path d="M74.2,54.6c0-0.1,0.1-0.2,0.1-0.3L74.2,54.6z"></path>
            <path d="M70.2,56.8c0.1,0.1,0.2,0.1,0.3,0.1C70.5,56.9,70.5,56.8,70.2,56.8z"></path>
            <path d="M71.5,6.4L71.5,6.4L71.5,6.4z"></path>
            <path d="M85.5,34.2c-0.1,0.6-0.1,0.8,0,0.9C85.6,34.8,85.7,34.5,85.5,34.2z"></path>
            <path d="M83.5,24.9l-0.2-0.2C83.5,24.9,83.5,24.9,83.5,24.9z"></path>
            <path d="M69.6,6.7c0.5-0.2,1.3-0.2,1.9-0.2C71,6.5,70,6.4,69.6,6.7z"></path>
            <polygon points="62.4,57.4 63.1,57.1 62.4,57.3"></polygon>
            <path d="M68.4,57.2c0.3,0.1,1.3-0.1,1-0.2C69.1,57.1,68.7,57.2,68.4,57.2z"></path>
            <polygon points="82.1,42.3 82,41.9 81.9,42.5"></polygon>
        </g>
        <g>
            <path fill="var(--path-fill)"
                  d="M50.6,75.7h-1.8V65.2h1.7v6.9h0.1l2.8-6.9h1.9v10.6h-1.7v-7.1h-0.1L50.6,75.7z"></path>
            <path fill="var(--path-fill)" d="M57.4,65.2h5.2v1.2h-3.4v9.3h-1.8V65.2z"></path>
            <path fill="var(--path-fill)" d="M65.7,75.7h-1.8V65.3c0.4-0.1,0.8-0.2,1.2-0.2c0.4,0,0.9-0.1,1.5-0.1c0.6,0,1.2,0.1,1.6,0.2
			c0.4,0.1,0.8,0.4,1.1,0.7c0.3,0.3,0.5,0.7,0.6,1.2c0.1,0.5,0.2,1.1,0.2,1.7c0,0.7-0.1,1.3-0.2,1.8c-0.1,0.5-0.3,0.9-0.6,1.2
			c-0.3,0.3-0.6,0.5-1,0.7c-0.4,0.1-0.8,0.2-1.3,0.2c-0.1,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.4,0
			c-0.1,0-0.2,0-0.3-0.1V75.7z M66.6,71.5c0.3,0,0.5,0,0.7-0.1c0.2-0.1,0.4-0.2,0.5-0.4c0.1-0.2,0.3-0.5,0.3-0.8
			c0.1-0.3,0.1-0.8,0.1-1.3c0-0.5,0-0.9-0.1-1.3c-0.1-0.3-0.2-0.6-0.3-0.8c-0.1-0.2-0.3-0.3-0.5-0.4c-0.2-0.1-0.5-0.1-0.7-0.1h-0.8
			v5.4H66.6z"></path>
            <path fill="var(--path-fill)" d="M74.8,65c0.5,0,1,0.1,1.4,0.3c0.4,0.2,0.8,0.5,1.1,0.9s0.5,1,0.7,1.7c0.2,0.7,0.2,1.5,0.2,2.6
			c0,1-0.1,1.9-0.2,2.6c-0.2,0.7-0.4,1.3-0.7,1.7s-0.7,0.7-1.1,0.9c-0.4,0.2-0.9,0.3-1.4,0.3c-0.5,0-1-0.1-1.4-0.3
			c-0.4-0.2-0.8-0.5-1.1-0.9s-0.5-1-0.7-1.7c-0.2-0.7-0.2-1.5-0.2-2.6c0-1,0.1-1.9,0.2-2.6c0.2-0.7,0.4-1.3,0.7-1.7s0.7-0.7,1.1-0.9
			C73.8,65.1,74.2,65,74.8,65z M74.8,74.8c0.2,0,0.4-0.1,0.6-0.2c0.2-0.1,0.4-0.4,0.5-0.7c0.2-0.3,0.3-0.8,0.4-1.3
			c0.1-0.6,0.1-1.3,0.1-2.1c0-0.9,0-1.6-0.1-2.1c-0.1-0.6-0.2-1-0.4-1.3c-0.2-0.3-0.3-0.6-0.5-0.7c-0.2-0.1-0.4-0.2-0.6-0.2
			s-0.4,0.1-0.6,0.2c-0.2,0.1-0.4,0.4-0.5,0.7c-0.2,0.3-0.3,0.8-0.4,1.3c-0.1,0.6-0.1,1.3-0.1,2.1c0,0.9,0,1.6,0.1,2.1
			c0.1,0.6,0.2,1,0.4,1.3c0.2,0.3,0.3,0.6,0.5,0.7C74.4,74.8,74.6,74.8,74.8,74.8z"></path>
            <path fill="var(--path-fill)" d="M84.5,70.1c0.6,0.2,1.1,0.6,1.4,1c0.3,0.5,0.5,1,0.5,1.7c0,1-0.3,1.7-0.9,2.2c-0.6,0.5-1.5,0.8-2.9,0.8
			c-0.6,0-1.1,0-1.5-0.1c-0.4,0-0.8-0.1-1.2-0.2V65.3c0.4-0.1,0.8-0.2,1.2-0.2c0.4,0,0.9-0.1,1.5-0.1c1.1,0,2,0.2,2.5,0.7
			s0.8,1.2,0.8,2.1c0,0.5-0.1,0.9-0.4,1.3C85.3,69.5,84.9,69.8,84.5,70.1L84.5,70.1z M82.5,69.6c0.5,0,0.9-0.1,1.2-0.4
			c0.3-0.3,0.4-0.7,0.4-1.3c0-0.6-0.1-1-0.4-1.3c-0.3-0.3-0.7-0.4-1.2-0.4h-0.7v3.5H82.5z M81.8,70.7v4h0.8c0.6,0,1.1-0.2,1.4-0.5
			c0.3-0.3,0.5-0.8,0.5-1.5c0-0.7-0.2-1.2-0.5-1.6c-0.3-0.3-0.8-0.5-1.4-0.5H81.8z"></path>
            <path fill="var(--path-fill)" d="M91.1,65c0.5,0,1,0.1,1.4,0.3c0.4,0.2,0.8,0.5,1.1,0.9s0.5,1,0.7,1.7c0.2,0.7,0.2,1.5,0.2,2.6
			c0,1-0.1,1.9-0.2,2.6c-0.2,0.7-0.4,1.3-0.7,1.7s-0.7,0.7-1.1,0.9c-0.4,0.2-0.9,0.3-1.4,0.3c-0.5,0-1-0.1-1.4-0.3
			c-0.4-0.2-0.8-0.5-1.1-0.9s-0.5-1-0.7-1.7c-0.2-0.7-0.2-1.5-0.2-2.6c0-1,0.1-1.9,0.2-2.6c0.2-0.7,0.4-1.3,0.7-1.7s0.7-0.7,1.1-0.9
			C90,65.1,90.5,65,91.1,65z M91.1,74.8c0.2,0,0.4-0.1,0.6-0.2c0.2-0.1,0.4-0.4,0.5-0.7c0.2-0.3,0.3-0.8,0.4-1.3
			c0.1-0.6,0.1-1.3,0.1-2.1c0-0.9,0-1.6-0.1-2.1c-0.1-0.6-0.2-1-0.4-1.3c-0.2-0.3-0.3-0.6-0.5-0.7c-0.2-0.1-0.4-0.2-0.6-0.2
			s-0.4,0.1-0.6,0.2c-0.2,0.1-0.4,0.4-0.5,0.7c-0.2,0.3-0.3,0.8-0.4,1.3s-0.1,1.3-0.1,2.1c0,0.9,0,1.6,0.1,2.1s0.2,1,0.4,1.3
			c0.2,0.3,0.3,0.6,0.5,0.7C90.6,74.8,90.8,74.8,91.1,74.8z"></path>
            <path fill="var(--path-fill)" d="M98.1,75.7h-1.8V65.2H98v6.9h0.1l2.8-6.9h1.9v10.6H101v-7.1h-0.1L98.1,75.7z M99.5,63.1
			c0.3,0,0.6-0.1,0.8-0.2c0.3-0.2,0.5-0.3,0.6-0.5l0.8,0.8c-0.2,0.4-0.5,0.7-0.9,0.9c-0.4,0.2-0.8,0.3-1.3,0.3
			c-0.5,0-0.9-0.1-1.3-0.3c-0.4-0.2-0.7-0.5-0.9-0.9l0.8-0.8c0.2,0.2,0.4,0.3,0.6,0.5C98.9,63,99.2,63.1,99.5,63.1z"></path>
            <path fill="var(--path-fill)" d="M112.2,70.3c0.2,0.1,0.3,0.1,0.5,0.2c0.2,0.1,0.3,0.2,0.4,0.3c0.1,0.1,0.3,0.3,0.4,0.5
			c0.1,0.2,0.2,0.5,0.3,0.8l0.5,2c0.1,0.2,0.2,0.4,0.3,0.6c0.2,0.2,0.4,0.2,0.8,0.2v0.8c-0.1,0-0.2,0.1-0.3,0.1
			c-0.2,0.1-0.5,0.1-0.8,0.1c-0.6,0-1-0.2-1.3-0.5c-0.3-0.3-0.5-0.8-0.7-1.4l-0.5-2c-0.1-0.5-0.3-0.8-0.5-1
			c-0.2-0.2-0.4-0.3-0.7-0.3h-0.3v4.9h-1.8V65.2h1.8v4.4h0.3c0.2,0,0.4-0.1,0.5-0.3c0.2-0.2,0.3-0.5,0.5-1l0.5-1.5
			c0.2-0.6,0.4-1.1,0.7-1.4c0.3-0.3,0.7-0.5,1.3-0.5c0.2,0,0.3,0,0.5,0c0.1,0,0.2,0,0.3,0.1c0.1,0,0.2,0.1,0.3,0.1V66
			c-0.3,0-0.6,0.1-0.8,0.2c-0.2,0.1-0.3,0.3-0.4,0.6l-0.5,1.5c-0.2,0.6-0.4,1-0.6,1.3C112.8,69.9,112.5,70.1,112.2,70.3L112.2,70.3z
			"></path>
            <path fill="var(--path-fill)" d="M116.5,75.9c-0.3,0-0.6,0-0.8-0.1c-0.1,0-0.2,0-0.3-0.1v-0.8c0.2,0,0.4,0,0.5-0.1c0.2-0.1,0.3-0.2,0.4-0.4
			c0.1-0.2,0.2-0.4,0.3-0.7c0.1-0.3,0.1-0.7,0.2-1.1l0.4-7.4h5.6v10.6H121v-9.3h-2l-0.3,6.2c0,0.6-0.1,1.1-0.2,1.5
			c-0.1,0.4-0.3,0.8-0.5,1s-0.4,0.5-0.7,0.6C117,75.8,116.8,75.9,116.5,75.9z"></path>
            <path fill="var(--path-fill)" d="M126.7,75.9c-0.3,0-0.6,0-0.9-0.1c-0.3-0.1-0.5-0.1-0.8-0.2v-0.8h1.1c0.2,0,0.4,0,0.5-0.1
			c0.2-0.1,0.3-0.2,0.4-0.3c0.1-0.2,0.2-0.4,0.4-0.6c0.1-0.3,0.2-0.6,0.3-1c-0.6,0-1.1-0.2-1.5-0.5c-0.4-0.3-0.6-0.8-0.8-1.3
			l-1.6-5.7h1.8l1.5,5.6c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.1,0.3,0.2,0.4,0.2l1.3-6.3h1.8l-1.7,8.1C129,75,128.1,75.9,126.7,75.9z"></path>
            <path fill="var(--path-fill)" d="M134.2,69.2h0.8c1.2,0,2.1,0.3,2.7,0.8c0.6,0.5,0.8,1.4,0.8,2.6c0,1.1-0.3,1.9-0.8,2.4
			c-0.6,0.5-1.5,0.8-2.7,0.8c-0.6,0-1.1,0-1.5-0.1c-0.4,0-0.8-0.1-1.2-0.2V65.2h5.7v1.2h-3.8V69.2z M134.2,70.4v4.3h0.8
			c0.6,0,1-0.2,1.3-0.5c0.3-0.3,0.4-0.9,0.4-1.6c0-0.8-0.1-1.4-0.4-1.7c-0.3-0.3-0.7-0.5-1.3-0.5H134.2z"></path>
        </g>
        <g>
            <g>
                <g>
                    <path d="M124.3,41.9c0.3-4.1,3.7-7.1,7.8-6.9c4,0.3,7.1,3.7,6.9,7.8c-0.3,4.1-3.8,7.1-7.8,6.9C127.1,49.5,124,46,124.3,41.9z"></path>
                    <path d="M124.3,16.9c0.3-4.1,3.7-7.1,7.8-6.9c4,0.3,7.1,3.7,6.9,7.8c-0.3,4.1-3.8,7.1-7.8,6.9C127.1,24.4,124,20.9,124.3,16.9z"></path>
                </g>
            </g>
            <g>
                <g>
                    <path d="M143.7,37.2c-4.1-0.3-7.1-3.7-6.9-7.8c0.3-4,3.7-7.1,7.8-6.9c4.1,0.3,7.1,3.8,6.9,7.8C151.3,34.4,147.8,37.4,143.7,37.2
					z"></path>
                    <path d="M118.7,37.2c-4.1-0.3-7.1-3.7-6.9-7.8c0.3-4,3.7-7.1,7.8-6.9c4.1,0.3,7.1,3.8,6.9,7.8C126.2,34.4,122.7,37.4,118.7,37.2
					z"></path>
                </g>
            </g>
        </g>
        <g>
            <polygon points="50.3,23.1 38.3,23.1 38.3,36.6 50.4,36.6 57.1,29.8 "></polygon>
            <polygon points="51.5,37.7 51.5,49.7 65,49.7 64.9,37.7 58.2,30.9 "></polygon>
            <polygon points="64.9,22 64.9,10 51.4,10 51.4,22 58.2,28.8 "></polygon>
            <polygon points="78,23.1 66,23.1 59.3,29.8 66,36.6 78.1,36.6 "></polygon>
        </g>
        <polygon fill="var(--path-fill)" points="108.2,7.8 95,30.7 81.8,7.8 	"></polygon>
        <polygon fill="var(--path-fill)" points="108.2,55 95,32.1 81.8,55"></polygon>
    </g>
</svg>