<svg class="room-icon metalRoomIcon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
     viewBox="0 0 36 36" width="36" height="36">
    <g>
        <g>
            <path fill="var(--menu-icon-path-fill)"
                  d="M8.6,9.8c6.3,0,12.4,0,18.7,0c-3,5.6-6,11.1-9.1,16.8C14.9,21,11.8,15.5,8.6,9.8z"></path>
            <path fill="var(--menu-icon-path-fill)" d="M14.3,6.7c0,0-5.2,0-5.4,0C8,6.7,7.3,7,6.9,7.9C6.8,8,5,11.1,5,11.2c-0.3,0.4-0.3,0.8,0,1.2
c0.1,0.1,3,5.4,3,5.4s-4.7,0-4.7,0c-0.3,0-0.7-0.2-0.8-0.5c-0.8-1.5-1.7-3.2-2.4-4.8c-0.1-0.3-0.1-0.9,0-1.2c1.6-2.9,3.3-5.8,4.9-8.7c0.2-0.3,0.7-0.6,1-0.6c0,0,3.2,0,4.8-0.1c0.6,0,0.9,0.2,1.1,0.7C12.7,4,13.5,5.3,14.3,6.7z"></path>
            <path fill="var(--menu-icon-path-fill)" d="M21.7,6.7c0,0,5.2,0,5.4,0c1,0,1.6,0.3,2.1,1.2c0,0.1,1.9,3.2,1.9,3.2c0.3,0.4,0.3,0.8,0,1.2
c-0.1,0.1-3,5.4-3,5.4s4.7,0,4.7,0c0.3,0,0.7-0.2,0.8-0.5c0.8-1.5,1.7-3.2,2.4-4.8c0.1-0.3,0.1-0.9,0-1.2c-1.6-2.9-3.3-5.8-4.9-8.7c-0.2-0.3-0.7-0.6-1-0.6c0,0-3.2,0-4.8-0.1c-0.6,0-0.9,0.2-1.1,0.7C23.3,4,22.5,5.3,21.7,6.7z"></path>
            <path fill="var(--menu-icon-path-fill)" d="M27,28.3c-0.1-0.1-2.4-4.5-2.4-4.5s-2.9,4.7-3,4.9c-0.4,0.7-0.9,1-1.7,1c0,0-3.6,0-3.7,0
c-0.8,0-1.3-0.3-1.7-1c-0.1-0.2-3-4.9-3-4.9s-2.3,4.4-2.4,4.5c-0.1,0.2,0,0.5,0.1,0.7c0.2,0.2,2.8,4.1,2.9,4.3c0.3,0.5,0.7,0.6,1.2,0.6c0.1,0,2.4,0,4.7,0c2.3,0,4.6,0,4.7,0c0.5,0,0.9-0.1,1.2-0.6c0.1-0.2,2.7-4.1,2.9-4.3C27,28.8,27.1,28.5,27,28.3z"></path>
        </g>
    </g>
</svg>