<svg class="pc40Icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
     viewBox="0 0 100 72">
    <g>
        <path class="st2" fill="var(--menu-icon-path-fill)"
              d="M0,0c0.1,0,0.3,0,0.4,0h99.1h0.5v64H0V0z M96,4H4V60h92V4z"></path>
        <path class="st2" fill="var(--menu-icon-path-fill)" d="M49.9,72c-9.3,0-18.7,0-28,0c-1,0-2.1-0.8-2.1-2c0-1.1,0.9-2,2.1-2h18c12.6,0,25.2,0,37.8,0
		c0.8,0,1.4,0.2,1.9,0.8c0.5,0.7,0.5,1.4,0.2,2.1c-0.4,0.7-1,1.1-1.8,1.1C68.7,72,59.3,72,49.9,72"></path>
        <path class="st2" fill="var(--menu-icon-path-fill)" d="M35.6,48.5v-8.8h-15v-2.9L35,16.1h4.7v20.1h4.5v3.4h-4.5v8.8H35.6z M35.6,36.2V25.4c0-1.7,0.1-3.4,0.2-5.1
		h-0.2c-1,1.9-1.8,3.3-2.7,4.8l-7.9,11v0.1H35.6z"></path>
        <path class="st2" fill="var(--menu-icon-path-fill)" d="M69.1,32c0,11-4.1,17.1-11.3,17.1c-6.3,0-10.6-5.9-10.7-16.6c0-10.9,4.7-16.8,11.3-16.8
		C65.2,15.6,69.1,21.6,69.1,32 M51.5,32.5c0,8.4,2.6,13.2,6.6,13.2c4.5,0,6.6-5.2,6.6-13.5c0-8-2-13.2-6.6-13.2
		C54.3,19,51.5,23.6,51.5,32.5"></path>
        <path class="st2" fill="var(--menu-icon-path-fill)" d="M80,14.4c-1.1,4.2-3.3,9.5-4.6,11.8l-2.8,0.3c1-2.9,2.4-8.1,2.9-11.7L80,14.4z M87.4,14.4
		c-1.1,4.2-3.3,9.5-4.6,11.8L80,26.5c1.1-2.9,2.4-8.1,2.9-11.7L87.4,14.4z"></path>
    </g>
</svg>