<svg class="pc43Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 72">
    <g>
        <path fill="var(--menu-icon-path-fill)"
              d="M0,0c0.1,0,0.3,0,0.4,0h99.1h0.5v64H0V0z M96,4H4V60h92V4z"></path>
        <path fill="var(--menu-icon-path-fill)" d="M49.9,72c-9.3,0-18.7,0-28,0c-1,0-2.1-0.8-2.1-2c0-1.1,0.9-2,2.1-2h18c12.6,0,25.2,0,37.8,0
		c0.8,0,1.4,0.2,1.9,0.8c0.5,0.7,0.5,1.4,0.2,2.1c-0.4,0.7-1,1.1-1.8,1.1C68.7,72,59.3,72,49.9,72"></path>
        <path fill="var(--menu-icon-path-fill)" d="M35.6,48.5v-8.8h-15v-2.9L35,16.1h4.7v20.1h4.5v3.4h-4.5v8.8H35.6z M35.6,36.2V25.4c0-1.7,0.1-3.4,0.2-5.1
		h-0.2c-1,1.9-1.8,3.3-2.7,4.8l-7.9,11v0.1H35.6z"></path>
        <path fill="var(--menu-icon-path-fill)" d="M80,14.4c-1.1,4.2-3.3,9.5-4.6,11.8l-2.8,0.3c1-2.9,2.4-8.1,2.9-11.7L80,14.4z M87.4,14.4
		c-1.1,4.2-3.3,9.5-4.6,11.8L80,26.5c1.1-2.9,2.4-8.1,2.9-11.7L87.4,14.4z"></path>
        <path fill="var(--menu-icon-path-fill)" d="M49.2,43.5c1.2,0.8,4.1,2,7.2,2c5.6,0,7.4-3.6,7.3-6.3c-0.1-4.5-4.1-6.5-8.4-6.5h-2.4v-3.3h2.4
		c3.2,0,7.2-1.6,7.2-5.5c0-2.6-1.6-4.9-5.7-4.9c-2.6,0-5.1,1.1-6.5,2.1l-1.1-3.2c1.7-1.2,5-2.5,8.5-2.5c6.4,0,9.3,3.8,9.3,7.7
		c0,3.3-2,6.2-6,7.6V31c4,0.8,7.2,3.8,7.2,8.3c0,5.2-4,9.7-11.8,9.7c-3.6,0-6.8-1.1-8.4-2.2L49.2,43.5z"></path>
    </g>
</svg>