<svg class="pc55Icon" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 100 72">

    <g>
        <path fill="var(--menu-icon-path-fill)"
              d="M0,0c0.1,0,0.3,0,0.4,0h99.1h0.5v64H0V0z M96,4H4V60h92V4z"></path>
        <path fill="var(--menu-icon-path-fill)" d="M49.9,72c-9.3,0-18.7,0-28,0c-1,0-2.1-0.8-2.1-2c0-1.1,0.9-2,2.1-2h18c12.6,0,25.2,0,37.8,0
		c0.8,0,1.4,0.2,1.9,0.8c0.5,0.7,0.5,1.4,0.2,2.1c-0.4,0.7-1,1.1-1.8,1.1C68.7,72,59.3,72,49.9,72"></path>
        <path fill="var(--menu-icon-path-fill)" d="M80,14.4c-1.1,4.2-3.3,9.5-4.6,11.8l-2.8,0.3c1-2.9,2.4-8.1,2.9-11.7L80,14.4z M87.4,14.4
		c-1.1,4.2-3.3,9.5-4.6,11.8L80,26.5c1.1-2.9,2.4-8.1,2.9-11.7L87.4,14.4z"></path>
        <path fill="var(--menu-icon-path-fill)" d="M67.7,19.3H55.2l-1.3,8.5c0.8-0.1,1.5-0.2,2.7-0.2c2.5,0,5.1,0.6,7.1,1.8c2.6,1.5,4.7,4.3,4.7,8.5
		c0,6.4-5.1,11.2-12.3,11.2c-3.6,0-6.6-1-8.2-2l1.1-3.4c1.4,0.8,4.1,1.8,7,1.8c4.2,0,7.8-2.7,7.8-7.1c0-4.3-2.9-7.3-9.5-7.3
		c-1.9,0-3.3,0.2-4.6,0.4L52,15.6h15.8V19.3z"></path>
        <path fill="var(--menu-icon-path-fill)" d="M42,19.3H29.4l-1.3,8.5c0.8-0.1,1.5-0.2,2.7-0.2c2.5,0,5.1,0.6,7.1,1.8c2.6,1.5,4.7,4.3,4.7,8.5
		c0,6.4-5.1,11.2-12.3,11.2c-3.6,0-6.6-1-8.2-2l1.1-3.4c1.4,0.8,4.1,1.8,7,1.8c4.2,0,7.8-2.7,7.8-7.1c0-4.3-2.9-7.3-9.5-7.3
		c-1.9,0-3.3,0.2-4.6,0.4l2.1-15.8H42V19.3z"></path>
    </g>
</svg>