<svg id="pcIcon" viewBox="0 0 113 100" xmlns="http://www.w3.org/2000/svg" width="92" height="82">
    <g>
        <g>
            <g>
                <path class="st8" fill="var(--menu-icon-path-fill)" d="M63.3,64.5c0,2.5,0,4.5,0,6.9c0.4,0,8.1,0,11.5,0c1.6,0,2.7,0.9,3.2,2.3c0.2,1-0.1,1.5-1.1,1.5
				c-13.6,0-27.1,0-40.7,0c-1,0-1.3-0.4-1.1-1.3c0.4-1.5,1.5-2.5,3.1-2.5c3.6,0,11.3,0,11.6,0c0-2.3,0-4.5,0-6.7
				c-0.1,0-26.3,0-39.2,0c-1.8,0-2.6-0.7-2.6-2.6c0-19.7,0-39.5,0-59.2C8.1,0.6,8.8,0,10.9,0c18,0,79,0,91.7,0
				c1.8,0,2.7,0.7,2.7,2.7c0,19.6,0,39.2,0,58.9c0,2.2-0.7,2.9-2.9,2.9C91.1,64.5,65.2,64.5,63.3,64.5z M56.6,55.9
				c10.8,0,21.6,0,32.4,0c2.7,0,5.4,0,8.1,0c1.3,0,1.8-0.5,2-1.8c0-0.2,0-0.5,0-0.7c0-6.6,0-13.2,0-20c0-8.2,0-16.5,0-24.8
				c0-2-0.5-2.5-2.5-2.5c-14.1,0-28.1,0-42.2,0c-11.6,0-23.3,0-35,0c-1.1,0-2.2,0-3.3,0c-1.1,0-1.7,0.6-1.7,1.7c0,0.4,0,0.7,0,1
				c0,14.8,0,29.7,0,44.6c0,2,0.4,2.3,2.3,2.3C30,55.9,43.2,55.9,56.6,55.9z"></path>
                <g>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M56.6,100c-18,0-35.9,0-53.9,0c-0.7,0-1.3-0.1-2.1-0.2c-0.6-0.1-0.7-0.5-0.4-1.1c1.8-3.2,3.7-6.4,5.5-9.6
					c1-1.6,2-3.3,2.8-4.9c0.5-0.9,1.1-1.2,2-1.3c0.7-0.1,1.3-0.1,2.1-0.1c9.2,0,18.3,0,27.5,0c3.8,0,7.5,0.1,11.3,0.1
					c15.9,0,31.9,0,47.9-0.1c0.7,0,1.5-0.1,2.1,0.1c0.7,0.2,1.6,0.6,2,1.2c3.2,4.8,6.3,9.6,9.3,14.3c0.7,1.1,0.5,1.5-0.7,1.6
					c-0.4,0-0.7,0-1.1,0c-15,0-29.9,0-44.9,0C62.7,100,59.6,100,56.6,100z M6.1,97.7c33.7,0,67.2,0,100.7,0c0-0.1,0-0.2-0.1-0.4
					c-2.3-4-4.8-8.1-7.1-12c-0.1-0.2-0.7-0.5-1.1-0.5c-13.5,0-76.1,0-84.9,0c-0.7,0-1.2,0.2-1.5,1c-0.5,1.1-1,2.1-1.6,3.1
					C9.2,91.8,7.7,94.7,6.1,97.7z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M56.2,96.4c-6.7,0-13.4,0-20.1,0c-0.2,0-0.5,0-0.7,0c-0.5-0.1-1.1,0.1-1.1-0.6s0.1-1.5,1.1-1.5
					c0.2,0,0.5,0,0.6,0c13.5,0,27,0,40.4,0c1.3,0,1.7,0.2,1.8,1.3c0,0.2-0.2,0.6-0.5,0.7c-0.4,0.1-0.9,0.1-1.2,0.1
					C69.7,96.4,63,96.4,56.2,96.4z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M71.2,90.8c-1.6,0-3.2,0-4.8,0c-0.5,0-1.1-0.2-1.2-0.6c-0.5-0.9-0.1-1.5,0.9-1.6c3.2,0,6.4,0,9.6,0
					c0.5,0,1.1,0.2,1.2,0.6c0.6,1.1,0.4,1.5-0.9,1.5C74.4,90.8,72.8,90.8,71.2,90.8z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M11.6,93.4c0.7-1.8,0.7-1.8,2.6-1.8c3.1,0,6.1,0,9.2,0c0.4,0,1.1,0.2,1.1,0.4c-0.1,0.6-0.1,1.3-0.9,1.6
					c-0.4,0.1-0.7,0.1-1.1,0.1c-3.2,0-6.4,0-9.4,0C12.6,93.6,12.2,93.5,11.6,93.4z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M20.7,96.4c-0.7,0-1.2,0-1.8-0.1c-0.5,0-0.6-0.2-0.5-0.7c0.2-1,0.7-1.5,1.8-1.3c0.7,0,1.5,0,2.2,0
					c0.4,0,1,0.1,1.1,0.5c0.2,0.4-0.5,1.5-1,1.6C21.9,96.4,21.3,96.4,20.7,96.4z"></path>
                    <path class="st8" d="M89.3,94.4c1.5,0,2.9-0.1,4.3,0.1c0.5,0.1,0.9,1,1.3,1.7c-1.8,0.4-3.3,0.4-4.8,0c-0.5-0.1-0.7-1-1.1-1.5
					C89.2,94.6,89.2,94.5,89.3,94.4z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M83.8,94.2c0.5,0,0.9,0,1.3,0c1,0,1.5,0.5,1.6,1.5c0,0.2-0.4,0.6-0.5,0.6c-1.2,0-2.3,0-3.6,0
					c-0.6,0-1.2-1-1.1-1.6c0-0.2,0.4-0.5,0.6-0.5C82.7,94.2,83.2,94.2,83.8,94.2L83.8,94.2z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M29.1,94.2c0.4,0,0.7-0.1,1,0c0.4,0.1,1.1,0.2,1.1,0.5c0.2,0.9-0.2,1.5-1.1,1.6c-1,0.1-2,0.1-2.9,0
					c-0.4,0-1.1-0.5-1.1-0.5c0.1-0.6,0.1-1.5,1-1.6C27.9,94.2,28.5,94.2,29.1,94.2L29.1,94.2z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M102.5,96.2c-1.6,0.2-3.1,0.4-4.5-0.1c-0.5-0.1-0.7-1-1.1-1.5c0-0.1,0.1-0.2,0.1-0.2c0.5,0,1-0.1,1.5-0.1
					c0.6,0,1.1,0,1.7,0C101.8,94.2,102.2,94.6,102.5,96.2z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M10.4,96.4c0.4-1.8,0.7-2.2,2.2-2.2c0.7,0,1.3,0,2.1,0c0.4,0,0.9,0.2,1.2,0.4c-0.4,0.5-0.6,1.1-1,1.6
					c-0.1,0.1-0.6,0.1-0.9,0.1C12.7,96.4,11.6,96.4,10.4,96.4z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M60,90.8c-0.4,0-0.9,0-1.2,0c-0.7,0-1.2-0.2-1.2-1.2s0.6-0.9,1.2-0.9c0.9,0,1.7,0,2.6,0c0.9,0,1,0.6,1,1.3
					s-0.6,0.7-1,0.7C60.9,90.8,60.5,90.8,60,90.8z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M95.6,91.7c1.6-0.2,3.1-0.4,4.5,0.1c0.5,0.1,0.6,0.9,1.1,1.6c-0.5,0.1-0.9,0.2-1.1,0.4c-0.6,0-1.2,0-1.8,0
					C96.4,93.6,96.3,93.5,95.6,91.7z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M52.5,93.6c-0.5,0-1,0-1.5,0c-0.6-0.1-1-0.5-0.9-1.2c0-0.7,0.5-0.7,1-0.9c1,0,1.8-0.1,2.8-0.1
					c0.6,0,1,0.2,1,1c0,0.7-0.2,1.1-1,1.1C53.5,93.6,53,93.6,52.5,93.6L52.5,93.6z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M99.7,90.6c-1.7,0.2-3.2,0.4-4.5-0.1c-0.5-0.1-0.7-1-1.1-1.6c1.7-0.4,3.2-0.5,4.5,0.1
					C99,89.2,99.2,90,99.7,90.6z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M27.9,90.6c0.4-1.7,0.5-1.8,2.2-1.8c0.5,0,1.1-0.1,1.6,0c0.4,0.1,1.1,0.4,1.1,0.5c0,0.6,0,1.5-1,1.5
					C30.5,90.8,29.1,91.1,27.9,90.6z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M92,90.6c-1.5,0.2-2.9,0.4-4.3-0.1c-0.4-0.1-0.5-1-0.7-1.5c0.4-0.1,0.7-0.4,1.1-0.4c0.6-0.1,1.2,0,1.7,0
					C91.3,88.7,91.8,89,92,90.6z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M83.4,93.6c-0.5,0-1,0-1.3,0c-0.9-0.1-1.5-0.6-1.5-1.5c0-0.2,0.4-0.5,0.6-0.5c1.1,0,2.2,0,3.4,0
					c0.5,0,1.3,1.1,1.1,1.6c-0.1,0.2-0.4,0.4-0.6,0.4C84.5,93.6,83.9,93.6,83.4,93.6L83.4,93.6z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M73,91.5c1.5,0,2.8,0,4.2,0c0.7,0,0.7,0.9,0.7,1.3c0,0.1-0.6,0.5-1,0.6c-0.7,0.1-1.5,0-2.2,0
					C73.2,93.6,73,93.3,73,91.5z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M60.3,93.5c-0.5,0-1.1,0-1.6,0c-0.5,0-0.9-0.2-1-1c0-0.9,0.2-1.1,1-1.1c1,0,2,0,2.9,0c1,0,0.9,0.9,0.9,1.3
					c0,0.2-0.5,0.6-0.9,0.7C61.2,93.6,60.7,93.6,60.3,93.5C60.3,93.6,60.3,93.6,60.3,93.5z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M18.3,88.7c-0.7,2-0.7,2.1-2.6,2.1c-0.9,0-1.7,0-2.7,0c0.2-1.6,0.6-2.1,1.8-2.1
					C16,88.6,17.1,88.7,18.3,88.7z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M84.6,90.6c-1.5,0.4-2.9,0.4-4.3,0c-0.4-0.1-0.6-1-1-1.6c0.5-0.1,0.9-0.2,1.2-0.4c0.5,0,1.1,0,1.6,0
					C84,88.6,84,88.7,84.6,90.6z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M93.6,93.4c-1.7,0.4-3.2,0.5-4.5,0c-0.5-0.1-0.7-1-1.1-1.5c0-0.1,0.1-0.1,0.1-0.2c1.5,0,2.9-0.1,4.3,0.1
					C92.9,91.8,93.1,92.6,93.6,93.4z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M20.6,90.7c0.1-1.6,0.5-2,1.8-2c0.6,0,1.3,0,2,0c0.4,0,0.7,0.2,1.1,0.5c-0.2,0.5-0.5,1.3-0.7,1.5
					C23.4,90.7,21.9,90.7,20.6,90.7z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M29.9,91.5c0.4,0,0.9,0,1.2,0c0.4,0.1,1,0.2,1,0.5c0,0.6,0,1.5-0.7,1.5c-1.2,0.1-2.5,0.1-3.7,0
					c-0.1,0-0.5-0.4-0.5-0.5c0.1-0.5,0-1.3,0.9-1.3C28.6,91.5,29.3,91.5,29.9,91.5C29.9,91.4,29.9,91.5,29.9,91.5z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M37.5,91.5c0.5,0,0.9-0.1,1.3,0c0.4,0.1,0.9,0.2,0.9,0.5c0,0.5,0.2,1.3-0.6,1.5c-1.2,0.1-2.5,0.1-3.7,0
					c-0.1,0-0.5-0.5-0.5-0.7c0-0.5,0-1.1,0.7-1.2C36.2,91.5,36.8,91.5,37.5,91.5C37.5,91.4,37.5,91.5,37.5,91.5z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M67.6,91.5c0.6,0,1.1,0,1.7,0c0.2,0,0.6,0.2,0.7,0.5c0.5,1.1,0.2,1.5-1,1.5c-0.9,0-1.6,0.1-2.5,0
					c-0.4,0-1-0.4-1.1-0.6c-0.5-1.1-0.2-1.3,1-1.3C66.9,91.5,67.2,91.5,67.6,91.5L67.6,91.5z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M37.6,90.8c-0.4,0-0.7,0.1-1,0c-0.4-0.1-1.1-0.4-1.1-0.6c0-0.6,0.1-1.5,1-1.5c1,0,1.8-0.1,2.8,0
					c0.2,0,0.9,0.4,0.9,0.6c0.1,0.6,0.1,1.2-0.7,1.3C38.8,90.8,38.2,90.8,37.6,90.8L37.6,90.8z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M44.6,93.6c-0.4,0-0.7,0-1,0c-0.5-0.1-1.1,0.1-1.1-0.7c0-1.1,0.2-1.3,1.2-1.3c1,0,2,0,2.9,0
					c0.2,0,0.7,0.4,0.7,0.6c0,0.5,0.4,1.2-0.6,1.3C46,93.5,45.3,93.6,44.6,93.6L44.6,93.6z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M45.1,90.8c-0.4,0-0.7,0-1.1-0.1c-0.4-0.1-1.1,0.2-1.1-0.6c0-0.7,0-1.5,1.1-1.5c0.9,0,1.7,0,2.6,0
					c0.5,0,1,0.1,0.9,0.9c0,0.6-0.1,1.2-1,1.2C46,90.8,45.6,90.8,45.1,90.8L45.1,90.8z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M31.5,85.9c0.4,0,0.6,0,1,0c0.4,0.1,1,0.2,1,0.5c0,0.6,0.1,1.3-0.7,1.5c-1.1,0.1-2.3,0.1-3.4,0
					c-0.1,0-0.5-0.5-0.5-0.5c0.2-0.5,0.5-1.1,0.9-1.3C30.2,85.8,30.8,85.9,31.5,85.9L31.5,85.9z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M81.5,88c-0.4,0-0.9,0-1.2,0c-0.9,0-1.3-0.5-1.5-1.3c-0.1-0.5,0.1-0.7,0.5-0.7c1,0,2,0,2.9,0
					c0.7,0,1.3,0.9,1.2,1.5c0,0.2-0.4,0.5-0.6,0.5C82.4,88,81.9,88,81.5,88L81.5,88z"></path>
                    <path class="st8" d="M59.6,85.9c0.4,0,0.7,0,1.1,0c1,0,1.2,0.4,1.2,1.3c0,0.7-0.6,0.7-1.1,0.7c-0.7,0-1.5,0-2.2,0
					s-1.2-0.2-1.1-1.1c0-0.9,0.5-1,1.1-1C58.9,85.9,59.3,85.9,59.6,85.9z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M66.8,85.9c0.4,0,0.7,0,1,0c1,0,1.5,0.5,1.3,1.5c0,0.2-0.7,0.6-1.2,0.6c-0.7,0.1-1.5,0.1-2.1,0
					c-0.4,0-0.9-0.4-1-0.6c-0.5-1-0.2-1.5,1-1.5C66,85.9,66.4,85.9,66.8,85.9z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M73.7,85.9c0.4,0,0.7,0,1.1,0c1,0,1.6,0.6,1.5,1.6c0,0.2-0.5,0.5-0.7,0.5c-0.9,0.1-1.8,0.1-2.7,0
					c-0.9,0-1.3-0.7-1.2-1.5c0-0.2,0.4-0.5,0.6-0.6C72.8,85.8,73.2,85.9,73.7,85.9L73.7,85.9z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M38.6,85.9c0.4,0,0.6,0,1,0c0.5,0,1.1-0.1,1.1,0.6c0,0.7-0.1,1.5-1.1,1.5c-0.9,0-1.7,0.1-2.6,0
					c-0.4,0-0.9-0.4-0.9-0.6c0-0.6-0.1-1.3,0.7-1.5C37.3,85.9,38,85.9,38.6,85.9L38.6,85.9z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M24.3,85.9c0.2,0,0.6,0,0.9,0c0.4,0.1,1.1,0.2,1.1,0.4c0,0.6-0.1,1.5-0.9,1.6C24.3,88,23.2,88,22.1,88
					c-0.1,0-0.5-0.5-0.5-0.5c0.2-0.5,0.6-1.1,1.1-1.3C23.1,85.8,23.7,85.9,24.3,85.9L24.3,85.9z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M90.8,87.7c-1.5,0.4-2.9,0.5-4.2-0.1c-0.4-0.1-0.5-0.9-0.7-1.3c0,0,0.4-0.4,0.6-0.4c1,0,1.8,0,2.8,0
					C90.3,85.9,90.5,86.8,90.8,87.7z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M16.4,88c-0.2,0-0.5,0-0.6,0c-0.5-0.1-1.1-0.2-1.3-0.5c-0.2-0.4,0.7-1.5,1.3-1.6c0.7,0,1.6-0.1,2.3,0
					c0.4,0,0.9,0.2,1.2,0.4c-0.2,0.6-0.2,1.5-1.1,1.6C17.7,88,17,88,16.4,88L16.4,88z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M92.9,85.9c1.3,0,2.7-0.1,3.9,0.1c0.5,0.1,0.9,1,1.5,1.6c-0.6,0.1-1,0.4-1.2,0.4c-0.6,0-1.2,0-1.8,0
					C93.7,88,93.3,87.6,92.9,85.9z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M45.3,88c-0.4,0-0.6,0-1,0c-0.5,0-1.2,0.1-1.2-0.9c0-0.7,0.2-1.3,1.2-1.3c0.9,0,1.6,0,2.5,0
					c0.6,0,0.9,0.4,0.9,1c0,0.6-0.2,1-0.7,1.1C46.4,88,45.8,88,45.3,88L45.3,88z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M52.5,88c-0.4,0-0.7,0.1-1,0c-0.5,0-1.1,0-1.2-0.7c-0.1-1.1,0.1-1.3,1.1-1.3c0.9,0,1.7,0,2.6,0
					c0.6,0,0.7,0.5,0.7,1c0,0.5-0.1,1-0.7,1C53.5,88,53,88,52.5,88L52.5,88z"></path>
                    <path class="st8" fill="var(--menu-icon-path-fill)" d="M52.4,88.7c0.5,0,0.9,0,1.3,0c0.7,0,1.1,0.2,1.1,1.1c0,0.9-0.6,1-1.2,1c-0.9,0-1.7-0.1-2.6-0.1
					c-0.7,0-0.7-0.5-0.7-1.1s0.2-0.9,0.9-0.9C51.6,88.7,51.9,88.7,52.4,88.7z"></path>
                </g>
            </g>
            <g>
                <path class="st8" fill="var(--menu-icon-path-fill)" d="M29.1,13.5c2.3-0.4,5.5-0.7,9.9-0.7c4.8,0,8.2,1,10.4,2.9c2.1,1.7,3.4,4.5,3.4,7.8s-1.1,6.1-3.1,8
				c-2.6,2.6-6.6,3.8-11.2,3.8c-1.2,0-2.3-0.1-3.2-0.2v13.4h-6.4C29.1,48.4,29.1,13.5,29.1,13.5z M35.5,30c0.9,0.2,1.8,0.2,3.2,0.2
				c4.8,0,7.7-2.5,7.7-6.5c0-3.9-2.7-6-7.2-6c-1.7,0-3.1,0.1-3.8,0.4V30H35.5z"/>
                <path class="st8" fill="var(--menu-icon-path-fill)" d="M83.8,47.4c-1.5,0.7-4.9,1.6-9.2,1.6c-11.3,0-18-7.1-18-17.8c0-11.6,8.1-18.6,19-18.6c4.3,0,7.2,0.9,8.6,1.6
				l-1.3,5.1c-1.6-0.7-4-1.3-6.9-1.3c-7.2,0-12.4,4.5-12.4,13c0,7.8,4.5,12.7,12.4,12.7c2.6,0,5.4-0.5,7.1-1.2L83.8,47.4z"/>
            </g>
        </g>
    </g>
</svg>