<svg class="personIcon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
     viewBox="0 0 19 45">
    <g>
        <path class="st0" fill="var(--menu-icon-path-fill)" d="M3.4,30.4C2.7,30.3,2,30,1.5,29.5c-0.9-0.8-1.5-1.8-1.5-3c0-3.4,0-6.9,0-10.3c0-1.7,1.2-3.2,2.9-3.7
		c0.3-0.1,0.4,0,0.6,0.2c1.2,1.4,2.8,2.4,4.7,2.7c2.8,0.4,5.2-0.4,7.2-2.4c0.6-0.6,0.5-0.6,1.3-0.2c1.5,0.7,2.3,1.9,2.4,3.6
		c0,3.4,0,6.7,0,10.1c0,1.9-1.3,3.5-3.2,3.9c-0.1,0-0.1,0-0.2,0c0,0.1,0,0.3,0,0.4c0,4,0,7.9,0,11.9c0,0.5-0.1,1-0.4,1.5
		c-0.4,0.5-0.9,0.9-1.6,0.9c-2.8,0-5.5,0-8.3,0c-1,0-1.8-0.8-1.9-1.8c0-0.2,0-0.4,0-0.7c0-3.9,0-7.8,0-11.7
		C3.4,30.7,3.4,30.6,3.4,30.4z"></path>
        <path class="st0" fill="var(--menu-icon-path-fill)"
              d="M9.4,13c-3.7,0-6.6-2.9-6.6-6.5c0-3.6,3-6.5,6.6-6.5c3.6,0,6.6,2.9,6.6,6.5C16.1,10.1,13.1,13,9.4,13z"></path>
    </g>
</svg>