<svg id="phoneIcon" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 24 24">
    <path id="w" fill="var(--path-fill)" d="M22.7,16.7c-1.6,0-3.2-0.3-4.8-0.8c-0.4-0.1-0.9,0-1.3,0.3l-2.9,2.9c-3.7-1.9-6.8-5.1-8.8-8.8l2.9-2.9
	C8.1,6.9,8.3,6.4,8,6C7.6,4.5,7.3,2.9,7.3,1.3C7.3,0.5,6.8,0,6,0H1.3C0.5,0,0,0.5,0,1.3C0,13.9,10.1,24,22.7,24
	c0.8,0,1.3-0.5,1.3-1.3V18C24,17.2,23.5,16.7,22.7,16.7z M21.3,12H24c0-6.7-5.3-12-12-12v2.7C17.2,2.7,21.3,6.8,21.3,12z M16,12h2.7
	c0-3.7-2.9-6.7-6.7-6.7V8C14.3,8,16,9.7,16,12z"></path>
</svg>