<svg class="proIcon" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 73 46">
    <g>
        <g>
            <path fill="var(--menu-icon-path-dark-fill)"
                  d="M68,46H5c-2.8,0-5-2.3-5-5V5c0-2.8,2.3-5,5-5h63c2.8,0,5,2.3,5,5v36C73,43.8,70.8,46,68,46z"></path>
            <path fill="var(--menu-icon-path-fill)" d="M68,2c1.7,0,3,1.3,3,3v36c0,1.7-1.3,3-3,3H5c-1.7,0-3-1.3-3-3V5c0-1.7,1.3-3,3-3H68 M68,0H5C2.3,0,0,2.3,0,5
			v36c0,2.8,2.3,5,5,5h63c2.8,0,5-2.3,5-5V5C73,2.3,70.8,0,68,0L68,0z"></path>
        </g>
        <g>
            <path fill="var(--menu-icon-path-fill)" d="M16.1,26.5v8.7H11V10.5h9.7c1.5,0,2.8,0.2,3.9,0.6c1.2,0.4,2.1,1,2.9,1.7c0.8,0.7,1.4,1.6,1.8,2.6
			c0.4,1,0.6,2.1,0.6,3.3c0,1.2-0.2,2.3-0.6,3.2c-0.4,1-1,1.8-1.8,2.5c-0.8,0.7-1.8,1.2-2.9,1.6c-1.2,0.4-2.5,0.6-3.9,0.6H16.1z
			 M16.1,22.4h4.6c0.7,0,1.4-0.1,1.9-0.3c0.5-0.2,1-0.4,1.3-0.8c0.3-0.3,0.6-0.7,0.7-1.2c0.2-0.5,0.2-0.9,0.2-1.5
			c0-0.5-0.1-1-0.2-1.5c-0.2-0.5-0.4-0.9-0.7-1.3c-0.3-0.4-0.8-0.7-1.3-0.9c-0.5-0.2-1.2-0.3-1.9-0.3h-4.6V22.4z"></path>
            <path fill="var(--menu-icon-path-fill)" d="M43.5,21.4c-0.3,0-0.5-0.1-0.9-0.1c-0.3,0-0.6,0-0.9,0c-1,0-1.7,0.2-2.3,0.5c-0.6,0.3-1,0.8-1.3,1.4v12h-4.9
			V16.8h4.7L38,19c0.5-0.8,1-1.4,1.7-1.9c0.7-0.4,1.5-0.7,2.4-0.7c0.3,0,0.5,0,0.8,0.1c0.3,0,0.5,0.1,0.7,0.2L43.5,21.4z"></path>
            <path fill="var(--menu-icon-path-fill)" d="M44.5,25.8c0-1.3,0.2-2.6,0.6-3.7c0.4-1.1,0.9-2.1,1.7-3s1.6-1.5,2.7-2c1.1-0.5,2.3-0.7,3.7-0.7
			c1.4,0,2.6,0.2,3.7,0.7s2,1.1,2.8,2c0.7,0.8,1.3,1.8,1.7,3c0.4,1.1,0.6,2.4,0.6,3.7v0.4c0,1.3-0.2,2.6-0.6,3.7
			c-0.4,1.1-1,2.1-1.7,2.9c-0.7,0.8-1.7,1.5-2.7,1.9s-2.3,0.7-3.7,0.7c-1.4,0-2.6-0.2-3.7-0.7c-1.1-0.5-2-1.1-2.7-1.9
			c-0.7-0.8-1.3-1.8-1.7-2.9c-0.4-1.1-0.6-2.4-0.6-3.7V25.8z M49.5,26.2c0,0.7,0.1,1.4,0.2,2.1c0.1,0.7,0.4,1.2,0.7,1.7
			c0.3,0.5,0.7,0.9,1.2,1.1c0.5,0.3,1.1,0.4,1.8,0.4c0.7,0,1.3-0.1,1.7-0.4c0.5-0.3,0.9-0.7,1.2-1.1c0.3-0.5,0.5-1,0.7-1.7
			c0.1-0.7,0.2-1.4,0.2-2.1v-0.4c0-0.7-0.1-1.4-0.2-2.1c-0.1-0.6-0.4-1.2-0.7-1.7s-0.7-0.9-1.2-1.2s-1.1-0.4-1.8-0.4
			c-0.7,0-1.3,0.1-1.7,0.4s-0.9,0.7-1.2,1.2c-0.3,0.5-0.5,1.1-0.7,1.7c-0.1,0.6-0.2,1.3-0.2,2.1V26.2z"></path>
        </g>
    </g>
</svg>