<svg class="projectorIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130 53">
    <g>
        <g>
            <g>
                <polygon fill="var(--menu-icon-path-fill)"
                         points="13.4,18.5 13.4,18.5 9.9,20.4 9.4,18.3 13.7,16 16,16 16,36 13.4,36"></polygon>
                <path fill="var(--menu-icon-path-fill)" d="M33.4,25.8c0,6.8-2.5,10.5-7,10.5c-3.9,0-6.6-3.7-6.6-10.3c0-6.7,2.9-10.4,7-10.4
				C31,15.7,33.4,19.4,33.4,25.8 M22.5,26.1c0,5.2,1.6,8.1,4.1,8.1c2.8,0,4.1-3.2,4.1-8.3c0-4.9-1.3-8.1-4.1-8.1
				C24.2,17.8,22.5,20.6,22.5,26.1"></path>
                <path fill="var(--menu-icon-path-fill)"
                      d="M49.2,25.8c0,6.8-2.5,10.5-7,10.5c-3.9,0-6.6-3.7-6.6-10.3c0-6.7,2.9-10.4,7-10.4 C46.8,15.7,49.2,19.4,49.2,25.8 M38.3,26.1c0,5.2,1.6,8.1,4.1,8.1c2.8,0,4.1-3.2,4.1-8.3c0-4.9-1.3-8.1-4.1-8.1 C40,17.8,38.3,20.6,38.3,26.1"></path>
                <path fill="var(--menu-icon-path-fill)" d="M55.9,14.9c-0.7,2.6-2,5.9-2.9,7.3l-1.7,0.2c0.6-1.8,1.5-5,1.8-7.2L55.9,14.9z M60.4,14.9
				c-0.7,2.6-2,5.9-2.9,7.3l-1.7,0.2c0.7-1.8,1.5-5,1.8-7.2L60.4,14.9z"></path>
            </g>
            <g>
                <path fill="var(--menu-icon-path-fill)" d="M121.3,48.9c0,1.4,0,2.7,0,4.1c-2.1,0-4.2,0-6.4,0c0-1.3,0-2.7,0-4.1c-1.1,0-0.5-0.2,1.8,0
				c-4.5,0-12.3,0-16.8,0c-0.8,0-1.6,0.1-2.4,0.4c-6.2,2.2-12.3,2.3-18.5,0c-0.6-0.2-1.2-0.4-1.8-0.4c-19.9,0-41.4,0-61.4,0
				c-0.2,0-0.4,0-0.7,0.1c0,1.3,0,2.7,0,4.1c-2.2,0-4.3,0-6.4,0c0-1.3,0-2.6,0-4.2c-0.8,0-1.4,0-2.1,0C2.8,48.7,0,46.1,0,42.4
				C0,31.1,0,19.8,0,8.6c0-3.9,2.9-6.5,7-6.5c22.2,0,46,0,68.1,0c2.2,0,4.1-0.6,6.2-1.2c5.5-1.5,10.9-1.2,16.2,0.7
				c0.7,0.3,1.6,0.4,2.4,0.4c8.1,0,14.6,0,22.8,0c4.7,0,7.3,2.5,7.3,7.1c0,10.7,0,21.4,0,32c0,5.1-2.4,7.5-7.6,7.5
				C122.1,48.8,121.8,48.9,121.3,48.9z M74.6,6.3c-0.8,0-1.2-0.1-1.6-0.1c-21.3,0-44.2,0-65.6,0c-2.5,0-3.2,0.7-3.2,3.2
				c0,10.6,0,21.3,0,31.9c0,2.7,0.6,3.3,3.3,3.3c21.2,0,44.1,0,65.3,0c0.5,0,0.9,0,1.4,0c-6.2-5-9.7-11.3-9.7-19.1
				C64.5,17.7,68,11.3,74.6,6.3z M110,25.4c0-11.7-9.8-21.3-21.7-21.3c-12,0-21.7,9.6-21.7,21.3c0,11.8,9.8,21.4,21.8,21.4
				C100.3,46.8,110,37.2,110,25.4z M102.1,44.6c0.6,0,0.9,0.1,1.2,0.1c7,0,12.5,0,19.5,0c2.2,0,2.9-0.8,2.9-2.9
				c0-10.9,0-21.8,0-32.7c0-2-0.8-2.8-2.9-2.8c-7.1,0-12.6,0-19.6,0c-0.3,0-0.6,0.1-1.1,0.1C114.8,15.3,115.8,34.8,102.1,44.6z"></path>
                <path fill="var(--menu-icon-path-fill)" d="M88.3,10.6c8.3,0,15.2,6.7,15.1,14.9c0,8.1-6.8,14.8-15.1,14.8c-8.3,0-15.2-6.7-15.1-14.9
				C73.2,17.3,80,10.6,88.3,10.6z M101.4,25.5c0-7-5.9-12.8-13-12.8c-7.1,0-13,5.8-13.1,12.8c0,7,6,12.9,13.1,12.9
				C95.5,38.2,101.4,32.4,101.4,25.5z"></path>
                <path fill="var(--menu-icon-path-fill)" d="M123.5,12.7c0,2.3-2,4.2-4.3,4.2c-2.3,0-4.3-2-4.2-4.3c0-2.3,1.9-4.1,4.2-4.1
				C121.5,8.5,123.5,10.4,123.5,12.7z M119.3,10.6c-1.1,0-2.2,0.9-2.2,2c-0.1,1.2,1,2.2,2.1,2.3c1.1,0,2.2-0.9,2.2-2
				C121.5,11.7,120.4,10.6,119.3,10.6z"></path>
                <path fill="var(--menu-icon-path-fill)" d="M94.8,25.4c0,3.5-2.9,6.4-6.4,6.4c-3.5,0-6.5-2.9-6.5-6.4c0-3.4,2.9-6.3,6.4-6.3
				C91.8,19.1,94.7,22,94.8,25.4z M88.2,27.6c1.1,0,2.2-0.9,2.3-2c0.1-1.2-0.9-2.2-2.1-2.3c-1.2,0-2.3,1-2.3,2.2
				C86.1,26.6,87.1,27.6,88.2,27.6z"></path>
            </g>
        </g>
    </g>
</svg>