<svg class="ps4Icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
     viewBox="0 0 144 46">
    <g>
        <g>
            <path class="st3" fill="var(--menu-icon-path-dark-fill)"
                  d="M139,46H5c-2.8,0-5-2.3-5-5V5c0-2.8,2.3-5,5-5h134c2.8,0,5,2.3,5,5v36C144,43.8,141.8,46,139,46z"></path>
            <path class="st2" fill="var(--menu-icon-path-fill)" d="M139,2c1.7,0,3,1.3,3,3v36c0,1.7-1.3,3-3,3H5c-1.7,0-3-1.3-3-3V5c0-1.7,1.3-3,3-3H139 M139,0H5
			C2.3,0,0,2.3,0,5v36c0,2.8,2.3,5,5,5h134c2.8,0,5-2.3,5-5V5C144,2.3,141.8,0,139,0L139,0z"></path>
        </g>
        <g>
            <path class="st2" fill="var(--menu-icon-path-fill)" d="M126.8,30.8c1.8,0,3.5,0,5.2,0c0.6,0,0.8,0.2,0.8,0.8c0,0.7,0,1.5,0,2.4c-1.5,0-3,0-4.5,0
			c-1.7,0-1.5-0.2-1.5,1.5c0,1.6,0.2,1.5-1.5,1.5c-1.2,0-2.5,0-3.7,0c-0.6,0-0.8-0.2-0.8-0.8c0-0.7,0-1.4,0-2.2c-0.4,0-0.7,0-1,0
			c-10.1,0-20.2,0-30.2,0c-0.5,0-1.1-0.1-1.6-0.2c-1.1-0.2-1.5-1.7-0.6-2.5c0.9-0.8,1.9-1.4,2.9-2c2.2-1.4,4.4-2.8,6.6-4.1
			c3.1-1.9,6.2-3.8,9.4-5.7c2.7-1.7,5.5-3.3,8.2-5c2.6-1.6,5.1-3.2,7.7-4.7c0.5-0.3,1.2-0.6,1.8-0.7c1.8-0.3,2.8,0.7,2.8,2.6
			c0,6.1,0,12.1,0,18.2C126.8,30.1,126.8,30.4,126.8,30.8z M120.8,30.8c0-5.4,0-10.8,0-16.5c-9,5.5-17.8,10.9-26.6,16.4
			c0,0.1,0,0.1,0.1,0.2C103.1,30.8,111.9,30.8,120.8,30.8z"></path>
            <path class="st2" fill="var(--menu-icon-path-fill)" d="M11.3,12c0-1,0-1.9,0-3c0.3,0,0.6,0,1,0c11,0,22,0,33,0c3.5,0,6.5,2.3,6.9,6.1c0.2,1.8,0,3.4-0.7,5
			c-1,2.2-2.8,3.2-5,3.6C45.7,24,44.9,24,44.2,24c-7.6,0-15.2,0-22.8,0c-2.9,0-4,1.6-4.2,4.2c-0.1,2.6-0.1,5.3,0,7.9
			c0,0.7-0.2,0.9-0.9,0.9c-1.4,0-2.8-0.1-4.2,0c-0.7,0-0.9-0.3-0.9-0.9c0-2.9-0.1-5.7,0-8.6c0.2-3.4,2.6-6.5,6.5-6.5
			c8.1,0,16.3,0,24.4,0c2.3,0,3.9-1.6,3.9-3.9c0-1.2,0-2.4-0.7-3.5c-0.7-1.1-1.7-1.6-2.9-1.6c-10.1,0-20.2,0-30.3,0
			C12,12,11.6,12,11.3,12z"></path>
            <path class="st2" fill="var(--menu-icon-path-fill)" d="M93.9,9c0,1,0,2,0,3c-0.3,0-0.6,0-0.9,0c-5.1,0-10.2,0-15.4,0c-1.5,0-2.7,0.5-3.4,1.9
			c-0.4,0.7-0.6,1.6-0.6,2.4c-0.1,4.3-0.1,8.7,0,13c0,2-0.5,3.8-1.8,5.3c-1.2,1.3-2.8,2-4.5,2.1c-1.8,0.2-3.7,0.2-5.5,0.2
			c-4.8,0-9.5,0-14.3,0c-1.1,0-1.1,0-1.1-1.1c0-2,0-2,2-2c5.2,0,10.3,0,15.5,0c2.2,0,3.3-1.5,3.6-3.2c0.2-0.7,0.2-1.5,0.2-2.2
			c0-4.2,0-8.3,0-12.5c0.1-4.1,2.9-6.9,6.9-6.9C80.7,9,86.8,9,92.9,9C93.3,9,93.6,9,93.9,9z"></path>
        </g>
    </g>
</svg>