<svg id="psIcon" viewBox="0 0 122 119" xmlns="http://www.w3.org/2000/svg">
    <g>

        <g>
            <g>
                <path class="st8" fill="var(--menu-icon-path-fill)" d="M47.1,79.8c0-26.6,0-53.1,0-79.8c2.8,0.7,5.5,1.2,8.2,1.9c7,1.8,14,3.8,20.7,6.5c2.8,1.1,5.5,2.5,8,4.4
				c3.6,2.7,6.1,6.1,7.2,10.5c1.4,5.5,1.7,11.1,0.4,16.6c-0.6,2.6-1.7,5-3.7,6.9c-3,2.9-6.7,3.4-10.7,2.6c-1.4-0.3-2.8-0.9-4.2-1.3
				c-0.6-0.2-0.8-0.6-0.8-1.2c0-8.6,0-17.3,0-25.9c0-1.3-0.2-2.7-0.6-4c-0.4-1.4-1.4-2.3-2.8-2.7c-1.4-0.4-2.5,0-3,1.3
				c-0.4,1-0.7,2.2-0.7,3.3c0,21.8,0,43.7,0,65.5c0,0.4,0,0.7,0,1.2C59,83.6,53.1,81.7,47.1,79.8z"></path>
                <path class="st8" fill="var(--menu-icon-path-fill)" d="M68.5,67.1c0-0.3,0-0.6,0-0.9c0-3.1,0-6.1,0-9.2c0-0.6,0.2-0.9,0.8-1c8.4-2.7,17-3.8,25.8-2.9
				c5.5,0.6,10.8,1.9,15.8,4c1.6,0.6,3,1.5,4.2,2.8c1.7,1.8,1.7,4,0.1,5.8c-1.8,2-4.2,3.3-6.7,4.2c-6,2.2-12.1,4.4-18.1,6.5
				c-7,2.5-14,5-21,7.5c-0.2,0.1-0.5,0.2-0.8,0.3c0-1.1,0-2.1,0-3.1c0-2.2,0-4.4,0-6.6c0-0.6,0.2-0.8,0.7-1c9.3-3.3,18.7-6.6,28-10
				c0.9-0.3,1.7-0.7,2.4-1.3c1-0.7,0.9-1.6-0.2-2.2c-1.6-0.9-3.4-0.9-5.2-0.9c-3.2,0-6.1,0.9-9,2c-5.3,1.9-10.6,3.7-15.8,5.6
				C69.1,66.9,68.8,67,68.5,67.1z"></path>
                <path class="st8" fill="var(--menu-icon-path-fill)" d="M43.5,48.3c0,2.7,0,5.4,0,8.1c0,0.8,0.2,1.8-0.1,2.3c-0.4,0.5-1.4,0.6-2.1,0.9c-5.4,1.9-10.7,3.8-16.1,5.8
				c-0.8,0.3-1.6,0.7-2.3,1.2c-1.1,0.8-1,1.7,0.2,2.3c1.6,0.8,3.3,0.8,5.1,0.8c3,0,5.8-0.8,8.6-1.8c2.2-0.9,4.4-1.6,6.8-2.5
				c0,1.3,0,2.4,0,3.6c0,1.7,0,3.4,0,5.1c0,0.4,0,0.7-0.6,0.7c-10.6,1.9-20.9,0.9-31-2.7c-1.7-0.6-3.3-1.5-4.7-2.8
				c-1.9-1.8-2.2-4.2-0.8-5.9c0.5-0.6,1.2-1.2,1.8-1.6c2.7-1.8,5.7-3.1,8.8-4.2c8.5-3,17-6,25.6-9.1C43,48.4,43.2,48.4,43.5,48.3z"></path>
            </g>
            <path class="st8" fill="var(--menu-icon-path-fill)" d="M0,93.8c0.5,0,0.9,0,1.3,0c2.1,0,4.1,0,6.2,0c2,0,3.4,0.9,4.1,2.8c0.7,2,0.8,4-0.1,6c-0.7,1.7-2.1,2.7-4,2.7
			c-0.9,0-1.9,0-2.9,0c0-0.7,0-1.3,0-2c0.7,0,1.4,0,2,0c0.8,0,1.4-0.4,1.7-1.1c0.7-1.8,0.7-3.6,0-5.3c-0.3-0.8-0.9-1.1-1.7-1.1
			c-1,0-1.9,0-2.9,0c-0.5,0-0.6,0.2-0.6,0.6c0,5,0,10,0,14.9c0,0.2,0,0.5,0,0.8c-1.1,0-2.1,0-3.2,0C0,106,0,100,0,93.8z"></path>
            <path class="st8" fill="var(--menu-icon-path-fill)" d="M34.9,119c0.2-0.6,0.4-1.1,0.6-1.6c0.6-1.6,1.3-3.2,1.9-4.9c0.1-0.3,0.1-0.7,0-1c-1.4-4.3-2.9-8.5-4.3-12.7
			c-0.1-0.2-0.1-0.3-0.2-0.6c1.1,0,2.2,0,3.2,0c0.1,0,0.3,0.3,0.3,0.5c0.9,2.6,1.8,5.1,2.6,7.7c0.1,0.3,0.2,0.5,0.3,0.9
			c0.1-0.3,0.2-0.5,0.3-0.6c1-2.7,2.1-5.3,3.1-8c0.1-0.4,0.3-0.5,0.7-0.5c0.8,0,1.7,0,2.6,0c-0.1,0.3-0.2,0.5-0.2,0.7
			c-2.6,6.5-5.2,13-7.8,19.6c-0.2,0.4-0.4,0.6-0.8,0.6C36.5,118.9,35.8,119,34.9,119z"></path>
            <path class="st8" fill="var(--menu-icon-path-fill)" d="M79.8,112.1c-1.1,0-2.1,0-3.2,0c0-4,0-7.9,0-12c-1.2,0.1-2.3,0-3.4,0.2c-0.4,0.1-0.9,0.6-1,1.1
			c-0.3,0.8-0.4,1.7-0.5,2.5c-0.1,1.5,0,3,0,4.5c0,1.3,0.4,1.7,1.7,1.7c0.6,0,1.1,0,1.7,0c0,0.7,0,1.3,0,1.9c-1.3,0-2.7,0.2-3.9,0
			c-1.6-0.3-2.5-1.5-2.6-3.1c-0.2-2.2-0.3-4.5,0.2-6.7c0.5-2.5,2-3.7,4.5-4c0.4,0,0.8,0,1.2,0c1.8,0,3.6,0,5.4,0
			C79.8,102.8,79.8,107.5,79.8,112.1z"></path>
            <path class="st8" fill="var(--menu-icon-path-fill)" d="M26.4,110.2c0,0.7,0,1.3,0,1.9c-0.2,0-0.3,0.1-0.4,0.1c-0.8,0-1.6,0-2.3,0c-2.1,0.2-3.6-1.3-3.8-3.2
			c-0.2-2.3-0.3-4.6,0.2-6.9c0.5-2.3,2-3.5,4.4-3.8c0.4-0.1,0.8-0.1,1.2-0.1c1.8,0,3.6,0,5.4,0c0,4.7,0,9.3,0,13.9
			c-1.1,0-2.1,0-3.2,0c0-4,0-7.9,0-11.9c-1.1,0-2.2,0-3.2,0c-0.6,0-1,0.5-1.2,1.1c-0.2,0.9-0.4,1.8-0.5,2.7c-0.1,1.5,0,2.9,0,4.4
			c0,0.3,0,0.6,0.1,0.9c0.1,0.6,0.5,0.8,1.1,0.8C24.9,110.2,25.6,110.2,26.4,110.2z"></path>
            <path class="st8" fill="var(--menu-icon-path-fill)" d="M110.6,98.2c2.2,0,4.4-0.1,6.6,0c2.6,0.2,4.2,1.8,4.6,4.5c0.1,0.8,0.1,1.7,0.1,2.5c0,2.2,0,4.5,0,6.7
			c0,0,0,0.1,0,0.2c-1,0-2.1,0-3.2,0c0-0.2,0-0.4,0-0.6c0-2.5,0-5,0-7.5c0-0.8-0.1-1.6-0.4-2.4c-0.3-1-0.9-1.4-2-1.4
			c-0.8,0-1.6,0-2.5,0c0,4,0,7.9,0,11.9c-1.1,0-2.2,0-3.3,0C110.6,107.5,110.6,102.9,110.6,98.2z"></path>
            <path class="st8" fill="var(--menu-icon-path-fill)" d="M96.6,105.2c0.1-0.9,0.1-1.8,0.2-2.7c0.5-2.6,2.4-4.2,5.1-4.3c0.8,0,1.6,0,2.4,0.2c2.3,0.5,3.8,2.1,4.1,4.4
			c0.2,1.6,0.2,3.3,0,4.9c-0.3,2.4-1.9,4-4.4,4.4c-1.3,0.2-2.6,0.2-3.8-0.3c-2.1-0.7-3.4-2.5-3.5-4.9
			C96.6,106.3,96.6,105.8,96.6,105.2C96.6,105.2,96.6,105.2,96.6,105.2z M105.3,105.2c-0.1-1-0.1-2-0.3-3c-0.3-1.4-1.1-2-2.4-2
			c-1.3,0-2.2,0.6-2.5,2c-0.4,2-0.4,4.1,0,6.1c0.3,1.4,1.1,1.9,2.5,1.9c1.3,0,2.1-0.6,2.4-2C105.2,107.2,105.2,106.2,105.3,105.2z"></path>
            <path class="st8" fill="var(--menu-icon-path-fill)" d="M47.9,112.2c0-0.7,0-1.3,0-2c1.4,0,2.7,0,4.1,0c2,0,2.8-0.8,2.8-2.8c0-0.6,0-1.1-0.1-1.7
			c-0.2-1-0.9-1.5-1.9-1.6c-0.4,0-0.9-0.1-1.3-0.1c-2.3-0.2-4-1.8-4.2-4.1c-0.1-1.4-0.1-2.7,0.7-3.9c0.7-1.2,1.8-2,3.1-2
			c1.9-0.1,3.9,0,5.9,0c0,0.6,0,1.2,0,1.9c-0.8,0-1.7,0-2.5,0c-0.8,0-1.5,0-2.3,0.1c-0.8,0.1-1.4,0.5-1.7,1.3
			c-0.3,0.9-0.4,1.9,0,2.8c0.3,0.8,0.9,1.3,1.8,1.4c0.6,0,1.2,0.1,1.7,0.1c2,0.1,3.2,1.2,3.7,3c0.5,1.6,0.5,3.3-0.1,4.9
			c-0.6,1.8-2.1,2.8-4,2.8C51.8,112.2,49.9,112.2,47.9,112.2z"></path>
            <path class="st8" fill="var(--menu-icon-path-fill)" d="M66.3,110.2c0,0.7,0,1.3,0,1.9c-1,0-2,0.1-3,0c-1.6-0.3-2.8-1.8-2.9-3.6c0-4.1,0-8.2,0-12.4
			c0-0.1,0-0.1,0.1-0.2c1,0,2.1,0,3.2,0c0,0.7,0,1.5,0,2.3c1.2,0,2.3,0,3.5,0c0,0.7,0,1.3,0,2c-1.1,0-2.2,0-3.4,0c0,0.3,0,0.5,0,0.7
			c0,2.5,0,5.1,0,7.6c0,0.3,0,0.5,0.1,0.8c0.1,0.6,0.5,0.9,1.1,0.9c0.2,0,0.5,0,0.7,0C65.8,110.2,66,110.2,66.3,110.2z"></path>
            <path class="st8" fill="var(--menu-icon-path-fill)" d="M85.7,95.9c0,0.7,0,1.5,0,2.3c1.2,0,2.3,0,3.4,0c0,0.7,0,1.3,0,2c-1.1,0-2.2,0-3.4,0c0,0.3,0,0.5,0,0.7
			c0,2.5,0,5,0,7.6c0,0.3,0,0.5,0.1,0.8c0.1,0.6,0.5,1,1.2,1c0.4,0,0.9,0,1.3,0c0,0,0,0,0.1,0.1c0,0.6,0,1.2,0,1.9
			c-1.7,0-3.4,0.4-4.7-1.1c-0.7-0.8-1.1-1.7-1.1-2.8c0-4,0-8.1,0-12.1c0-0.1,0-0.1,0-0.3C83.6,95.9,84.6,95.9,85.7,95.9z"></path>
            <path class="st8" fill="var(--menu-icon-path-fill)"
                  d="M17.3,112.1c-1.1,0-2.1,0-3.2,0c0-6.1,0-12.2,0-18.3c1,0,2.1,0,3.2,0C17.3,99.9,17.3,106,17.3,112.1z"></path>
            <path class="st8" fill="var(--menu-icon-path-fill)"
                  d="M91.3,112.1c0-4.6,0-9.2,0-13.9c1,0,2.1,0,3.1,0c0,4.6,0,9.2,0,13.9C93.4,112.1,92.3,112.1,91.3,112.1z"></path>
            <path class="st8" fill="var(--menu-icon-path-fill)" d="M94.4,93.8c0,0.1,0,0.3,0,0.4c0,0.8,0,1.5,0,2.3c-1.1,0-2.1,0-3.2,0c0-0.9,0-1.8,0-2.7
			C92.3,93.8,93.3,93.8,94.4,93.8z"></path>
        </g>
    </g>
</svg>