<svg class="room-icon stoneRoomIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 36">
    <g>
        <g>
            <g>
                <path fill="var(--menu-icon-path-fill)"
                      d="M12.5,0c1.1,2,2.1,3.9,3.1,5.9c3,5.8,6,11.5,9.2,17.3c0.3,0.6,0.3,1,0,1.5c-2.2,3.6-4.3,7.1-6.4,10.7c-0.2,0.4-0.5,0.6-1,0.6c-3.1,0-6.3,0-9.5,0c-0.5,0-0.8-0.2-1.1-0.6c-2.1-3.6-4.3-7.2-6.5-10.8c-0.2-0.4-0.3-0.7-0.1-1.2 C4,16.1,12.5,0,12.5,0z M12.4,35.3c0-0.2,0-0.3,0-0.4c0-1.1-0.1-2.1,0.4-3.2c1.6-3.2,3.1-6.4,4.7-9.6c0.2-0.3,0.2-0.8,0.1-1.2 c-1.1-3.9-2.3-7.7-3.4-11.6c-0.7-2.4-2-4.8-1.8-7.4c0,0,0,0-0.1-0.1c-0.1,0.1-0.2,0.2-0.2,0.3C8.4,9.2,4.6,16.3,0.9,23.4 c-0.1,0.2-0.1,0.7,0.1,1c2,3.5,4.1,7,6.2,10.4c0.1,0.2,0.4,0.5,0.6,0.5C9.3,35.3,10.8,35.3,12.4,35.3z M13.5,32.3 c0.1,0,0.1,0.1,0.2,0.1c3.1-2.6,6.1-5.2,9-7.6c-1.2-1.3-2.3-2.7-3.5-4.1C17.1,24.8,15.3,28.5,13.5,32.3z"></path>
                <path fill="var(--menu-icon-path-fill)"
                      d="M12.4,4.4c0,9.2,0,18.2,0,27.3c0,0-1-1.9-1.5-2.9c-1.2-2.4-2.3-4.8-3.4-7.2c-0.1-0.3-0.2-0.8-0.1-1.1 C9,15.2,12.2,4.6,12.4,4.4z"></path>
                <path fill="var(--menu-icon-path-fill)"
                      d="M11.3,32.3c-3-2.6-6.1-5.2-9.1-7.7c1.2-1.3,2.4-2.5,3.7-3.9c1.9,3.9,3.7,7.7,5.5,11.4 C11.4,32.2,11.4,32.3,11.3,32.3z"></path>
            </g>
        </g>
    </g>
</svg>