<svg class="vkIcon" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 60 60">
    <g>
        <path fill="var(--path-fill)" d="M30,0C13.4,0,0,13.4,0,30s13.4,30,30,30s30-13.4,30-30S46.6,0,30,0z M46.8,34c0.1,0.2,0.3,0.4,0.5,0.5
		c1.1,1.1,2.2,2.1,3.3,3.2c1.1,1.1,2.1,2.2,3,3.5c0.3,0.5,0.6,1,0.8,1.7c0.2,0.9-0.2,1.5-1,1.7c-0.3,0.1-0.7,0.2-1,0.2
		c-2.2,0-4.3,0.1-6.5,0.1c-0.1,0-0.2,0-0.3,0c-0.2,0-0.4,0-0.6,0c0,0-0.1,0-0.1,0c-1-0.2-1.9-0.5-2.7-1.2c-0.8-0.7-1.6-1.5-2.4-2.3
		c-0.5-0.6-1-1.2-1.5-1.7c-0.4-0.5-0.9-0.9-1.5-1.1c-0.5-0.2-0.9-0.2-1.3,0.2c-0.6,0.5-0.9,1.2-1.1,1.9c-0.2,0.8-0.2,1.6-0.2,2.4
		c0,0.9-0.4,1.4-1.3,1.6c-0.2,0-0.4,0.1-0.6,0.1c-1.1,0-2.2,0-3.2,0c-1,0-1.9-0.1-2.8-0.3c-1.9-0.4-3.6-1.3-5.3-2.4
		c-1.7-1.1-3.2-2.4-4.5-3.9c-2.8-3.5-5.3-7.3-7.4-11.3c-1.2-2.4-2.4-4.7-3.4-7.2c0-0.1,0-0.3,0-0.4c0.2-0.5,0.6-0.7,1.1-0.7
		c0.2,0,0.4,0,0.6,0c2.2,0,4.4,0,6.6,0c0.9,0,1.7,0.5,2,1.4c1.1,2.7,2.5,5.3,3.9,7.9c0.5,1,1.2,1.9,2,2.6c0.3,0.2,0.5,0.4,0.9,0.5
		c0.5,0.2,1.1,0,1.3-0.5c0.2-0.4,0.3-0.8,0.4-1.2c0.1-0.7,0.2-1.4,0.3-2.1c0.2-1.9,0.1-3.7-0.3-5.5c-0.2-0.9-0.6-1.6-1.5-2
		c-0.2-0.1-0.5-0.2-0.7-0.2c-0.6-0.1-0.6-0.2-0.2-0.7c0,0,0,0,0.1-0.1c0.6-0.7,1.5-1,2.4-1.1c1.6-0.2,3.2-0.2,4.8-0.2
		c1.1,0,2.1,0.1,3.2,0.3c0.9,0.2,1.5,0.6,1.6,1.5c0.1,0.4,0.1,0.8,0.1,1.1c0,1.5-0.1,3-0.1,4.5c0,1.4,0,2.8,0,4.2
		c0,0.6,0.2,1.2,0.6,1.6c0.4,0.4,0.8,0.4,1.2,0.1c0.7-0.5,1.2-1.1,1.7-1.7c1.5-2.1,2.8-4.3,3.9-6.6c0.4-0.9,0.8-1.9,1.2-2.8
		c0.3-0.6,0.7-0.9,1.3-1c0.1,0,0.3,0,0.4,0c1.7,0,3.5,0,5.2,0c0.9,0,1.9-0.1,2.8,0c0.7,0,1.4,0.1,1.8,0.9c0,0.2,0,0.4,0,0.6
		c0,0.2-0.1,0.3-0.1,0.5c-0.3,1.1-0.9,2.2-1.6,3.2c-1.2,1.9-2.7,3.7-4,5.6c-0.7,0.9-1.3,1.8-1.9,2.7C46.2,32.5,46.3,33.3,46.8,34z"></path>
    </g>

</svg>