<svg class="vrIcon" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 74 37">
    <g>
        <path fill="var(--menu-icon-path-fill)" d="M72.1,8.4h-1.6l0-1.1c0-2.6-2.1-4.7-4.7-4.7H44.5V1.9c0-1-0.8-1.9-1.9-1.9H31.9c-1,0-1.9,0.8-1.9,1.9v0.8H8.1
		c-2.6,0-4.7,2.1-4.7,4.7l0,1H1.9c-1,0-1.9,0.8-1.9,1.9V21c0,1,0.8,1.9,1.9,1.9h2.1l0.3,9.5c0,2.6,2.1,4.7,4.7,4.7h19.2
		c0.1,0,2.8,0,4.4-1.4c0.2-0.2,0.5-0.6,1-1.3c0.4-0.6,0.9-1.2,1.2-1.5c0.9-0.9,2.3-0.8,2.3-0.8l0,0l0,0c0,0,1.4-0.1,2.3,0.8
		c0.3,0.3,0.7,0.9,1.2,1.5c0.5,0.7,0.8,1.1,1,1.3C43,37,45.7,37,45.9,37c0,0,0,0,0,0h19.2c2.6,0,4.7-2.1,4.7-4.6l0.3-9.5h2.1
		c1,0,1.9-0.8,1.9-1.9V10.3C74,9.2,73.2,8.4,72.1,8.4z M1.9,21.7c-0.4,0-0.8-0.3-0.8-0.8V10.3c0-0.4,0.3-0.8,0.8-0.8h1.6l0.4,12.2
		H1.9z M31.1,1.9c0-0.4,0.3-0.8,0.8-0.8h10.7c0.4,0,0.8,0.3,0.8,0.8v0.8H31.1V1.9z M58.1,18c0,0.5-0.4,0.9-0.9,0.9H40v8.5
		c0,0.5-0.4,0.9-0.9,0.9s-0.9-0.4-0.9-0.9V18c0-0.5,0.4-0.9,0.9-0.9h17.1v-6.6H38L27.6,27c-0.2,0.3-0.5,0.4-0.8,0.4
		c-0.3,0-0.6-0.2-0.8-0.4L15.4,10.1c-0.3-0.4-0.1-1,0.3-1.3c0.4-0.3,1-0.1,1.3,0.3l9.9,15.7l9.9-15.7c0.2-0.3,0.5-0.4,0.8-0.4h19.7
		c0.5,0,0.9,0.4,0.9,0.9V18z M72.9,21c0,0.4-0.3,0.8-0.8,0.8h-2l0.4-12.2h1.6c0.4,0,0.8,0.3,0.8,0.8V21z"></path>
    </g>
</svg>