<svg class="room-icon waterRoomIcon" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 40 36">
    <g>
        <g>
            <g>
                <path fill="var(--menu-icon-path-fill)"
                      d="M23.8,17.6c-1.3,7.7-7.6,11.7-12.7,10.9c-2.6-0.5-5.5-3.3-5.6-6.6c-0.1-5.3,5.6-7.6,9.3-5.3 c-1.2-2.7-4.7-4.2-8.2-2.7c-5.2,1.8-8,8.7-5.4,14.8c2.2,5.4,7.4,7.6,12.7,7.2c7.4-1.2,14.7-6.2,15.2-18.4 c0.3-8.3,4.5-13.9,10.5-16.6C30.8,2.8,25.7,8.1,23.8,17.6z"></path>
                <path fill="var(--menu-icon-path-fill)"
                      d="M12.8,10.9c0.8-1.5-1-2.6-1.9-0.9c-0.4,0.7-0.1,1.7-1.1,2.2C10.7,12.1,12.3,11.7,12.8,10.9z"></path>
                <path fill="var(--menu-icon-path-fill)"
                      d="M6.1,8.8c1.3,1.1,1.5,3-0.2,3.9c2.3-0.2,4.9-2.8,3.1-6.2C8.5,5.4,7,4.8,5.9,5.7C5.1,6.6,5.1,8,6.1,8.8z"></path>
                <path fill="var(--menu-icon-path-fill)"
                      d="M8,18.5c-2,2.7-1.6,8.4,3.9,9.1c-4.1-1.5-4.2-6.6-2.8-8.2c1.6-2.1,4.6-2.5,6.1-1.5 C13.8,15.3,9.4,16.4,8,18.5z"></path>
            </g>
        </g>
    </g>
</svg>