<svg class="room-icon woodRoomIcon" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 36 36" width="36" height="36">
    <g>
        <g>
            <path fill="var(--menu-icon-path-fill)" d="M17.1,31.3c0.1,1.3,0.3,2.6,0.4,3.9c0.1,0.7-0.2,0.9-0.8,0.7c-1-0.2-2.1-0.4-3.1-0.5c-0.6-0.1-0.9-0.4-1-1
			c-0.2-1.2-0.5-2.3-0.7-3.5c-0.1-0.5-0.3-0.7-0.8-0.9c-1.5-0.6-3-1.1-4.3-2c-4.3-2.6-5.7-6.8-4.2-11.6c1-3.1,2.9-5.5,5.3-7.6
			c4.6-4.1,10-6.8,15.8-8.9c0.2-0.1,0.6,0,0.8,0.2c3.9,5.2,7.5,10.7,9.1,17c0.4,1.4,0.4,2.9,0.4,4.4c0,2.2-1.1,3.8-2.8,5.2
			c-2.4,2-5.3,2.9-8.4,3.5C21,30.8,19.1,31,17.1,31.3z M14.5,31.5c0.1-1.4,0.3-2.8,0.3-4.2c0-0.6,0.3-1,0.7-1.4
			c3.1-2.5,6.7-3.5,10.6-3.2c0.7,0.1,1.5,0.2,2.2,0.3c-4.3-2.1-8.6-1.7-13,0.1c0.2-1.3,0.4-2.5,0.7-3.7c0-0.2,0.3-0.4,0.5-0.6
			c2.8-1.9,5.8-2.8,9.2-2.5c1.1,0.1,2.1,0.4,3.2,0.6c-3.8-2.5-7.8-2.8-12-0.7c0.2-1.5,0.5-2.6,1.9-3.4c1.8-1.1,3.7-1.9,5.9-2
			c0.4,0,0.9,0,1.3,0s0.8,0,1.2,0.1c-2.9-1.3-5.7-1-8.7,0.3c1-2.3,1.8-4.5,2.7-6.6c-0.1,0-0.2-0.1-0.2-0.1c-1.4,2.2-2.8,4.4-4.2,6.6
			c-3.4-2-4.5-2.3-5.8-1.7v0.1c0.2,0.1,0.4,0.2,0.6,0.3c1.7,0.6,3,1.7,3.9,3.2c0.1,0.2,0.3,0.6,0.2,0.8c-0.3,0.8-0.6,1.5-0.9,2.3
			C11.1,14.3,8.6,13.8,7,15c0.3,0,0.5,0,0.7,0.1c2.4,0.3,4.4,1.2,5.9,3.2c0.1,0.2,0.3,0.5,0.3,0.7c-0.2,1.2-0.5,2.3-0.7,3.5
			c-3.6-1.9-6.5-2.4-7.9-1.2c0.2,0,0.3,0,0.5,0.1c2.7,0.5,5.2,1.5,6.9,3.8c0.3,0.3,0.4,0.9,0.4,1.3C13.1,28.2,13.5,29.9,14.5,31.5z"></path>
        </g>
    </g>
</svg>