@import "font-awesome.css";
/*Roboto*/
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
    src: local('☺'), url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold/Roboto-Bold.eot');
    src: local('☺'), url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium/Roboto-Medium.eot');
    src: local('☺'), url('../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light/Roboto-Light.eot');
    src: local('☺'), url('../fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.eot');
    src: local('☺'), url('../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.woff') format('woff'),
    url('../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot');
    src: local('☺'), url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.woff') format('woff'),
    url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.ttf') format('truetype');
}

