@import "mixins.less";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: @dark-bg;
  overflow-x: hidden;
  &.overlayShow {
    overflow: hidden;
    .overlay {
      .transform(translateY(0));
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, .8);
  .transition(all .4s);
  .transform(translateY(-100%));
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.arrow {
  .arrowIcon {
    width: 28px;
    height: 80px;
    --menu-icon-path-fill: @yellow;
    fill-opacity: 0.7;
    cursor: pointer;
    @media @mobile {
      width: 14px;
      height: 40px;
    }
  }
  &.arrow-right {
    transform: rotate(-180deg);
  }
}

.pseudo-wrap {
  display: flex;
  .pos-centerX;
  //bottom: 100%;
  &.top {
    bottom: 100%;
    .triangle {
      //top: -2px;
      &.left {
        border-width: 0 0 50px 32px;
        border-color: transparent transparent @yellow transparent;
        &:after {
          border-width: 0 0 48px 30px;
          border-color: transparent transparent @dark-bg;
          top: 2px;
          right: -1px;
          left: auto;
        }
      }
      &.right {
        border-width: 50px 0 0 32px;
        border-color: transparent transparent transparent @yellow;
        &:after {
          border-width: 48px 0 0 30px;
          border-color: transparent transparent transparent @dark-bg;
          top: -48px;
          left: -32.2px;
        }
      }
    }
    .pseudo {
      border-top: 2px solid @yellow;
    }
  }
  &.bottom {
    top: 100%;

    .triangle {
      &.left {
        border-width: 0 15px 24px 0;
        border-color: transparent @yellow transparent transparent;
        &:after {
          border-width: 0 13px 22px 0;
          border-color: transparent @white transparent transparent;
        }
      }
      &.right {
        border-width: 24px 15px 0 0;
        border-color: @yellow transparent transparent transparent;
        &:after {
          border-width: 22px 13px 0 0;
          border-color: @white transparent transparent transparent;
          top: -24px;
          right: -12px;
        }
      }
    }
    .pseudo {
      border-bottom: 2px solid @yellow;
    }
  }
  .left {
    width: 0;
    height: 0;
    border-style: solid;
    //right: 100%;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      top: 0;
      left: 3px;
    }
  }
  .right {
    width: 0;
    height: 0;
    border-style: solid;
    position: relative;
    //left: 100%;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
    }
  }
  .pseudo {
    background: @white;
    position: relative;
    //.pos-centerX;
    //.triangle {
    //  position: absolute;
    //  top: 0;
    //}
    //&.bottom {
    //
    //}
    //&.top {
    //
    //}
  }
}


header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: @white;
  border-bottom: 2px solid @yellow;
  z-index: 100;
  @media @mobile {
    top: 45px;
  }
  .logo {
    display: block;
    position: absolute;
    .pos-centerX;
    top: 10px;
    --path-fill: @yellow;
  }
  .container {
    height: 100%;
  }
  .pseudo-wrap {
    height: 24px;
    width: 230px;
    //width: 205px;
    .pseudo {
      height: 100%;
      width: 100%;
    }
  }
}

.show-nav {
  .nav-trigger {
    &:focus {
      outline: none;
    }
    span {
      &:nth-child(1) {
        .transform(rotate(405deg));
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        .transform(rotate(-405deg));
        bottom: 18px;
      }
    }
  }
  .xclose {
    left: 15px;
    position: absolute;
    top: 15px;
  }
  .mobileMainMenu {
    .transform(translateY(0));
    top: -45px;
  }
}

.nav-trigger {
  display: none;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  height: 100%;
  padding: 0;
  width: 65px;
  cursor: pointer;
  position: absolute;
  right: 0;
  .pos-centerY;
  z-index: 20;
  &:focus {
    outline: none;
  }
  span {
    background-color: @dark-bg;
    display: block;
    height: 4px;
    margin: 5px auto;
    position: relative;
    transition: all 1s ease 0s;
    width: 34px;
  }
  @media @tablet, @mobile {
    display: inline-block;
  }
}

.navWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobHeader {
  display: none;
  height: 45px;
  background: @yellow;
  border-bottom: 1px solid #9d8404;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  @media @mobile {
    display: flex;
  }
  .head-ttl {
    font-size: 20px;
    color: @dark-bg;
    text-transform: uppercase;
    font-family: @RM;
  }
  nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: -90px;
    margin-top: 90px;
    .transition(all 0.3s);
    .transform(translateY(-100%));
    li {
      width: 100%;
      &:hover {
        a {
          background: @dark-bg;
          color: @yellow;
        }
      }
      a {
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: @bgNav;
        border-top: 1px solid @boTNav;
        border-bottom: 1px solid @boBNav;
      }
    }
  }
}

.mainMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    width: ~"calc(50% - 95px)";
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media @mobile {
      display: none;
    }
    li {
      padding: 10px;
      cursor: pointer;
      &:hover {
        a {
          color: @text-orange;
        }
      }
    }
    a {
      font-family: @RB;
      text-transform: uppercase;
      color: @text-color;
      .transition(all .4s);

    }
  }
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  &.white {
    background: @white;
  }
}

.container-mini {
  max-width: 1050px;
  padding: 0 20px;
  margin: 0 auto;
}

.mainSlider {
  height: 565px;
  @media @mobile {
    height: 210px;
    margin-top: 115px;
  }
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .arrow {
    .pos-centerY;
    z-index: 10;
    //.arrowIcon {
    //  width: 28px;
    //  height: 80px;
    //  --menu-icon-path-fill: @yellow;
    //  fill-opacity: 0.7;
    //  @media @mobile {
    //    width: 14px;
    //    height: 40px;
    //  }
    //}
    &:hover {
      .arrowIcon {
        fill-opacity: 1;
      }
    }
    &.arrow-left {
      left: 80px;
      @media @desktop, @tablet {
        left: 50px;
      }
      @media @mobile {
        left: 25px;
      }
    }
    &.arrow-right {
      right: 80px;
      transform: translateY(-50%) rotate(-180deg);
      @media @desktop, @tablet {
        right: 50px;
      }
      @media @mobile {
        right: 25px;
      }
    }
  }
}

section {
  padding: 35px 0;
  @media @mobile {
    padding: 25px 0;
  }
  &.bg {
    background: @white;
  }
  &.light-gray {
    background: @light-bg;
  }
  &.shadow-top {
    box-shadow: 0 -2px 3px rgba(85, 44, 0, .35);
  }
  &.no-pad {
    padding: 0;
  }
  .section-ttl {
    background: @yellow;
    font-family: @RL;
    font-size: 36px;
    text-align: center;
    padding: 10px 0;
    strong {
      font-size: inherit;
      color: inherit;
      font-family: @RM;
    }
    @media @tablet, @mobile {
      font-size: 30px;
    }
    @media @mobile {
      font-size: 18px;
      padding: 4px 0;
    }
  }
  .ttl {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
    @media @mobile-xs {
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
  }
}

.sectionInner {
  margin-top: 70px;
  //margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  @media @mobile {
    padding-top: 90px;
    padding-bottom: 0;
    margin-top: 45px;
  }
  & > .textWrapper {
    padding: 50px 0;
  }
}

.btn3d {
  width: 310px;
  height: 99px;
  display: block;
  background-image: url('../img/ico/3d.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  opacity: .8;
  margin: 25px auto 0;
  @media @tablet {
    width: 235px;
    height: 75px;
  }
  @media @mobile {
    width: 155px;
    height: 50px;
  }
  &:hover {
    opacity: 1;
  }
}

/*section 2*/
.section-two {
  border-top: 2px solid @yellow;
  position: relative;
  @media @mobile {
    padding-top: 35px;
  }
  .pseudo-wrap {
    height: 50px;
    .pos-centerX;
    bottom: 100%;
    .triangle {
      &.left {
        border-width: 0 0 48px 34px;
        @media @mobile {
          border-width: 0 0 32px 21px;
        }
        &:after {
          border-width: 0 0 48px 34px;
          @media @mobile {
            border-width: 0 0 30px 20px;
          }
        }
      }
      &.right {
        border-width: 48px 0 0 33px;
        @media @mobile {
          border-width: 32px 0 0 20px;
        }
        &:after {
          border-width: 48px 0 0 33px;
          top: -46px;
          left: -34.2px;
          @media @mobile {
            top: -30px;
            left: -21.2px;
            border-width: 30px 0 0 20px;
          }
        }
      }
    }
    .pseudo {
      height: 50px;
      width: auto;
      background: @dark-bg;
      @media @mobile {
        height: 32px;
      }
      span {
        font-size: 17px;
        font-family: @RL;
        color: @white;
        text-transform: uppercase;
        display: block;
        padding: 15px 10px 5px;
        @media @mobile {
          font-size: 12px;
          padding: 10px 2px 5px;
        }
      }
      .phone {
        text-align: center;
        position: absolute;
        left: -13px;
        white-space: nowrap;
        z-index: 11;
        display: flex;
        align-items: center;
        @media @mobile {
          left: 0px;

        }
        svg {
          --path-fill: @yellow;
          margin-right: 10px;
          width: 24px;
          height: 24px;
          @media @mobile {
            width: 19px;
            height: 19px;
            margin-right: 5px;
          }
        }
        a {
          font-size: 34px;
          font-family: @RB;
          color: @yellow;
          white-space: nowrap;
          @media @mobile {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.section-three {
  padding: 50px 0;
  @media @mobile {
    padding: 25px 0;
  }
}

.section-five {
  padding: 50px 0;
  @media @mobile {
    padding: 25px 0;
    display: none;
  }
  .newsWrapper {
    @media @mobile {
      display: none;
    }
  }
}

#phone {
  fill: @yellow;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

//.arrow {
//  --menu-icon-path-fill: @gray;
//}

.btn {
  background: @yellow;
  height: 50px;
  font-family: @RB;
  font-size: 24px;
  color: @white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  overflow: hidden;
  .transition(all .4s);
  position: relative;
  z-index: 1;
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  &:before {
    background: #b3c766;
  }
  &:after {
    background: @green;
  }
  &:hover {
    &:before,
    &:after {
      transform: translate3d(0, 100%, 0);
    }
    &:after {
      transition-delay: 0.175s;
    }
  }
  &.btnTransparent {
    height: 50px;
    min-width: 190px;
    text-align: center;
    background: transparent;
    border: 1px solid @white;
  }
}

.roomNavWrapper {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media @mobile {
    flex-wrap: wrap;
  }
  .item-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media @mobile {
      order: 2;
    }
    &:hover {
      .item {
        border-color: @green;
        cursor: pointer;
        #pcIcon, #psIcon {
          --menu-icon-path-fill: @green;
        }
      }
      .arrow {
        .arrowIcon {
          --menu-icon-path-fill: @green;
        }
      }
    }
    .arrow {
      --menu-icon-path-fill: @yellow;
      width: 28px;
      height: 80px;
      @media @mobile {
        display: none;
      }
      &.arrow-left {
        margin-left: 60px;
        @media @tablet, @mobile {
          margin-left: 35px;
        }
      }
      &.arrow-right {
        margin-right: 60px;
        .transform(rotate(-180deg));
        @media @tablet, @mobile {
          margin-right: 35px;
        }
      }
    }
  }
  .center {
    @media @mobile {
      order: 1;
      width: 100%;
      text-align: center;
      padding: 5px 0 25px;
    }
  }
  h3 {
    font-family: @RL;
    font-size: 41px;
    color: @yellow;
    text-transform: uppercase;
    @media @tablet {
      font-size: 35px;
    }
    @media @mobile {
      font-size: 20px;

    }
  }
  .item {
    width: 174px;
    height: 174px;
    border: 2px solid @yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media @tablet {
      width: 140px;
      height: 140px;
    }
    @media @mobile {
      width: 85px;
      height: 85px;
    }
    &.pc {
      svg {
        width: 92px;
        height: 82px;
        --menu-icon-path-fill: @yellow;
        @media @tablet {
          width: 65px;
          height: 60px;
        }
        @media @mobile {
          width: 55px;
          height: 50px;
        }
      }
    }
    &.ps {
      svg {
        width: 122px;
        height: 119px;
        --menu-icon-path-fill: @yellow;
        @media @tablet, @mobile {
          width: 80px;
          height: 80px;
        }
        @media @mobile {
          height: 50px;
          width: 50px;
        }
      }
    }
  }
  .arrow {
    .arrowIcon {
      --menu-icon-path-fill: @gray;
    }
  }
}

.room-icon {
  --menu-icon-path-fill: @yellow;
}

.personIcon {
  width: 19px;
  height: 45px;
  @media @tablet {
    width: 12px;
    height: 30px;
  }
  @media @mobile {
    width: 10px;
    height: 23px;
  }
}

.pc40Icon, .pc43Icon, .pc55Icon {
  width: 100px;
  height: 72px;
  @media @tablet {
    width: 70px;
    height: 50px;
  }
  @media @mobile {
    width: 54px;
    height: 38px;
  }
}

.pcmini {
  .pc40Icon {
    width: 77px;
    height: 56px;
    @media @tablet {
      width: 50px;
      height: 38px;
    }
    @media @mobile {
      width: 36px;
      height: 25px;
    }
  }
}

.dualshockPlusIcon {
  width: 76px;
  height: 36px;
  @media @tablet {
    width: 65px;
    height: 32px;
  }
  @media @mobile {
    width: 40px;
    height: 19px;
  }
}

.ps4Icon {
  width: 144px;
  height: 46px;
  @media @tablet {
    width: 90px;
    height: 30px;
  }
  @media @mobile {
    width: 76px;
    height: 24px;
  }
}

.dualshockIcon {
  width: 63px;
  height: 45px;
  @media @tablet {
    width: 40px;
    height: 30px;
  }
  @media @mobile {
    width: 32px;
    height: 23px;
  }
}

.proIcon {
  width: 73px;
  height: 46px;
  @media @tablet {
    width: 50px;
    height: 32px;
  }
  @media @mobile {
    width: 40px;
    height: 24px;
  }
}

.projectorIcon {
  width: 130px;
  height: 53px;
  @media @tablet {
    width: 100px;
    height: 40px;
  }
  @media @mobile {
    width: 75px;
    height: 30px;
  }
}

.vrIcon {
  width: 74px;
  height: 37px;
  @media @tablet {
    width: 50px;
    height: 25px;
  }
  @media @mobile {
    width: 42px;
    height: 20px;
  }
}

.commonRoomIcon {
  width: 36px;
  height: 36px;
  @media @mobile {
    width: 24px;
    height: 24px;
  }
}

.waterRoomIcon {
  width: 40px;
  height: 36px;
  @media @mobile {
    width: 26px;
    height: 24px;
  }
}

.stoneRoomIcon {
  width: 25px;
  height: 36px;
  @media @mobile {
    width: 18px;
    height: 24px;
  }
}

.fireRoomIcon {
  width: 36px;
  height: 40px;
  @media @mobile {
    width: 22px;
    height: 26px;
  }
}

.metalRoomIcon {
  width: 36px;
  height: 36px;
  @media @mobile {
    width: 24px;
    height: 24px;
  }
}

.woodRoomIcon {
  width: 36px;
  height: 36px;
  @media @mobile {
    width: 24px;
    height: 24px;
  }
}

.roomsWrapper {
  padding: 35px 0 0;
  @media @mobile {
    padding: 20px 0 0;
  }
  .item-wrap {
    margin-bottom: 50px;
    @media @mobile {
      margin-bottom: 35px;
    }
    &:last-child {
      @media @mobile {
        margin: 0;
      }
    }
    .room-icon {
      --menu-icon-path-fill: @yellow;
    }
    .btn-wrap {
      padding: 0 2.5px;
    }
  }
  .room-ttl {
    font-family: @RM;
    font-size: 30px;
    color: @yellow;
    text-transform: uppercase;
    border-bottom: 3px solid @yellow;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    @media @tablet {
      font-size: 25px;
    }
    @media @mobile {
      font-size: 15px;
      border-width: 2px;
      margin-bottom: 10px;
    }
    .room-icon {
      margin-right: 5px;
      --menu-icon-path-fill: @yellow;
    }
  }
  .item {
    height: 335px;
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    @media @tablet {
      height: 260px;
    }
    @media @mobile {
      height: auto;
      flex-direction: column;
      margin: 0;
    }
    .item-img {
      height: 100%;
      width: ~'calc(50% - 20px)';
      margin: 0 10px;
      overflow: hidden;
      @media @mobile {
        width: 100%;
        margin: 0 0 10px;
        height: 165px;
      }
      &:hover {
        .bg {
          .transform(scale(1));
        }
      }
      .bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        .transition(all .4s ease-in-out);
        .transform(scale(1.15));
        width: 100%;
        height: 100%;
      }
    }
    .item-info {
      width: ~'calc(50% - 20px)';
      margin: 0 10px;
      display: flex;
      flex-wrap: wrap;
      @media @mobile {
        width: auto;
        margin: 0 -2.5px;
      }
      .item-part {
        height: 135px;
        width: ~'calc(100% / 3 - 5px)';
        margin: 0 2.5px 5px;
        background: @text-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media @tablet {
          height: 100px;
        }
        @media @mobile {
          height: 68px;
        }
        @media @mobile-xs {
          width: ~'calc(100% / 2 - 5px)';
        }
        &.bg {
          background: transparent;
        }
        .item-part-mini {
          width: 100%;
          height: 65px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          background: @text-color;
          &:first-child {
            margin: 0 0 5px;
          }
          .text-wrap {
            margin: 0 0 0 10px;
          }
        }
      }
      .icon-wrap {
        svg {
          --menu-icon-path-fill: @light-gray;
          --menu-icon-path-dark-fill: @dark-gray;
          & + svg {
            margin-left: 15px;
            @media @tablet {
              margin-left: 10px;
            }
            @media @mobile {
              margin-left: 5px;
            }
          }
        }
        &.mt5 {
          & + .icon-wrap {
            margin-top: 5px;
          }
        }
        & + .text-wrap {
          margin-top: 20px;
          @media @tablet, @mobile {
            margin-top: 10px;
          }
        }
        & + .icon-wrap {
          margin-top: 10px;
          @media @tablet, @mobile {
            margin-top: 5px;
          }
        }
      }
      .text-wrap {
        font-size: 20px;
        font-family: @RL;
        color: #fff;
        display: block;
        @media @tablet, @mobile {
          font-size: 16px;
        }
        &.cond {
          font-family: @RCR;
          text-transform: uppercase;
        }
        strong {
          font-family: @RB;
          font-size: inherit;
          color: inherit;
        }
        & + .text-wrap {
          margin-top: 10px;
          @media @tablet, @mobile {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

.newsSection {
  .newsWrapper {
    @media @mobile {
      padding-top: 25px;
    }
  }
}

.newsWrapper {
  .item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 50px;
    @media @mobile {
      margin: 0 0 35px;
      flex-direction: column;
    }
    &.show {
      flex-direction: column;
      .item-img, .item-info {
        width: 100%;
        height: auto;
      }
      .item-img {
        justify-content: center;

      }

    }
    .item-info,
    .item-img {
      width: ~'calc(50% - 20px)';
      margin: 0 10px 20px;
      height: 330px;
      overflow: hidden;
      @media @tablet {
        max-height: 210px;
      }
      @media @mobile {
        width: 100%;
        margin: 0;
      }
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .item-img {
      display: flex;
      align-items: center;
      .transition(width .4s);
      //background-repeat: no-repeat;
      //background-position: center center;

      //background-size: cover;
      @media @tablet {
        max-height: 210px;
      }
      @media @mobile {
        height: auto;
        margin-bottom: 10px;
        justify-content: center;
      }
    }
    .item-info {
      position: relative;
      &:after {
        content: '';
        display: block;
        height: 50px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }
    }

    .item-footer {
      width: 100%;
      height: 55px;
      background: @gray-f;
      border: 1px solid @gray-f;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media @tablet {
        height: 45px;
      }
      @media @mobile {
        height: 36px;
      }
    }
    .item-ttl {
      font-family: @RM;
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 25px;
      @media @tablet, @mobile {
        margin-bottom: 10px;
        font-size: 20px;
      }
    }
    p {
      font-family: @RL;
      font-size: 18px;
      margin-bottom: 25px;
      strong {
        font-family: @RM;
        font-size: inherit;
      }
    }
  }
}

.socWrap {
  display: flex;
  align-items: center;
  .bubble {
    min-width: 46px;
    height: 46px;
    background: @white;
    border: 1px solid @border;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a499ab;
    font-family: @RL;
    margin-left: 16px;
    position: relative;
    @media @tablet {
      height: 40px;
      min-width: 40px;
    }
    @media @mobile {
      height: 30px;
      min-width: 30px;
    }
    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 8px 6px 0;
      border-color: transparent #fff transparent transparent;
      right: 100%;
      .pos-centerY;
    }
  }
}

.socials {
  margin: 0 -5px;
  display: flex;
  @media @tablet, @mobile {
    margin: 0 -3px;
  }
  li {
    margin: 0 5px;
    @media @tablet, @mobile {
      margin: 0 3px;
    }
  }
  a {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, .5);
    @media @tablet {
      width: 40px;
      height: 40px;
    }
    @media @mobile {
      width: 30px;
      height: 30px;
    }
    &.fb {
      background: #3b5998;
    }
    &.gp {
      background: #dc4e41;
    }
    &.tw {
      background: #55acee;
    }
    i {
      color: #fff;
      font-size: 30px;
      @media @tablet {
        font-size: 20px;
      }
      @media @mobile {
        font-size: 16px;
      }
    }
  }
}

.readMore {
  background: @yellow;
  padding: 0 10px;
  font-family: @RL;
  font-size: 18px;
  text-transform: uppercase;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  .transition(all .4s);
  cursor: pointer;
  z-index: 1;
  @media @tablet {
    height: 45px;
    font-size: 16px;
  }
  @media @mobile {
    height: 36px;
    font-size: 12px;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  &:before {
    background: #b3c766;
  }
  &:after {
    background: @green;
  }
  &:hover {
    color: #fff;
    &:before,
    &:after {
      transform: translate3d(0, 100%, 0);
    }
    &:after {
      transition-delay: 0.175s;
    }
    svg {
      --path-fill: @white;
    }
  }
  svg {
    margin-left: 10px;
    --path-fill: #000;
    .transition(all .4s);
  }
}

.footer {
  background: @dark-bg;
  border-top: 2px solid @yellow;
  padding: 30px 0;
  position: relative;
  @media @mobile {
    margin-top: 155px;
  }
  &.shadow-top {
    box-shadow: 0 -3px 18px rgba(85, 44, 0, .35);
  }
  .pseudo {
    height: 50px;
    width: 230px;
    background: @dark-bg;
    @media @tablet {
      width: 200px;
    }
    @media @mobile {
      width: 120px;
      height: 40px;
    }
    .logo {
      top: 15px;
      .pos-centerX;
      z-index: 111;
      @media @mobile {
        top: 10px;
      }
    }
    .triangle {
      &.left {
        @media @mobile {
          border-width: 0 0 38px 24px;
        }
        &:after {
          @media @mobile {
            border-width: 0 0 38px 24px;
          }
        }
      }
      &.right {
        @media @mobile {
          border-width: 40px 0 0 26px;
          //top: -38px;
          //left: -25.2px;
        }
        &:after {
          @media @mobile {
            border-width: 38px 0 0 25px;
            top: -38px;
            left: -26.2px;
          }
        }
      }
    }
  }
  .logoFooter {
    width: 353px;
    height: 142px;
    --path-fill: @yellow;
    @media @tablet {
      width: 280px;
      height: 115px;
    }
    @media @mobile {
      width: 176px;
      height: 70px;
    }
  }
  .footerWrap {
    display: flex;
    justify-content: space-between;
    @media @mobile {
      top: -165px;
      .pos-centerX;
    }
  }
  .soc-ttl {
    font-family: @RM;
    color: @white;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 16px;
  }
  .socialsFooter {
    margin: 0 -10px;
    display: flex;
    justify-content: center;
    li {
      margin: 0 10px;
      @media @mobile {
        margin: 0 5px;
      }
    }
    a {
      display: block;
      .transition(all 1s);
      &:hover {
        .transform(rotate3d(0, 1, 0, 360deg));
        svg {
          --path-fill: @yellow;
        }
      }
      svg {
        width: 60px;
        height: 60px;
        --path-fill: @fIconHGray;
        .transition(all .4s);
        @media @mobile {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  .menuFooter {
    display: flex;
    flex-wrap: wrap;
    max-width: 285px;
    @media @tablet {
      max-width: 200px;
    }
    @media @mobile {
      display: none;
    }
    li {
      width: 50%;
      a {
        font-family: @RM;
        color: @white;
        text-transform: uppercase;
        margin-bottom: 15px;
        display: inline-block;
        position: relative;
        &:after {
          content: '';
          display: block;
          height: 2px;
          width: 0;
          background: @yellow;
          transition: all .4s;
          position: absolute;
          bottom: 0;
          left: 50%;
          right: 50%;
        }
        &:hover {
          color: @yellow;
          &:after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}

.textWrapper {
  padding: 40px 0;
  @media @desktop, @tablet {
    padding: 25px 0;
  }
  @media @mobile {
    padding: 25px 0;
  }
  &.text-center {
    @media @mobile {
      text-align: left;
    }
  }
  p {
    font-size: 18px;
    color: @white;
    font-family: @RL;
    line-height: 1.35;
    @media @desktop {
      font-size: 16px;
    }
    @media @tablet {
      font-size: 15px;
    }
    @media @mobile {
      font-size: 14px;
    }
  }
}

.tabs {
  &.full-tab {
    .tabs-nav-wrap {
      @media @mobile {
        display: block;
      }
    }
    .tabs-container {
      .wrap-container {
        display: none;
        &.selected {
          display: block;
        }
      }
    }
  }
  &.tabsGames {
    .tabs-container {
      padding: 25px 0;
      background: #fff;
      position: relative;
      &:after {
        content: '';
        display: block;
        background: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50px;
      }
    }
  }
  .tabs-nav-wrap {
    border-bottom: 5px solid @yellow;
    @media @mobile {
      display: none;
    }
    .tabs-nav {
      display: flex;
      margin: 0 -10px;
      &.two-item {
        justify-content: center;
        li {
          width: auto;
          padding: 0 30px;
          @media @mobile {
            padding: 0 10px;
            margin: 0 2px;
            height: 40px;
          }
          &.active {
            .tab-ttl {
              color: @dark-bg;
            }
          }
          .tab-ttl {
            font-size: 36px;
            text-transform: none;
            @media @desktop {
              font-size: 24px;
            }
            @media @tablet {
              font-size: 20px;
            }
            @media @mobile {
              font-size: 12px;
            }
          }
        }
      }
      li {
        margin: 0 10px;
        height: 76px;
        width: ~"calc(100% / 6)";
        background: @text-color;
        cursor: pointer;
        padding: 10px;
        transition: all .4s;
        &:hover,
        &.active {
          background: @yellow;
          .room-icon {
            --menu-icon-path-fill: @dark-bg;
          }
          .room-ttl {
            color: @dark-bg;
          }
        }
      }
      .tab-ttl {
        height: 100%;
        font-size: 18px;
        font-family: @RM;
        color: @white;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        @media @desktop, @tablet {
          font-size: 14px;
        }
        @media @tablet {
          font-size: 10px;
        }
        .room-icon {
          --menu-icon-path-fill: @colorIcon;
          margin-bottom: 5px;
        }
      }
    }
  }
  .tabs-container {
    .wrap-container {
      display: none;
      @media @mobile {
        display: block;
        margin-bottom: 15px;
      }
      &.selected {
        display: block;
      }
      &:last-child {
        @media @mobile {
          margin-bottom: 0;
        }
      }
    }
  }
}

.tabs-container {
  padding: 40px 0;
  @media @mobile {
    padding: 0;
  }
  .container-mini {
    padding: 0;
  }
  .room-ttl {
    font-family: @RM;
    font-size: 30px;
    color: @yellow;
    text-transform: uppercase;
    border-bottom: 3px solid @yellow;
    text-align: center;
    margin-bottom: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    @media @mobile {
      font-size: 15px;
      border-width: 2px;
      margin-bottom: 10px;
      display: flex;
    }
    .room-icon {
      margin-right: 5px;
      --menu-icon-path-fill: @yellow;
    }
  }
  .rooms-info {
    display: flex;
    @media @mobile {
      flex-wrap: wrap;
    }
    .box {
      display: flex;
      align-items: center;
      width: 100%;
      height: ~"calc(100% - 20px)";
      justify-content: center;
      flex-direction: column;
    }
    .icon-wrap {
      svg {
        --menu-icon-path-fill: @light-gray;
        --menu-icon-path-dark-fill: @dark-gray;
      }
    }
    .text-wrap {
      font-size: 20px;
      font-family: @RL;
      color: #fff;
      display: block;
      margin-bottom: 20px;
      @media @desktop {
        margin-bottom: 10px;
      }
      @media @tablet, @mobile {
        font-size: 16px;
        margin-bottom: 5px;
      }
      &.cond {
        font-family: @RCR;
        text-transform: uppercase;
      }
      strong {
        font-family: @RB;
        font-size: inherit;
        color: inherit;
      }
    }
    .item-part {
      width: calc(100% / 6);
      border-right: 1px solid @borderNav;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media @mobile {
        padding: 10px 5px;
        border: 0;
        width: ~'calc(100% / 2 - 5px)';
        min-height: 100px;
        margin: 0 2.5px 5px;
        background: @text-color;
        display: flex;
        align-items: center;
        flex-direction: column;
        &.bg {
          background: transparent;
        }

        .item-part-mini {
          width: 100%;
          height: 65px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          background: @text-color;
          &:first-child {
            margin: 0 0 5px;
          }
          .text-wrap {
            margin: 0 0 0 10px;
          }
        }
      }
      &:last-child {
        border: 0;
      }
      .ttl {
        font-size: 18px;
        font-family: @RL;
        color: @white;
        text-transform: uppercase;
        margin-bottom: 0;
        @media @desktop, @tablet {
          font-size: 14px;
        }
        @media @mobile {
          font-size: 12px;
        }
        &.mb-3 {
          margin-bottom: 20px;
          @media @mobile {
            margin-bottom: 10px;
          }
        }
      }
      .icon-wrap {
        svg {
          & + svg {
            margin-left: 15px;
            @media @desktop, @tablet, @mobile {
              margin-left: 5px;
            }
          }
        }
        & + .text-wrap {
          margin-top: 20px;
          @media @desktop, @tablet {
            margin-top: 10px;
          }
          @media @mobile {
            margin-top: 5px;
          }
        }
      }
    }
  }
  .button-wrap {
    width: 610px;
    margin: 10px auto 0;
    @media @mobile {
      width: 100%;
    }
  }
}

.roomsliderWrap {
  margin-top: 70px;
  @media @mobile {
    margin-top: 25px;
  }
  &.pcSlides {
    .roomSliderNav {
      .arrow {
        display: block;
        position: absolute;
        top: 50%;
        .transform(translateY(-50%));
        &.arrow-left {
          right: ~'calc(100% + 15px)';
        }
        &.arrow-right {
          left: ~'calc(100% + 15px)';
          transform: translateY(-50%) rotate(180deg);
        }
        .arrowIcon {
          height: 22px;
          width: auto;
        }
      }
    }
  }
  .roomSlider {
    height: 510px;
    width: 960px;
    margin: 0 auto;
    @media @desktop {
      height: 420px;
      width: 760px;
    }
    @media @tablet {
      width: 80%;
      height: 340px;
    }
    @media @mobile {
      width: 100%;
      height: 240px;
    }
    .slick-list,
    .slick-track {
      height: 100%;
    }
    .arrow {
      position: absolute;
      top: 50%;
      .transform(translateY(-50%));

      &.arrow-left {
        right: ~"calc(100% + 30px)";
        @media @mobile {
          left: 15px;
        }
      }
      &.arrow-right {
        left: ~"calc(100% + 30px)";
        transform: translateY(-50%) rotate(-180deg);
        @media @mobile {
          right: 15px;
        }
      }
    }
    .item {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid @text-color;
    }
  }
  .roomSliderNav {
    margin: 30px auto 0;
    width: 960px;
    @media @desktop {
      width: 760px;
    }
    @media @tablet {
      width: 80%;
    }
    @media @mobile {
      width: 100%;
      margin-top: 15px;
    }
    .arrow {
      display: none;
    }
    .item {
      height: 100px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      border: 1px solid @text-color;
      width: 20%;
      margin: 0 5px;
    }
  }
}

/*filters*/

.filters {
  width: ~'calc(100% / 6)';
  @media @desktop {
    width: ~'calc(100% / 5)';
  }
  @media @tablet {
    width: ~'calc(100% / 4)';
  }
  @media @mobile {
    width: 100%;
    margin-top: 25px;
  }
  .filter-ttl {
    font-family: @RM;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    @media @desktop {
      font-size: 25px;
    }
    @media @tablet, @mobile {
      font-size: 22px;
    }
  }
  .filter-box {
    margin-bottom: 20px;
    .filter-sub-ttl {
      font-family: @RL;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 15px;
      @media @desktop {
        font-size: 16px;
      }
      @media @tablet, @mobile {
        font-size: 14px;
      }
      i {
        display: none;
        @media @mobile {
          display: inline-block;
        }
      }
    }
  }
}

.filter-items {
  display: flex;
  flex-wrap: wrap;
  @media @mobile {
    display: none;
  }
  &.half {
    margin: 0 -1px;
    label {
      width: ~'calc(50% - 2px)';
      margin-left: 1px;
      margin-right: 1px;
      @media @mobile {
        width: ~'calc(50% - 4px)';
        display: inline-block;
      }
      input {
        & + span {

        }
      }
    }
  }
  label {
    width: 100%;
    margin: 0 0 2px;
    display: block;
    input {
      display: none;
      &:checked {
        & + span {
          background: @yellow;
          color: #000;
          .vrIcon {
            --menu-icon-path-fill: @dark-bg;
          }
        }
      }
      & + span {
        width: 100%;
        height: 34px;
        background: @dark-bg;
        color: #fff;
        font-size: 18px;
        font-family: @RM;
        display: flex;
        align-items: center;
        justify-content: center;
        @media @mobile {
          font-size: 16px;
        }
        .vrIcon {
          height: 26px;
          --menu-icon-path-fill: @white;
          width: 54px;
          margin-right: 15px;
        }
      }
    }
  }
}

/*games*/

.gamesWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  @media @mobile {
    flex-direction: column;
  }
  &.with-filter {
    .games {
      width: ~'calc(100% / 6 * 5)';
      padding-left: 10px;
      @media @desktop {
        width: ~'calc(100% / 5 * 4)';
      }
      @media @tablet {
        width: ~'calc(100% / 4 * 3)';
      }
      @media @mobile {
        width: 100%;
        padding: 0;
      }
    }
    .item {
      width: ~'calc(100% / 5 - 20px)';
      @media @desktop {
        width: ~'calc(100% / 4 - 20px)';
      }
      @media @tablet {
        width: ~'calc(100% / 3 - 20px)';
      }
      @media @mobile {
        width: ~'calc(100% / 3 - 10px)';
      }
      @media @mobile-xs {
        width: ~'calc(100% / 2 - 5px)';
        margin: 0 2.5px 5px;
      }
    }
  }
  .games {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    width: ~'calc(100% / 6 - 20px)';
    height: auto;
    margin: 0 10px 20px;
    display: flex;
    justify-content: center;
    @media @desktop {
      width: ~'calc(100% / 5 - 20px)';
    }
    @media @tablet {
      width: ~'calc(100% / 4 - 20px)';
    }
    @media @mobile {
      width: ~'calc(100% / 3 - 10px)';
      margin: 0 5px 10px;
    }
    @media @mobile-xs {
      width: ~'calc(100% / 2 - 5px)';
      margin: 0 2.5px 5px;
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      border: 1px solid @borderNav;
    }
  }
  .popup-content {
    display: none;
  }
}

.pcPage {
  .selected {
    padding: 30px 0 60px;
    @media @mobile {
      padding: 25px 20px 30px;
    }
  }
  .cont-ttl {
    margin-bottom: 30px;
    font-family: @RL;
    font-size: 30px;
    color: @white;
    text-align: center;
    @media @tablet {
      font-size: 24px;
    }
    @media @mobile {
      font-size: 18px;
    }
  }
  .roomsliderWrap {
    margin-top: 0;
  }
  .roomSlider {
    box-shadow: 5px 15px 25px rgba(0, 0, 0, .5), -5px 0 25px rgba(0, 0, 0, .5);
  }
  .roomSliderNav {
    margin-top: 60px;
    @media @tablet {
      margin-top: 35px;
    }
    @media @mobile {
      margin-top: 15px;
    }
  }
}

.logosSection {
  padding: 60px 0 85px;
  @media @tablet {
    padding: 35px 0 55px;
  }
  @media @mobile {
    padding: 25px 0;
  }
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .item {
    padding: 10px;
    display: flex;
    align-items: center;
    height: 150px;
    @media @desktop {
      height: 140px;
    }
    @media @tablet {
      height: 110px;
    }
    @media @mobile {
      height: 100px;
      padding: 5px;
    }
    @media @mobile-xs {
      height: 80px;
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

/*CONTACTS*/

.linkSection {
  padding: 65px 0;

  @media @desktop {
    padding-bottom: 15px;
  }
  @media @tablet {
    padding: 45px 0 0;
  }
  @media @mobile {
    padding: 20px;
  }
}

.linkBtn {
  display: inline-block;
  height: 90px;
  width: 315px;
  background-position: center center;
  background-color: @dark-bg;
  opacity: .8;
  cursor: pointer;
  margin: 0 50px;
  .transition(all .4s);
  background-size: contain;
  background-repeat: no-repeat;
  @media @desktop {
    width: 265px;
    height: 76px;
    margin: 0 25px;
    border-radius: 10px;
  }
  @media @tablet {
    width: 200px;
    height: 58px;
    margin: 0 10px;
  }
  @media @mobile {
    width: 100%;
    height: 55px;
    margin: 0 0 15px;
  }
  &:hover {
    opacity: 1;
  }
  &.telegram {
    background-image: url('../img/ico/telegram.jpg');
  }
  &.viber {
    background-image: url('../img/ico/viber.jpg');
  }
}

.mapWrapper {
  padding-top: 50px;
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    @media @mobile {
      flex-direction: column;
      margin-bottom: 25px;
    }
  }
  .item-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media @mobile {
      margin-bottom: 25px;
    }
    .item-ttl {
      font-size: 24px;
      font-family: @RB;
      color: @yellow;
      margin-bottom: 15px;
      @media @mobile {
        font-size: 20px;
      }
    }
    ul {
      li {
        position: relative;
        padding-left: 50px;
        font-size: 18px;
        color: @white;
        font-family: @RL;
        margin-bottom: 20px;
        min-height: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        @media @mobile {
          min-height: 30px;
          margin-bottom: 10px;
          padding-left: 40px;
          font-size: 16px;
        }
        a {
          display: block;
          font-family: inherit;
          color: inherit;
          font-size: inherit;
        }
        .ico {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
  .ico {
    width: 40px;
    height: 40px;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    @media @mobile {
      width: 30px;
      height: 30px;
    }
    &.house {
      background-image: url('../img/ico/house.png');
    }
    &.phone {
      background-image: url('../img/ico/phone.png');
    }
    &.mail {
      background-image: url('../img/ico/mail.png');
    }
  }
  .item-map {
    width: 500px;
    height: 300px;
    @media @tablet {
      width: 50%;
    }
    @media @mobile {
      width: 100%;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.socialsMedia {
  padding: 15px 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media @mobile {
    flex-direction: column;
    padding-bottom: 0;
  }
  .item {
    margin: 0 10px;
    @media @mobile {
      margin-bottom: 25px;
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

/*PRICE*/

.section-price-ttl {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: @RL;
  font-size: 36px;
  color: @white;
  @media @desktop {
    font-size: 30px;
    margin-bottom: 30px;
  }
  @media @tablet {
    font-size: 25px;
    margin-bottom: 10px;
  }
  @media @mobile {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.priceWrap {
  max-width: 820px;
  margin: 0 auto;
  &.full-wrap {
    max-width: 100%;
    .priceTable {
      .item {
        height: 160px;
        @media @desktop {
          height: 130px;
        }
        @media @tablet {
          height: 120px;
        }
        @media @mobile {
          width: 100%;
          max-width: inherit;
          height: 100px;
        }
        &.item-name {
          @media @mobile {
            height: auto;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin-top: 10px;
          }
        }
        &.item-full {
          height: auto;
        }
      }
    }
  }
}

.priceTable {
  padding: 50px 0 40px;
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media @mobile {
    padding: 25px 0 20px;
    margin: 0 -2px;
  }
  &.pb-0 {
    padding-bottom: 0;
  }
  .item {
    background: @text-color;
    margin: 0 10px 10px;
    font-family: @RL;
    font-size: 24px;
    color: @white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: ~"calc(25% - 20px)";
    max-width: 190px;
    height: 70px;
    text-transform: uppercase;
    text-align: center;
    @media @desktop {
      font-size: 20px;
    }
    @media @tablet {
      font-size: 18px;
      margin: 0 5px 10px;
      width: ~"calc(25% - 10px)";
      max-width: 145px;
    }
    @media @mobile {
      width: ~"calc(25% - 4px)";
      margin: 0 2px 4px;
      font-size: 11px;
    }
    &.item-full {
      width: ~'calc(100% - 440px)';
      max-width: inherit;
      flex-direction: row;
      @media @tablet {
        width: ~'calc(100% - 320px)';
      }
      @media @mobile {
        width: 100%;
        flex-direction: column;
      }
      svg {
        --menu-icon-path-fill: @white;
        --menu-icon-path-dark-fill: @dark-gray;
      }
      .icon-wrap {
        @media @mobile {
          width: 100%;
          padding: 10px;
          border-bottom: 4px solid @dark-bg;
        }
      }
    }
    &.item-half {
      width: ~"calc(50% - 20px)";
      max-width: inherit;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      @media @tablet {
        width: ~"calc(50% - 10px)";
      }
      .vrIcon {
        --menu-icon-path-fill: @yellow;
        width: 120px;
        height: auto;
      }
      .dualshockIcon {
        width: 85px;
        height: auto;
        --menu-icon-path-fill: @yellow;
      }
      .item-ttl, .item-ttls {
        margin-top: 0;
        margin-bottom: 10px;
      }
      .item-sub-ttl {
        font-size: 20px;
        color: @white;
        font-family: @RL;
        @media @tablet {
          font-size: 16px;
        }
        @media @mobile {
          font-size: 14px;
        }
      }
    }
    .item-ttl, .item-ttls {
      text-transform: uppercase;
      color: @yellow;
      font-size: 20px;
      font-family: @RM;
      margin-top: 15px;
      @media @desktop {
        font-size: 18px;
      }
      @media @tablet {
        font-size: 15px;
      }
      @media @mobile {
        margin-top: 0;
        margin-left: 10px;
        font-size: 15px;
      }
    }
    .item-text {
      font-family: @RL;
      font-size: 20px;
      color: @white;
      margin-bottom: 15px;
      @media @desktop {
        margin-bottom: 10px;
      }
      @media @tablet {
        font-size: 16px;
        margin-bottom: 5px;
      }
      @media @mobile {
        font-size: 15px;
        margin-bottom: 5px;
      }
    }
    .icon-wrap {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .part {
        & + .part {
          margin-top: 10px;
          @media @tablet, @mobile {
            margin-top: 5px;
          }
        }
        &.mini {
          white-space: nowrap;
          .pc40Icon {
            height: 65px;
            width: 90px;
            @media @desktop {
              width: 60px;
              height: 45px;
            }
            @media @tablet {
              width: 50px;
              height: 35px;
            }
            @media @mobile {
              width: 54px;
              height: 38px;
            }
            & + .pc40Icon {
              margin-left: 10px;
            }
          }
        }
      }
      svg {
        & + svg {
          margin-left: 15px;
          @media @desktop, @tablet {
            margin-left: 10px;
          }
          @media @mobile {
            margin: 0;
          }
        }
      }
    }
    span {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
    }
    strong {
      font-family: @RB;
      color: inherit;
      font-size: 36px;
      @media @desktop {
        font-size: 30px;
      }
      @media @tablet {
        font-size: 25px;
      }
      @media @mobile {
        font-size: 15px;
      }
      &.yellow {
        color: @yellow;
      }
    }
  }
  .dualshockIcon {
    @media @desktop {
      width: 50px;
      height: 38px;
    }
    @media @tablet {
      width: 40px;
      height: 30px;
    }
  }
  .pc40Icon, .pc43Icon, .pc55Icon {
    @media @desktop, @tablet {
      width: 80px;
      height: 60px;
    }
    @media @tablet {
      width: 60px;
      height: 45px;
    }
  }
  .ps4Icon {
    @media @desktop {
      width: 100px;
      height: 35px;
    }
    @media @tablet {
      width: 80px;
      height: 28px;
    }
  }
  .personIcon {
    @media @desktop {
      width: 15px;
      height: 38px;
    }
    @media @tablet {
      width: 10px;
      height: 25px;
    }
  }
  .proIcon {
    @media @desktop {
      width: 55px;
      height: 35px;
    }
    @media @tablet {
      width: 45px;
      height: 30px;
    }
  }
  .projectorIcon {
    @media @desktop {
      width: 115px;
      height: 45px;
    }
    @media @tablet {
      width: 100px;
      height: 40px;
    }
  }
}

/*BOOKING*/

.bookingBox {
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -55px;
  z-index: 1000;
  .transform(translateX(100%));
  .transition(all .4s);
  @media @mobile {
    .transform(translate(0%));
    position: static;
    display: none;
    z-index: 1002;
  }
  &.show {
    .transform(translateX(0%));
    .transition(all .4s);
    @media @mobile {
      width: 100%;
      height: 100%;
      position: absolute;
      //top: 0;
      display: block;
      z-index: 1002;
    }
    .bookingForm {
      @media @mobile {
        display: block;
      }
    }
  }
  .bookingBtn {
    width: 110px;
    height: 110px;
    border: 3px solid @white;
    border-right-width: 1px;
    background: @green;
    border-radius: 10px 0 0 10px;
    color: #fff;
    font-size: 12px;
    font-family: @RCB;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    @media @mobile {
      display: none;
    }
    &:focus {
      outline: none;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 100%;
      left: 0;
      z-index: -1;
      transition: transform 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &:before {
      background: #b3c766;
    }
    &:after {
      background: @yellow;
    }
    &:hover {
      &:before,
      &:after {
        transform: translate3d(0, 100%, 0);
      }
      &:after {
        transition-delay: 0.175s;
      }
    }
    .icon {
      width: 56px;
      height: 48px;
      display: block;
      --icon-path-fill: @white;
      margin-bottom: 5px;
      margin-left: 9px;
      @media @mobile {
        width: 30px;
        height: auto;
        margin-left: 5px;
        margin-bottom: 2px;
      }
    }
    .text {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
    }
  }
  .bookingForm {
    width: 445px;
    height: 100%;
    border-top: 3px solid @white;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    @media @mobile {
      display: none;
      left: 5%;
      top: 5%;
      width: 90%;
      height: 100%;
      position: absolute;
      z-index: 1002;
    }
    .booking-header {
      background: @green;
      color: @white;
      text-transform: uppercase;
      font-family: @RB;
      font-size: 24px;
      text-align: center;
      height: 104px;
      display: flex;
      align-items: center;
      justify-content: center;
      .close {
        display: none;
        width: 30px;
        height: 30px;
        border: 2px solid @dark-bg;
        border-radius: 50%;
        .transform(rotate(45deg));
        position: absolute;
        right: -15px;
        top: -15px;
        background: @green;
        &:after {
          content: '';
          display: block;
          width: 60%;
          height: 2px;
          opacity: .8;
          background: @dark-bg;
          .pos-center;
        }
        &:before {
          content: '';
          display: block;
          height: 60%;
          width: 2px;
          opacity: .8;
          background: @dark-bg;
          .pos-center;
        }
        @media @mobile {
          display: block;
        }
      }
      @media @mobile {
        height: 50px;
        font-size: 16px;
      }
    }
    .booking-content {
      padding: 20px 25px;
      overflow-y: auto;
      height: ~'calc(100% - 104px)';
      @media @mobile {
        padding: 10px;
        height: ~'calc(100% - 70px)';
      }
    }
    .row {
      margin: 0 -6px;
      display: flex;
      .col-12, .col-6 {
        padding: 0 6px;
      }
      .col-12 {
        width: 100%;
      }
      .col-6 {
        width: 50%;
      }
    }
    form {
      .input_wrap {
        margin-bottom: 20px;
        @media @mobile {
          margin-bottom: 10px;
        }
      }
      label {
        font-size: 18px;
        text-transform: uppercase;
        color: #000;
        font-family: @RL;
        text-align: center;
        width: 100%;
        display: block;
        @media @mobile {
          font-size: 14px;
        }
      }
      .txt {
        border: 1px solid #000;
        height: 42px;
        width: 100%;
        text-align: center;
        font-size: 18px;
        color: #000;
        font-family: @RL;
        padding: 0 10px;
        @media @mobile {
          font-size: 14px;
          height: 34px;
        }
      }
    }
    .filter-box {
      margin-bottom: 20px;
      @media @mobile {
        margin-bottom: 10px;
      }
      .filter-sub-ttl {
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        font-family: @RL;
        color: #000;
        margin-bottom: 5px;
      }
    }
    .filter-items {
      display: flex;
      flex-wrap: wrap;

      label {
        height: 32px;
        text-transform: none;
        margin-bottom: 5px;
        margin-left: 6px;
        margin-right: 6px;
      }
      &.four {
        margin: 0 -2.5px;
        label {
          margin-left: 2.5px;
          margin-right: 2.5px;
          width: ~'calc(25% - 5px)';
        }
      }
      &.half {
        margin: 0 -6px;
        label {
          width: ~'calc(50% - 12px)';
        }
      }
    }
  }
}

.bookingMobileBtn {
  width: 110px;
  height: 110px;
  border: 3px solid @white;
  border-right-width: 1px;
  background: @green;
  border-radius: 10px 0 0 10px;
  color: #fff;
  font-size: 12px;
  font-family: @RCB;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 100%;
  top: 0;
  display: none;
  z-index: 1000;
  @media @mobile {
    position: fixed;
    top: 25%;
    right: 0;
    z-index: 1000;
    width: 60px;
    height: 60px;
    font-size: 7px;
    display: flex;
  }
  &:focus {
    outline: none;
  }
  .icon {
    width: 56px;
    height: 48px;
    display: block;
    --icon-path-fill: @white;
    margin-bottom: 5px;
    margin-left: 9px;
    @media @mobile {
      width: 30px;
      height: auto;
      margin-left: 5px;
      margin-bottom: 2px;
    }
  }
  .text {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }
}

.upBox {
  position: fixed;
  bottom: 5%;
  right: 70px;
  background: transparent;
  border: none;
  z-index: 800;
  display: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    .icon {
      --icon-path-fill: #fff;
    }
  }
  .icon {
    display: block;
    width: 55px;
    --icon-path-fill: #6b6b6b;
    * {
      .transition(all .4s);
    }
  }
}

.promo {
  padding: 15px 20px 50px;
  text-align: center;
  @media @mobile {
    padding: 25px 20px;
  }
  img {
    max-width: 100%;
  }
}

.popup {
  .pos-center;
  position: fixed;
  z-index: 3000;
  width: 610px;
  color: @white;
  display: none;
  &.success {
    background: @green;
  }
  &.error {
    background: @yellow;
    .popup-header {
      border-color: @dark-bg;
      .ttl {
        color: @dark-bg;
      }
      .icon {
        --icon-path-fill: @dark-bg;
      }
    }
    .popup-content {
      p, .btn {
        color: @dark-bg;
      }
      .btn {
        border-color: @dark-bg;
      }
    }
  }
  .popup-header {
    height: 80px;
    border-bottom: 1px solid @white;
    display: flex;
    align-items: center;
    justify-content: center;
    .ttl {
      font-size: 36px;
      font-family: @RM;
      color: @white;
      text-transform: uppercase;
    }
    .icon {
      width: 58px;
      display: inline-block;
      --icon-path-fill: @white;
      margin-right: 10px;
    }
  }
  .popup-content {
    padding: 40px;
    text-align: center;
    p {
      font-size: 18px;
      font-family: @RB;
      color: @white;
      line-height: 1.6;
    }
    .btn {
      margin-top: 40px;
    }
  }
}

/*game-popup*/

.gamePopup {
  display: none;
  max-width: 1030px;
  max-height: 560px;
  width: 100%;
  height: 100%;
  background: @dark-bg;
  border: 1px solid rgba(0, 0, 0, .7);
  .pos-center;
  position: fixed;
  overflow: hidden;
  z-index: 1050;
  @media @desktop {
    max-width: 980px;
  }
  @media @tablet {
    max-width: 95%;
    max-height: 70%;
  }
  @media @mobile {
    width: 90%;
    height: 100%;
    overflow: visible;
    top: 5%;
    left: 5%;
    transform: translate(0, 0);
  }
  .close {
    display: none;
    width: 30px;
    height: 30px;
    border: 2px solid @dark-bg;
    border-radius: 50%;
    .transform(rotate(45deg));
    position: absolute;
    right: -15px;
    top: -15px;
    background: @green;
    &:after {
      content: '';
      display: block;
      width: 60%;
      height: 2px;
      opacity: .8;
      background: @dark-bg;
      .pos-center;
    }
    &:before {
      content: '';
      display: block;
      height: 60%;
      width: 2px;
      opacity: .8;
      background: @dark-bg;
      .pos-center;
    }
    @media @mobile {
      display: block;
    }
  }
  .content {
    display: flex;
    height: 100%;
    @media @mobile {
      flex-direction: column;
      height: 100%;
      overflow: auto;
    }
  }
  .game-img {
    padding: 25px 0 25px 25px;
    @media @tablet {
      width: 40%;
      img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
      }
    }
    @media @mobile {
      padding: 15px;
      //max-height: 25%;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
      }
    }
  }
  .game-content {
    @media @tablet {
      width: 60%;
    }
    .game-header {
      margin-bottom: 20px;
      @media @mobile {
        margin-bottom: 10px;
      }
      .ttl {
        color: #fff;
        font-family: @RM;
        font-size: 24px;
        margin-bottom: 10px;
        @media @mobile {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
      .sub, .link {
        font-size: 18px;
        font-family: @RL;
        color: #fff;
        line-height: 30px;
        @media @mobile {
          font-size: 15px;
        }
      }
      .sub {
        text-transform: uppercase;
      }
    }

    p {
      color: #fff;
      font-size: 14px;
      font-family: @RL;
      margin-bottom: 25px;
      line-height: 1.4;
      @media @mobile {
        font-size: 12px;
      }
    }
  }
}

.scrollBox {
  height: 100%;
  @media @mobile {
    height: auto;
  }
  .scrollContainer {
    padding: 25px;
    @media @mobile {
      padding: 15px;
    }
  }
}

.scrollbar-dynamic > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 2px;
  top: 0;
  width: 16px;
  z-index: 20;
}

//.scrollbar-dynamic > .scroll-element .scroll-element_size {
//  background-color: transparent;
//}
//.scrollbar-dynamic > .scroll-element {
//  z-index: 2;
//  background: transparent;
//}
.scrollbar-dynamic > .scroll-element div {
  background: #4a4a4a;
}

.scrollbar-dynamic > .scroll-element.scroll-y .scroll-bar {
  background-color: #696969;
  width: 12px;
  right: 2px;
  border-radius: 2px;
}
