@import "font-awesome.css";
/*Roboto*/
@import "font-awesome.css";
@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/Roboto-Regular/Roboto-Regular.eot');
  src: local('☺'), url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto-Bold/Roboto-Bold.eot');
  src: local('☺'), url('../fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/Roboto-Medium/Roboto-Medium.eot');
  src: local('☺'), url('../fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-Light/Roboto-Light.eot');
  src: local('☺'), url('../fonts/Roboto-Light/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoCondensedRegular';
  src: url('../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.eot');
  src: local('☺'), url('../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.woff') format('woff'), url('../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoCondensedBold';
  src: url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot');
  src: local('☺'), url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.woff') format('woff'), url('../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.ttf') format('truetype');
}
/* colors */
/* colors */
/*fonts*/
/*Rubik*/
/*fonts*/
/*functions*/
.nonScroll {
  overflow: hidden;
  height: 100%;
}
.burger {
  display: none;
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.full {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-underline {
  text-decoration: underline;
}
.clear {
  clear: both;
  *zoom: 1;
  height: 0;
  visibility: hidden;
  display: block;
  content: "";
}
.vam {
  vertical-align: middle;
}
.vat {
  vertical-align: top;
}
.vab {
  vertical-align: bottom;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'RobotoLight', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  * {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  * {
    font-size: 13px;
  }
}
/* For modern browsers */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: "";
  display: table;
}
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}
/* для IE6-7 */
.clearfix,
.container,
.row {
  zoom: 1;
  position: relative;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.fln {
  float: none;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.ttu {
  text-transform: uppercase;
}
.ttn {
  text-transform: none;
}
.h-nav {
  margin: 0;
  padding: 0;
  varter-spacing: normal;
}
.h-nav li {
  display: inline-block;
}
.bd100 {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.w100p {
  width: 100%;
}
.w70p {
  width: 70%;
}
.w60p {
  width: 60%;
}
.w50p {
  width: 50%;
}
.w40p {
  width: 40%;
}
.w30p {
  width: 30%;
}
.justify {
  text-align: justify;
  font-size: 0.01px;
}
.justify:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.justify .left,
.justify .right {
  display: inline-block;
  line-height: normal;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*------------------------Градиенты---------------------------*/
/*------------------------Градиенты---------------------------*/
/*----------------------Трансформация--------------------------*/
/*----------------------Трансформация--------------------------*/
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pos-centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pos-centerX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/*functions*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
/*animations*/
/*------------------------move bg---------------------------*/
/*animations*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #262627;
  overflow-x: hidden;
}
body.overlayShow {
  overflow: hidden;
}
body.overlayShow .overlay {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.arrow .arrowIcon {
  width: 28px;
  height: 80px;
  --menu-icon-path-fill: #ffd300;
  fill-opacity: 0.7;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .arrow .arrowIcon {
    width: 14px;
    height: 40px;
  }
}
.arrow.arrow-right {
  transform: rotate(-180deg);
}
.pseudo-wrap {
  display: flex;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.pseudo-wrap.top {
  bottom: 100%;
}
.pseudo-wrap.top .triangle.left {
  border-width: 0 0 50px 32px;
  border-color: transparent transparent #ffd300 transparent;
}
.pseudo-wrap.top .triangle.left:after {
  border-width: 0 0 48px 30px;
  border-color: transparent transparent #262627;
  top: 2px;
  right: -1px;
  left: auto;
}
.pseudo-wrap.top .triangle.right {
  border-width: 50px 0 0 32px;
  border-color: transparent transparent transparent #ffd300;
}
.pseudo-wrap.top .triangle.right:after {
  border-width: 48px 0 0 30px;
  border-color: transparent transparent transparent #262627;
  top: -48px;
  left: -32.2px;
}
.pseudo-wrap.top .pseudo {
  border-top: 2px solid #ffd300;
}
.pseudo-wrap.bottom {
  top: 100%;
}
.pseudo-wrap.bottom .triangle.left {
  border-width: 0 15px 24px 0;
  border-color: transparent #ffd300 transparent transparent;
}
.pseudo-wrap.bottom .triangle.left:after {
  border-width: 0 13px 22px 0;
  border-color: transparent #fff transparent transparent;
}
.pseudo-wrap.bottom .triangle.right {
  border-width: 24px 15px 0 0;
  border-color: #ffd300 transparent transparent transparent;
}
.pseudo-wrap.bottom .triangle.right:after {
  border-width: 22px 13px 0 0;
  border-color: #fff transparent transparent transparent;
  top: -24px;
  right: -12px;
}
.pseudo-wrap.bottom .pseudo {
  border-bottom: 2px solid #ffd300;
}
.pseudo-wrap .left {
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
}
.pseudo-wrap .left:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 0;
  left: 3px;
}
.pseudo-wrap .right {
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
}
.pseudo-wrap .right:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}
.pseudo-wrap .pseudo {
  background: #fff;
  position: relative;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  border-bottom: 2px solid #ffd300;
  z-index: 100;
}
@media only screen and (max-width: 767px) {
  header {
    top: 45px;
  }
}
header .logo {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 10px;
  --path-fill: #ffd300;
}
header .container {
  height: 100%;
}
header .pseudo-wrap {
  height: 24px;
  width: 230px;
}
header .pseudo-wrap .pseudo {
  height: 100%;
  width: 100%;
}
.show-nav .nav-trigger:focus {
  outline: none;
}
.show-nav .nav-trigger span:nth-child(1) {
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  transform: rotate(405deg);
}
.show-nav .nav-trigger span:nth-child(2) {
  opacity: 0;
}
.show-nav .nav-trigger span:nth-child(3) {
  -webkit-transform: rotate(-405deg);
  -moz-transform: rotate(-405deg);
  -ms-transform: rotate(-405deg);
  -o-transform: rotate(-405deg);
  transform: rotate(-405deg);
  bottom: 18px;
}
.show-nav .xclose {
  left: 15px;
  position: absolute;
  top: 15px;
}
.show-nav .mobileMainMenu {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  top: -45px;
}
.nav-trigger {
  display: none;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  height: 100%;
  padding: 0;
  width: 65px;
  cursor: pointer;
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 20;
}
.nav-trigger:focus {
  outline: none;
}
.nav-trigger span {
  background-color: #262627;
  display: block;
  height: 4px;
  margin: 5px auto;
  position: relative;
  transition: all 1s ease 0s;
  width: 34px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .nav-trigger {
    display: inline-block;
  }
}
.navWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobHeader {
  display: none;
  height: 45px;
  background: #ffd300;
  border-bottom: 1px solid #9d8404;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
@media only screen and (max-width: 767px) {
  .mobHeader {
    display: flex;
  }
}
.mobHeader .head-ttl {
  font-size: 20px;
  color: #262627;
  text-transform: uppercase;
  font-family: "RobotoMedium", sans-serif;
}
.mobHeader nav {
  position: absolute;
  width: 100%;
  left: 0;
  top: -90px;
  margin-top: 90px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.mobHeader nav li {
  width: 100%;
}
.mobHeader nav li:hover a {
  background: #262627;
  color: #ffd300;
}
.mobHeader nav li a {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #313133;
  border-top: 1px solid #1e1e1f;
  border-bottom: 1px solid #434345;
}
.mainMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainMenu ul {
  width: calc(50% - 95px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 767px) {
  .mainMenu ul {
    display: none;
  }
}
.mainMenu ul li {
  padding: 10px;
  cursor: pointer;
}
.mainMenu ul li:hover a {
  color: #f8b700;
}
.mainMenu ul a {
  font-family: "RobotoBold", sans-serif;
  text-transform: uppercase;
  color: #383839;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
.container.white {
  background: #fff;
}
.container-mini {
  max-width: 1050px;
  padding: 0 20px;
  margin: 0 auto;
}
.mainSlider {
  height: 565px;
}
@media only screen and (max-width: 767px) {
  .mainSlider {
    height: 210px;
    margin-top: 115px;
  }
}
.mainSlider .slick-list,
.mainSlider .slick-track {
  height: 100%;
}
.mainSlider .item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.mainSlider .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}
.mainSlider .arrow:hover .arrowIcon {
  fill-opacity: 1;
}
.mainSlider .arrow.arrow-left {
  left: 80px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .mainSlider .arrow.arrow-left {
    left: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .mainSlider .arrow.arrow-left {
    left: 25px;
  }
}
.mainSlider .arrow.arrow-right {
  right: 80px;
  transform: translateY(-50%) rotate(-180deg);
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .mainSlider .arrow.arrow-right {
    right: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .mainSlider .arrow.arrow-right {
    right: 25px;
  }
}
section {
  padding: 35px 0;
}
@media only screen and (max-width: 767px) {
  section {
    padding: 25px 0;
  }
}
section.bg {
  background: #fff;
}
section.light-gray {
  background: #f2f0ec;
}
section.shadow-top {
  box-shadow: 0 -2px 3px rgba(85, 44, 0, 0.35);
}
section.no-pad {
  padding: 0;
}
section .section-ttl {
  background: #ffd300;
  font-family: "RobotoLight", sans-serif;
  font-size: 36px;
  text-align: center;
  padding: 10px 0;
}
section .section-ttl strong {
  font-size: inherit;
  color: inherit;
  font-family: "RobotoMedium", sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  section .section-ttl {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  section .section-ttl {
    font-size: 18px;
    padding: 4px 0;
  }
}
section .ttl {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
@media only screen and (max-width: 480px) {
  section .ttl {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
section p {
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}
.sectionInner {
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  .sectionInner {
    padding-top: 90px;
    padding-bottom: 0;
    margin-top: 45px;
  }
}
.sectionInner > .textWrapper {
  padding: 50px 0;
}
.btn3d {
  width: 310px;
  height: 99px;
  display: block;
  background-image: url('../img/ico/3d.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  opacity: .8;
  margin: 25px auto 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .btn3d {
    width: 235px;
    height: 75px;
  }
}
@media only screen and (max-width: 767px) {
  .btn3d {
    width: 155px;
    height: 50px;
  }
}
.btn3d:hover {
  opacity: 1;
}
/*section 2*/
.section-two {
  border-top: 2px solid #ffd300;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .section-two {
    padding-top: 35px;
  }
}
.section-two .pseudo-wrap {
  height: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 100%;
}
.section-two .pseudo-wrap .triangle.left {
  border-width: 0 0 48px 34px;
}
@media only screen and (max-width: 767px) {
  .section-two .pseudo-wrap .triangle.left {
    border-width: 0 0 32px 21px;
  }
}
.section-two .pseudo-wrap .triangle.left:after {
  border-width: 0 0 48px 34px;
}
@media only screen and (max-width: 767px) {
  .section-two .pseudo-wrap .triangle.left:after {
    border-width: 0 0 30px 20px;
  }
}
.section-two .pseudo-wrap .triangle.right {
  border-width: 48px 0 0 33px;
}
@media only screen and (max-width: 767px) {
  .section-two .pseudo-wrap .triangle.right {
    border-width: 32px 0 0 20px;
  }
}
.section-two .pseudo-wrap .triangle.right:after {
  border-width: 48px 0 0 33px;
  top: -46px;
  left: -34.2px;
}
@media only screen and (max-width: 767px) {
  .section-two .pseudo-wrap .triangle.right:after {
    top: -30px;
    left: -21.2px;
    border-width: 30px 0 0 20px;
  }
}
.section-two .pseudo-wrap .pseudo {
  height: 50px;
  width: auto;
  background: #262627;
}
@media only screen and (max-width: 767px) {
  .section-two .pseudo-wrap .pseudo {
    height: 32px;
  }
}
.section-two .pseudo-wrap .pseudo span {
  font-size: 17px;
  font-family: "RobotoLight", sans-serif;
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 15px 10px 5px;
}
@media only screen and (max-width: 767px) {
  .section-two .pseudo-wrap .pseudo span {
    font-size: 12px;
    padding: 10px 2px 5px;
  }
}
.section-two .pseudo-wrap .pseudo .phone {
  text-align: center;
  position: absolute;
  left: -13px;
  white-space: nowrap;
  z-index: 11;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .section-two .pseudo-wrap .pseudo .phone {
    left: 0px;
  }
}
.section-two .pseudo-wrap .pseudo .phone svg {
  --path-fill: #ffd300;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
@media only screen and (max-width: 767px) {
  .section-two .pseudo-wrap .pseudo .phone svg {
    width: 19px;
    height: 19px;
    margin-right: 5px;
  }
}
.section-two .pseudo-wrap .pseudo .phone a {
  font-size: 34px;
  font-family: "RobotoBold", sans-serif;
  color: #ffd300;
  white-space: nowrap;
}
@media only screen and (max-width: 767px) {
  .section-two .pseudo-wrap .pseudo .phone a {
    font-size: 20px;
  }
}
.section-three {
  padding: 50px 0;
}
@media only screen and (max-width: 767px) {
  .section-three {
    padding: 25px 0;
  }
}
.section-five {
  padding: 50px 0;
}
@media only screen and (max-width: 767px) {
  .section-five {
    padding: 25px 0;
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .section-five .newsWrapper {
    display: none;
  }
}
#phone {
  fill: #ffd300;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.btn {
  background: #ffd300;
  height: 50px;
  font-family: "RobotoBold", sans-serif;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}
.btn:before,
.btn:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn:before {
  background: #b3c766;
}
.btn:after {
  background: #98c000;
}
.btn:hover:before,
.btn:hover:after {
  transform: translate3d(0, 100%, 0);
}
.btn:hover:after {
  transition-delay: 0.175s;
}
.btn.btnTransparent {
  height: 50px;
  min-width: 190px;
  text-align: center;
  background: transparent;
  border: 1px solid #fff;
}
.roomNavWrapper {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .roomNavWrapper {
    flex-wrap: wrap;
  }
}
.roomNavWrapper .item-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .roomNavWrapper .item-wrap {
    order: 2;
  }
}
.roomNavWrapper .item-wrap:hover .item {
  border-color: #98c000;
  cursor: pointer;
}
.roomNavWrapper .item-wrap:hover .item #pcIcon,
.roomNavWrapper .item-wrap:hover .item #psIcon {
  --menu-icon-path-fill: #98c000;
}
.roomNavWrapper .item-wrap:hover .arrow .arrowIcon {
  --menu-icon-path-fill: #98c000;
}
.roomNavWrapper .item-wrap .arrow {
  --menu-icon-path-fill: #ffd300;
  width: 28px;
  height: 80px;
}
@media only screen and (max-width: 767px) {
  .roomNavWrapper .item-wrap .arrow {
    display: none;
  }
}
.roomNavWrapper .item-wrap .arrow.arrow-left {
  margin-left: 60px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .roomNavWrapper .item-wrap .arrow.arrow-left {
    margin-left: 35px;
  }
}
.roomNavWrapper .item-wrap .arrow.arrow-right {
  margin-right: 60px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .roomNavWrapper .item-wrap .arrow.arrow-right {
    margin-right: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .roomNavWrapper .center {
    order: 1;
    width: 100%;
    text-align: center;
    padding: 5px 0 25px;
  }
}
.roomNavWrapper h3 {
  font-family: "RobotoLight", sans-serif;
  font-size: 41px;
  color: #ffd300;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .roomNavWrapper h3 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .roomNavWrapper h3 {
    font-size: 20px;
  }
}
.roomNavWrapper .item {
  width: 174px;
  height: 174px;
  border: 2px solid #ffd300;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .roomNavWrapper .item {
    width: 140px;
    height: 140px;
  }
}
@media only screen and (max-width: 767px) {
  .roomNavWrapper .item {
    width: 85px;
    height: 85px;
  }
}
.roomNavWrapper .item.pc svg {
  width: 92px;
  height: 82px;
  --menu-icon-path-fill: #ffd300;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .roomNavWrapper .item.pc svg {
    width: 65px;
    height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .roomNavWrapper .item.pc svg {
    width: 55px;
    height: 50px;
  }
}
.roomNavWrapper .item.ps svg {
  width: 122px;
  height: 119px;
  --menu-icon-path-fill: #ffd300;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .roomNavWrapper .item.ps svg {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .roomNavWrapper .item.ps svg {
    height: 50px;
    width: 50px;
  }
}
.roomNavWrapper .arrow .arrowIcon {
  --menu-icon-path-fill: #545454;
}
.room-icon {
  --menu-icon-path-fill: #ffd300;
}
.personIcon {
  width: 19px;
  height: 45px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .personIcon {
    width: 12px;
    height: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .personIcon {
    width: 10px;
    height: 23px;
  }
}
.pc40Icon,
.pc43Icon,
.pc55Icon {
  width: 100px;
  height: 72px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .pc40Icon,
  .pc43Icon,
  .pc55Icon {
    width: 70px;
    height: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .pc40Icon,
  .pc43Icon,
  .pc55Icon {
    width: 54px;
    height: 38px;
  }
}
.pcmini .pc40Icon {
  width: 77px;
  height: 56px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .pcmini .pc40Icon {
    width: 50px;
    height: 38px;
  }
}
@media only screen and (max-width: 767px) {
  .pcmini .pc40Icon {
    width: 36px;
    height: 25px;
  }
}
.dualshockPlusIcon {
  width: 76px;
  height: 36px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .dualshockPlusIcon {
    width: 65px;
    height: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .dualshockPlusIcon {
    width: 40px;
    height: 19px;
  }
}
.ps4Icon {
  width: 144px;
  height: 46px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .ps4Icon {
    width: 90px;
    height: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .ps4Icon {
    width: 76px;
    height: 24px;
  }
}
.dualshockIcon {
  width: 63px;
  height: 45px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .dualshockIcon {
    width: 40px;
    height: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .dualshockIcon {
    width: 32px;
    height: 23px;
  }
}
.proIcon {
  width: 73px;
  height: 46px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .proIcon {
    width: 50px;
    height: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .proIcon {
    width: 40px;
    height: 24px;
  }
}
.projectorIcon {
  width: 130px;
  height: 53px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .projectorIcon {
    width: 100px;
    height: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .projectorIcon {
    width: 75px;
    height: 30px;
  }
}
.vrIcon {
  width: 74px;
  height: 37px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .vrIcon {
    width: 50px;
    height: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .vrIcon {
    width: 42px;
    height: 20px;
  }
}
.commonRoomIcon {
  width: 36px;
  height: 36px;
}
@media only screen and (max-width: 767px) {
  .commonRoomIcon {
    width: 24px;
    height: 24px;
  }
}
.waterRoomIcon {
  width: 40px;
  height: 36px;
}
@media only screen and (max-width: 767px) {
  .waterRoomIcon {
    width: 26px;
    height: 24px;
  }
}
.stoneRoomIcon {
  width: 25px;
  height: 36px;
}
@media only screen and (max-width: 767px) {
  .stoneRoomIcon {
    width: 18px;
    height: 24px;
  }
}
.fireRoomIcon {
  width: 36px;
  height: 40px;
}
@media only screen and (max-width: 767px) {
  .fireRoomIcon {
    width: 22px;
    height: 26px;
  }
}
.metalRoomIcon {
  width: 36px;
  height: 36px;
}
@media only screen and (max-width: 767px) {
  .metalRoomIcon {
    width: 24px;
    height: 24px;
  }
}
.woodRoomIcon {
  width: 36px;
  height: 36px;
}
@media only screen and (max-width: 767px) {
  .woodRoomIcon {
    width: 24px;
    height: 24px;
  }
}
.roomsWrapper {
  padding: 35px 0 0;
}
@media only screen and (max-width: 767px) {
  .roomsWrapper {
    padding: 20px 0 0;
  }
}
.roomsWrapper .item-wrap {
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  .roomsWrapper .item-wrap {
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .roomsWrapper .item-wrap:last-child {
    margin: 0;
  }
}
.roomsWrapper .item-wrap .room-icon {
  --menu-icon-path-fill: #ffd300;
}
.roomsWrapper .item-wrap .btn-wrap {
  padding: 0 2.5px;
}
.roomsWrapper .room-ttl {
  font-family: "RobotoMedium", sans-serif;
  font-size: 30px;
  color: #ffd300;
  text-transform: uppercase;
  border-bottom: 3px solid #ffd300;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .roomsWrapper .room-ttl {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .roomsWrapper .room-ttl {
    font-size: 15px;
    border-width: 2px;
    margin-bottom: 10px;
  }
}
.roomsWrapper .room-ttl .room-icon {
  margin-right: 5px;
  --menu-icon-path-fill: #ffd300;
}
.roomsWrapper .item {
  height: 335px;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .roomsWrapper .item {
    height: 260px;
  }
}
@media only screen and (max-width: 767px) {
  .roomsWrapper .item {
    height: auto;
    flex-direction: column;
    margin: 0;
  }
}
.roomsWrapper .item .item-img {
  height: 100%;
  width: calc(50% - 20px);
  margin: 0 10px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .roomsWrapper .item .item-img {
    width: 100%;
    margin: 0 0 10px;
    height: 165px;
  }
}
.roomsWrapper .item .item-img:hover .bg {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.roomsWrapper .item .item-img .bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
  width: 100%;
  height: 100%;
}
.roomsWrapper .item .item-info {
  width: calc(50% - 20px);
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {
  .roomsWrapper .item .item-info {
    width: auto;
    margin: 0 -2.5px;
  }
}
.roomsWrapper .item .item-info .item-part {
  height: 135px;
  width: calc(100% / 3 - 5px);
  margin: 0 2.5px 5px;
  background: #383839;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .roomsWrapper .item .item-info .item-part {
    height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .roomsWrapper .item .item-info .item-part {
    height: 68px;
  }
}
@media only screen and (max-width: 480px) {
  .roomsWrapper .item .item-info .item-part {
    width: calc(100% / 2 - 5px);
  }
}
.roomsWrapper .item .item-info .item-part.bg {
  background: transparent;
}
.roomsWrapper .item .item-info .item-part .item-part-mini {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #383839;
}
.roomsWrapper .item .item-info .item-part .item-part-mini:first-child {
  margin: 0 0 5px;
}
.roomsWrapper .item .item-info .item-part .item-part-mini .text-wrap {
  margin: 0 0 0 10px;
}
.roomsWrapper .item .item-info .icon-wrap svg {
  --menu-icon-path-fill: #E7E5D9;
  --menu-icon-path-dark-fill: #2E2E2E;
}
.roomsWrapper .item .item-info .icon-wrap svg + svg {
  margin-left: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .roomsWrapper .item .item-info .icon-wrap svg + svg {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .roomsWrapper .item .item-info .icon-wrap svg + svg {
    margin-left: 5px;
  }
}
.roomsWrapper .item .item-info .icon-wrap.mt5 + .icon-wrap {
  margin-top: 5px;
}
.roomsWrapper .item .item-info .icon-wrap + .text-wrap {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .roomsWrapper .item .item-info .icon-wrap + .text-wrap {
    margin-top: 10px;
  }
}
.roomsWrapper .item .item-info .icon-wrap + .icon-wrap {
  margin-top: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .roomsWrapper .item .item-info .icon-wrap + .icon-wrap {
    margin-top: 5px;
  }
}
.roomsWrapper .item .item-info .text-wrap {
  font-size: 20px;
  font-family: "RobotoLight", sans-serif;
  color: #fff;
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .roomsWrapper .item .item-info .text-wrap {
    font-size: 16px;
  }
}
.roomsWrapper .item .item-info .text-wrap.cond {
  font-family: "RobotoCondensedRegular", sans-serif;
  text-transform: uppercase;
}
.roomsWrapper .item .item-info .text-wrap strong {
  font-family: "RobotoBold", sans-serif;
  font-size: inherit;
  color: inherit;
}
.roomsWrapper .item .item-info .text-wrap + .text-wrap {
  margin-top: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .roomsWrapper .item .item-info .text-wrap + .text-wrap {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .newsSection .newsWrapper {
    padding-top: 25px;
  }
}
.newsWrapper .item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 50px;
}
@media only screen and (max-width: 767px) {
  .newsWrapper .item {
    margin: 0 0 35px;
    flex-direction: column;
  }
}
.newsWrapper .item.show {
  flex-direction: column;
}
.newsWrapper .item.show .item-img,
.newsWrapper .item.show .item-info {
  width: 100%;
  height: auto;
}
.newsWrapper .item.show .item-img {
  justify-content: center;
}
.newsWrapper .item .item-info,
.newsWrapper .item .item-img {
  width: calc(50% - 20px);
  margin: 0 10px 20px;
  height: 330px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .newsWrapper .item .item-info,
  .newsWrapper .item .item-img {
    max-height: 210px;
  }
}
@media only screen and (max-width: 767px) {
  .newsWrapper .item .item-info,
  .newsWrapper .item .item-img {
    width: 100%;
    margin: 0;
  }
}
.newsWrapper .item .item-info img,
.newsWrapper .item .item-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.newsWrapper .item .item-img {
  display: flex;
  align-items: center;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -ms-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .newsWrapper .item .item-img {
    max-height: 210px;
  }
}
@media only screen and (max-width: 767px) {
  .newsWrapper .item .item-img {
    height: auto;
    margin-bottom: 10px;
    justify-content: center;
  }
}
.newsWrapper .item .item-info {
  position: relative;
}
.newsWrapper .item .item-info:after {
  content: '';
  display: block;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.newsWrapper .item .item-footer {
  width: 100%;
  height: 55px;
  background: #e2ded6;
  border: 1px solid #e2ded6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .newsWrapper .item .item-footer {
    height: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .newsWrapper .item .item-footer {
    height: 36px;
  }
}
.newsWrapper .item .item-ttl {
  font-family: "RobotoMedium", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .newsWrapper .item .item-ttl {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
.newsWrapper .item p {
  font-family: "RobotoLight", sans-serif;
  font-size: 18px;
  margin-bottom: 25px;
}
.newsWrapper .item p strong {
  font-family: "RobotoMedium", sans-serif;
  font-size: inherit;
}
.socWrap {
  display: flex;
  align-items: center;
}
.socWrap .bubble {
  min-width: 46px;
  height: 46px;
  background: #fff;
  border: 1px solid #d8dcde;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a499ab;
  font-family: "RobotoLight", sans-serif;
  margin-left: 16px;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .socWrap .bubble {
    height: 40px;
    min-width: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .socWrap .bubble {
    height: 30px;
    min-width: 30px;
  }
}
.socWrap .bubble:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 8px 6px 0;
  border-color: transparent #fff transparent transparent;
  right: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.socials {
  margin: 0 -5px;
  display: flex;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .socials {
    margin: 0 -3px;
  }
}
.socials li {
  margin: 0 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .socials li {
    margin: 0 3px;
  }
}
.socials a {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .socials a {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .socials a {
    width: 30px;
    height: 30px;
  }
}
.socials a.fb {
  background: #3b5998;
}
.socials a.gp {
  background: #dc4e41;
}
.socials a.tw {
  background: #55acee;
}
.socials a i {
  color: #fff;
  font-size: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .socials a i {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .socials a i {
    font-size: 16px;
  }
}
.readMore {
  background: #ffd300;
  padding: 0 10px;
  font-family: "RobotoLight", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .readMore {
    height: 45px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .readMore {
    height: 36px;
    font-size: 12px;
  }
}
.readMore:before,
.readMore:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.readMore:before {
  background: #b3c766;
}
.readMore:after {
  background: #98c000;
}
.readMore:hover {
  color: #fff;
}
.readMore:hover:before,
.readMore:hover:after {
  transform: translate3d(0, 100%, 0);
}
.readMore:hover:after {
  transition-delay: 0.175s;
}
.readMore:hover svg {
  --path-fill: #fff;
}
.readMore svg {
  margin-left: 10px;
  --path-fill: #000;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.footer {
  background: #262627;
  border-top: 2px solid #ffd300;
  padding: 30px 0;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .footer {
    margin-top: 155px;
  }
}
.footer.shadow-top {
  box-shadow: 0 -3px 18px rgba(85, 44, 0, 0.35);
}
.footer .pseudo {
  height: 50px;
  width: 230px;
  background: #262627;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer .pseudo {
    width: 200px;
  }
}
@media only screen and (max-width: 767px) {
  .footer .pseudo {
    width: 120px;
    height: 40px;
  }
}
.footer .pseudo .logo {
  top: 15px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 111;
}
@media only screen and (max-width: 767px) {
  .footer .pseudo .logo {
    top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .footer .pseudo .triangle.left {
    border-width: 0 0 38px 24px;
  }
}
@media only screen and (max-width: 767px) {
  .footer .pseudo .triangle.left:after {
    border-width: 0 0 38px 24px;
  }
}
@media only screen and (max-width: 767px) {
  .footer .pseudo .triangle.right {
    border-width: 40px 0 0 26px;
  }
}
@media only screen and (max-width: 767px) {
  .footer .pseudo .triangle.right:after {
    border-width: 38px 0 0 25px;
    top: -38px;
    left: -26.2px;
  }
}
.footer .logoFooter {
  width: 353px;
  height: 142px;
  --path-fill: #ffd300;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer .logoFooter {
    width: 280px;
    height: 115px;
  }
}
@media only screen and (max-width: 767px) {
  .footer .logoFooter {
    width: 176px;
    height: 70px;
  }
}
.footer .footerWrap {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .footer .footerWrap {
    top: -165px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.footer .soc-ttl {
  font-family: "RobotoMedium", sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 16px;
}
.footer .socialsFooter {
  margin: 0 -10px;
  display: flex;
  justify-content: center;
}
.footer .socialsFooter li {
  margin: 0 10px;
}
@media only screen and (max-width: 767px) {
  .footer .socialsFooter li {
    margin: 0 5px;
  }
}
.footer .socialsFooter a {
  display: block;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.footer .socialsFooter a:hover {
  -webkit-transform: rotate3d(0, 1, 0, 360deg);
  -moz-transform: rotate3d(0, 1, 0, 360deg);
  -ms-transform: rotate3d(0, 1, 0, 360deg);
  -o-transform: rotate3d(0, 1, 0, 360deg);
  transform: rotate3d(0, 1, 0, 360deg);
}
.footer .socialsFooter a:hover svg {
  --path-fill: #ffd300;
}
.footer .socialsFooter a svg {
  width: 60px;
  height: 60px;
  --path-fill: #545454;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (max-width: 767px) {
  .footer .socialsFooter a svg {
    width: 40px;
    height: 40px;
  }
}
.footer .menuFooter {
  display: flex;
  flex-wrap: wrap;
  max-width: 285px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer .menuFooter {
    max-width: 200px;
  }
}
@media only screen and (max-width: 767px) {
  .footer .menuFooter {
    display: none;
  }
}
.footer .menuFooter li {
  width: 50%;
}
.footer .menuFooter li a {
  font-family: "RobotoMedium", sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
}
.footer .menuFooter li a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: #ffd300;
  transition: all .4s;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
}
.footer .menuFooter li a:hover {
  color: #ffd300;
}
.footer .menuFooter li a:hover:after {
  width: 100%;
  left: 0;
}
.textWrapper {
  padding: 40px 0;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .textWrapper {
    padding: 25px 0;
  }
}
@media only screen and (max-width: 767px) {
  .textWrapper {
    padding: 25px 0;
  }
}
@media only screen and (max-width: 767px) {
  .textWrapper.text-center {
    text-align: left;
  }
}
.textWrapper p {
  font-size: 18px;
  color: #fff;
  font-family: "RobotoLight", sans-serif;
  line-height: 1.35;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .textWrapper p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .textWrapper p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .textWrapper p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .tabs.full-tab .tabs-nav-wrap {
    display: block;
  }
}
.tabs.full-tab .tabs-container .wrap-container {
  display: none;
}
.tabs.full-tab .tabs-container .wrap-container.selected {
  display: block;
}
.tabs.tabsGames .tabs-container {
  padding: 25px 0;
  background: #fff;
  position: relative;
}
.tabs.tabsGames .tabs-container:after {
  content: '';
  display: block;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 50px;
}
.tabs .tabs-nav-wrap {
  border-bottom: 5px solid #ffd300;
}
@media only screen and (max-width: 767px) {
  .tabs .tabs-nav-wrap {
    display: none;
  }
}
.tabs .tabs-nav-wrap .tabs-nav {
  display: flex;
  margin: 0 -10px;
}
.tabs .tabs-nav-wrap .tabs-nav.two-item {
  justify-content: center;
}
.tabs .tabs-nav-wrap .tabs-nav.two-item li {
  width: auto;
  padding: 0 30px;
}
@media only screen and (max-width: 767px) {
  .tabs .tabs-nav-wrap .tabs-nav.two-item li {
    padding: 0 10px;
    margin: 0 2px;
    height: 40px;
  }
}
.tabs .tabs-nav-wrap .tabs-nav.two-item li.active .tab-ttl {
  color: #262627;
}
.tabs .tabs-nav-wrap .tabs-nav.two-item li .tab-ttl {
  font-size: 36px;
  text-transform: none;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .tabs .tabs-nav-wrap .tabs-nav.two-item li .tab-ttl {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tabs .tabs-nav-wrap .tabs-nav.two-item li .tab-ttl {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .tabs .tabs-nav-wrap .tabs-nav.two-item li .tab-ttl {
    font-size: 12px;
  }
}
.tabs .tabs-nav-wrap .tabs-nav li {
  margin: 0 10px;
  height: 76px;
  width: calc(100% / 6);
  background: #383839;
  cursor: pointer;
  padding: 10px;
  transition: all .4s;
}
.tabs .tabs-nav-wrap .tabs-nav li:hover,
.tabs .tabs-nav-wrap .tabs-nav li.active {
  background: #ffd300;
}
.tabs .tabs-nav-wrap .tabs-nav li:hover .room-icon,
.tabs .tabs-nav-wrap .tabs-nav li.active .room-icon {
  --menu-icon-path-fill: #262627;
}
.tabs .tabs-nav-wrap .tabs-nav li:hover .room-ttl,
.tabs .tabs-nav-wrap .tabs-nav li.active .room-ttl {
  color: #262627;
}
.tabs .tabs-nav-wrap .tabs-nav .tab-ttl {
  height: 100%;
  font-size: 18px;
  font-family: "RobotoMedium", sans-serif;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .tabs .tabs-nav-wrap .tabs-nav .tab-ttl {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tabs .tabs-nav-wrap .tabs-nav .tab-ttl {
    font-size: 10px;
  }
}
.tabs .tabs-nav-wrap .tabs-nav .tab-ttl .room-icon {
  --menu-icon-path-fill: #8a8a8b;
  margin-bottom: 5px;
}
.tabs .tabs-container .wrap-container {
  display: none;
}
@media only screen and (max-width: 767px) {
  .tabs .tabs-container .wrap-container {
    display: block;
    margin-bottom: 15px;
  }
}
.tabs .tabs-container .wrap-container.selected {
  display: block;
}
@media only screen and (max-width: 767px) {
  .tabs .tabs-container .wrap-container:last-child {
    margin-bottom: 0;
  }
}
.tabs-container {
  padding: 40px 0;
}
@media only screen and (max-width: 767px) {
  .tabs-container {
    padding: 0;
  }
}
.tabs-container .container-mini {
  padding: 0;
}
.tabs-container .room-ttl {
  font-family: "RobotoMedium", sans-serif;
  font-size: 30px;
  color: #ffd300;
  text-transform: uppercase;
  border-bottom: 3px solid #ffd300;
  text-align: center;
  margin-bottom: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  .tabs-container .room-ttl {
    font-size: 15px;
    border-width: 2px;
    margin-bottom: 10px;
    display: flex;
  }
}
.tabs-container .room-ttl .room-icon {
  margin-right: 5px;
  --menu-icon-path-fill: #ffd300;
}
.tabs-container .rooms-info {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .tabs-container .rooms-info {
    flex-wrap: wrap;
  }
}
.tabs-container .rooms-info .box {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100% - 20px);
  justify-content: center;
  flex-direction: column;
}
.tabs-container .rooms-info .icon-wrap svg {
  --menu-icon-path-fill: #E7E5D9;
  --menu-icon-path-dark-fill: #2E2E2E;
}
.tabs-container .rooms-info .text-wrap {
  font-size: 20px;
  font-family: "RobotoLight", sans-serif;
  color: #fff;
  display: block;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .tabs-container .rooms-info .text-wrap {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .tabs-container .rooms-info .text-wrap {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
.tabs-container .rooms-info .text-wrap.cond {
  font-family: "RobotoCondensedRegular", sans-serif;
  text-transform: uppercase;
}
.tabs-container .rooms-info .text-wrap strong {
  font-family: "RobotoBold", sans-serif;
  font-size: inherit;
  color: inherit;
}
.tabs-container .rooms-info .item-part {
  width: calc(100% / 6);
  border-right: 1px solid #585859;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .tabs-container .rooms-info .item-part {
    padding: 10px 5px;
    border: 0;
    width: calc(100% / 2 - 5px);
    min-height: 100px;
    margin: 0 2.5px 5px;
    background: #383839;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .tabs-container .rooms-info .item-part.bg {
    background: transparent;
  }
  .tabs-container .rooms-info .item-part .item-part-mini {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #383839;
  }
  .tabs-container .rooms-info .item-part .item-part-mini:first-child {
    margin: 0 0 5px;
  }
  .tabs-container .rooms-info .item-part .item-part-mini .text-wrap {
    margin: 0 0 0 10px;
  }
}
.tabs-container .rooms-info .item-part:last-child {
  border: 0;
}
.tabs-container .rooms-info .item-part .ttl {
  font-size: 18px;
  font-family: "RobotoLight", sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .tabs-container .rooms-info .item-part .ttl {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .tabs-container .rooms-info .item-part .ttl {
    font-size: 12px;
  }
}
.tabs-container .rooms-info .item-part .ttl.mb-3 {
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .tabs-container .rooms-info .item-part .ttl.mb-3 {
    margin-bottom: 10px;
  }
}
.tabs-container .rooms-info .item-part .icon-wrap svg + svg {
  margin-left: 15px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .tabs-container .rooms-info .item-part .icon-wrap svg + svg {
    margin-left: 5px;
  }
}
.tabs-container .rooms-info .item-part .icon-wrap + .text-wrap {
  margin-top: 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .tabs-container .rooms-info .item-part .icon-wrap + .text-wrap {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .tabs-container .rooms-info .item-part .icon-wrap + .text-wrap {
    margin-top: 5px;
  }
}
.tabs-container .button-wrap {
  width: 610px;
  margin: 10px auto 0;
}
@media only screen and (max-width: 767px) {
  .tabs-container .button-wrap {
    width: 100%;
  }
}
.roomsliderWrap {
  margin-top: 70px;
}
@media only screen and (max-width: 767px) {
  .roomsliderWrap {
    margin-top: 25px;
  }
}
.roomsliderWrap.pcSlides .roomSliderNav .arrow {
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.roomsliderWrap.pcSlides .roomSliderNav .arrow.arrow-left {
  right: calc(100% + 15px);
}
.roomsliderWrap.pcSlides .roomSliderNav .arrow.arrow-right {
  left: calc(100% + 15px);
  transform: translateY(-50%) rotate(180deg);
}
.roomsliderWrap.pcSlides .roomSliderNav .arrow .arrowIcon {
  height: 22px;
  width: auto;
}
.roomsliderWrap .roomSlider {
  height: 510px;
  width: 960px;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .roomsliderWrap .roomSlider {
    height: 420px;
    width: 760px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .roomsliderWrap .roomSlider {
    width: 80%;
    height: 340px;
  }
}
@media only screen and (max-width: 767px) {
  .roomsliderWrap .roomSlider {
    width: 100%;
    height: 240px;
  }
}
.roomsliderWrap .roomSlider .slick-list,
.roomsliderWrap .roomSlider .slick-track {
  height: 100%;
}
.roomsliderWrap .roomSlider .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.roomsliderWrap .roomSlider .arrow.arrow-left {
  right: calc(100% + 30px);
}
@media only screen and (max-width: 767px) {
  .roomsliderWrap .roomSlider .arrow.arrow-left {
    left: 15px;
  }
}
.roomsliderWrap .roomSlider .arrow.arrow-right {
  left: calc(100% + 30px);
  transform: translateY(-50%) rotate(-180deg);
}
@media only screen and (max-width: 767px) {
  .roomsliderWrap .roomSlider .arrow.arrow-right {
    right: 15px;
  }
}
.roomsliderWrap .roomSlider .item {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #383839;
}
.roomsliderWrap .roomSliderNav {
  margin: 30px auto 0;
  width: 960px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .roomsliderWrap .roomSliderNav {
    width: 760px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .roomsliderWrap .roomSliderNav {
    width: 80%;
  }
}
@media only screen and (max-width: 767px) {
  .roomsliderWrap .roomSliderNav {
    width: 100%;
    margin-top: 15px;
  }
}
.roomsliderWrap .roomSliderNav .arrow {
  display: none;
}
.roomsliderWrap .roomSliderNav .item {
  height: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #383839;
  width: 20%;
  margin: 0 5px;
}
/*filters*/
.filters {
  width: calc(100% / 6);
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .filters {
    width: calc(100% / 5);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .filters {
    width: calc(100% / 4);
  }
}
@media only screen and (max-width: 767px) {
  .filters {
    width: 100%;
    margin-top: 25px;
  }
}
.filters .filter-ttl {
  font-family: "RobotoMedium", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .filters .filter-ttl {
    font-size: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .filters .filter-ttl {
    font-size: 22px;
  }
}
.filters .filter-box {
  margin-bottom: 20px;
}
.filters .filter-box .filter-sub-ttl {
  font-family: "RobotoLight", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .filters .filter-box .filter-sub-ttl {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .filters .filter-box .filter-sub-ttl {
    font-size: 14px;
  }
}
.filters .filter-box .filter-sub-ttl i {
  display: none;
}
@media only screen and (max-width: 767px) {
  .filters .filter-box .filter-sub-ttl i {
    display: inline-block;
  }
}
.filter-items {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {
  .filter-items {
    display: none;
  }
}
.filter-items.half {
  margin: 0 -1px;
}
.filter-items.half label {
  width: calc(50% - 2px);
  margin-left: 1px;
  margin-right: 1px;
}
@media only screen and (max-width: 767px) {
  .filter-items.half label {
    width: calc(50% - 4px);
    display: inline-block;
  }
}
.filter-items label {
  width: 100%;
  margin: 0 0 2px;
  display: block;
}
.filter-items label input {
  display: none;
}
.filter-items label input:checked + span {
  background: #ffd300;
  color: #000;
}
.filter-items label input:checked + span .vrIcon {
  --menu-icon-path-fill: #262627;
}
.filter-items label input + span {
  width: 100%;
  height: 34px;
  background: #262627;
  color: #fff;
  font-size: 18px;
  font-family: "RobotoMedium", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .filter-items label input + span {
    font-size: 16px;
  }
}
.filter-items label input + span .vrIcon {
  height: 26px;
  --menu-icon-path-fill: #fff;
  width: 54px;
  margin-right: 15px;
}
/*games*/
.gamesWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
@media only screen and (max-width: 767px) {
  .gamesWrapper {
    flex-direction: column;
  }
}
.gamesWrapper.with-filter .games {
  width: calc(100% / 6 * 5);
  padding-left: 10px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .gamesWrapper.with-filter .games {
    width: calc(100% / 5 * 4);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gamesWrapper.with-filter .games {
    width: calc(100% / 4 * 3);
  }
}
@media only screen and (max-width: 767px) {
  .gamesWrapper.with-filter .games {
    width: 100%;
    padding: 0;
  }
}
.gamesWrapper.with-filter .item {
  width: calc(100% / 5 - 20px);
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .gamesWrapper.with-filter .item {
    width: calc(100% / 4 - 20px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gamesWrapper.with-filter .item {
    width: calc(100% / 3 - 20px);
  }
}
@media only screen and (max-width: 767px) {
  .gamesWrapper.with-filter .item {
    width: calc(100% / 3 - 10px);
  }
}
@media only screen and (max-width: 480px) {
  .gamesWrapper.with-filter .item {
    width: calc(100% / 2 - 5px);
    margin: 0 2.5px 5px;
  }
}
.gamesWrapper .games {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.gamesWrapper .item {
  width: calc(100% / 6 - 20px);
  height: auto;
  margin: 0 10px 20px;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .gamesWrapper .item {
    width: calc(100% / 5 - 20px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gamesWrapper .item {
    width: calc(100% / 4 - 20px);
  }
}
@media only screen and (max-width: 767px) {
  .gamesWrapper .item {
    width: calc(100% / 3 - 10px);
    margin: 0 5px 10px;
  }
}
@media only screen and (max-width: 480px) {
  .gamesWrapper .item {
    width: calc(100% / 2 - 5px);
    margin: 0 2.5px 5px;
  }
}
.gamesWrapper .item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #585859;
}
.gamesWrapper .popup-content {
  display: none;
}
.pcPage .selected {
  padding: 30px 0 60px;
}
@media only screen and (max-width: 767px) {
  .pcPage .selected {
    padding: 25px 20px 30px;
  }
}
.pcPage .cont-ttl {
  margin-bottom: 30px;
  font-family: "RobotoLight", sans-serif;
  font-size: 30px;
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .pcPage .cont-ttl {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .pcPage .cont-ttl {
    font-size: 18px;
  }
}
.pcPage .roomsliderWrap {
  margin-top: 0;
}
.pcPage .roomSlider {
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.5), -5px 0 25px rgba(0, 0, 0, 0.5);
}
.pcPage .roomSliderNav {
  margin-top: 60px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .pcPage .roomSliderNav {
    margin-top: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .pcPage .roomSliderNav {
    margin-top: 15px;
  }
}
.logosSection {
  padding: 60px 0 85px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logosSection {
    padding: 35px 0 55px;
  }
}
@media only screen and (max-width: 767px) {
  .logosSection {
    padding: 25px 0;
  }
}
.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logos .item {
  padding: 10px;
  display: flex;
  align-items: center;
  height: 150px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .logos .item {
    height: 140px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logos .item {
    height: 110px;
  }
}
@media only screen and (max-width: 767px) {
  .logos .item {
    height: 100px;
    padding: 5px;
  }
}
@media only screen and (max-width: 480px) {
  .logos .item {
    height: 80px;
  }
}
.logos .item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
/*CONTACTS*/
.linkSection {
  padding: 65px 0;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .linkSection {
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .linkSection {
    padding: 45px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .linkSection {
    padding: 20px;
  }
}
.linkBtn {
  display: inline-block;
  height: 90px;
  width: 315px;
  background-position: center center;
  background-color: #262627;
  opacity: .8;
  cursor: pointer;
  margin: 0 50px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .linkBtn {
    width: 265px;
    height: 76px;
    margin: 0 25px;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .linkBtn {
    width: 200px;
    height: 58px;
    margin: 0 10px;
  }
}
@media only screen and (max-width: 767px) {
  .linkBtn {
    width: 100%;
    height: 55px;
    margin: 0 0 15px;
  }
}
.linkBtn:hover {
  opacity: 1;
}
.linkBtn.telegram {
  background-image: url('../img/ico/telegram.jpg');
}
.linkBtn.viber {
  background-image: url('../img/ico/viber.jpg');
}
.mapWrapper {
  padding-top: 50px;
}
.mapWrapper .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  .mapWrapper .item {
    flex-direction: column;
    margin-bottom: 25px;
  }
}
.mapWrapper .item-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .mapWrapper .item-info {
    margin-bottom: 25px;
  }
}
.mapWrapper .item-info .item-ttl {
  font-size: 24px;
  font-family: "RobotoBold", sans-serif;
  color: #ffd300;
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  .mapWrapper .item-info .item-ttl {
    font-size: 20px;
  }
}
.mapWrapper .item-info ul li {
  position: relative;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
  font-family: "RobotoLight", sans-serif;
  margin-bottom: 20px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 767px) {
  .mapWrapper .item-info ul li {
    min-height: 30px;
    margin-bottom: 10px;
    padding-left: 40px;
    font-size: 16px;
  }
}
.mapWrapper .item-info ul li a {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
.mapWrapper .item-info ul li .ico {
  position: absolute;
  left: 0;
  top: 0;
}
.mapWrapper .ico {
  width: 40px;
  height: 40px;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) {
  .mapWrapper .ico {
    width: 30px;
    height: 30px;
  }
}
.mapWrapper .ico.house {
  background-image: url('../img/ico/house.png');
}
.mapWrapper .ico.phone {
  background-image: url('../img/ico/phone.png');
}
.mapWrapper .ico.mail {
  background-image: url('../img/ico/mail.png');
}
.mapWrapper .item-map {
  width: 500px;
  height: 300px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mapWrapper .item-map {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .mapWrapper .item-map {
    width: 100%;
  }
}
.mapWrapper .item-map iframe {
  width: 100%;
  height: 100%;
}
.socialsMedia {
  padding: 15px 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .socialsMedia {
    flex-direction: column;
    padding-bottom: 0;
  }
}
.socialsMedia .item {
  margin: 0 10px;
}
@media only screen and (max-width: 767px) {
  .socialsMedia .item {
    margin-bottom: 25px;
  }
}
.socialsMedia .item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
/*PRICE*/
.section-price-ttl {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "RobotoLight", sans-serif;
  font-size: 36px;
  color: #fff;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .section-price-ttl {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-price-ttl {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .section-price-ttl {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.priceWrap {
  max-width: 820px;
  margin: 0 auto;
}
.priceWrap.full-wrap {
  max-width: 100%;
}
.priceWrap.full-wrap .priceTable .item {
  height: 160px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .priceWrap.full-wrap .priceTable .item {
    height: 130px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceWrap.full-wrap .priceTable .item {
    height: 120px;
  }
}
@media only screen and (max-width: 767px) {
  .priceWrap.full-wrap .priceTable .item {
    width: 100%;
    max-width: inherit;
    height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .priceWrap.full-wrap .priceTable .item.item-name {
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
  }
}
.priceWrap.full-wrap .priceTable .item.item-full {
  height: auto;
}
.priceTable {
  padding: 50px 0 40px;
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .priceTable {
    padding: 25px 0 20px;
    margin: 0 -2px;
  }
}
.priceTable.pb-0 {
  padding-bottom: 0;
}
.priceTable .item {
  background: #383839;
  margin: 0 10px 10px;
  font-family: "RobotoLight", sans-serif;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(25% - 20px);
  max-width: 190px;
  height: 70px;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .priceTable .item {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .item {
    font-size: 18px;
    margin: 0 5px 10px;
    width: calc(25% - 10px);
    max-width: 145px;
  }
}
@media only screen and (max-width: 767px) {
  .priceTable .item {
    width: calc(25% - 4px);
    margin: 0 2px 4px;
    font-size: 11px;
  }
}
.priceTable .item.item-full {
  width: calc(100% - 440px);
  max-width: inherit;
  flex-direction: row;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .item.item-full {
    width: calc(100% - 320px);
  }
}
@media only screen and (max-width: 767px) {
  .priceTable .item.item-full {
    width: 100%;
    flex-direction: column;
  }
}
.priceTable .item.item-full svg {
  --menu-icon-path-fill: #fff;
  --menu-icon-path-dark-fill: #2E2E2E;
}
@media only screen and (max-width: 767px) {
  .priceTable .item.item-full .icon-wrap {
    width: 100%;
    padding: 10px;
    border-bottom: 4px solid #262627;
  }
}
.priceTable .item.item-half {
  width: calc(50% - 20px);
  max-width: inherit;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .item.item-half {
    width: calc(50% - 10px);
  }
}
.priceTable .item.item-half .vrIcon {
  --menu-icon-path-fill: #ffd300;
  width: 120px;
  height: auto;
}
.priceTable .item.item-half .dualshockIcon {
  width: 85px;
  height: auto;
  --menu-icon-path-fill: #ffd300;
}
.priceTable .item.item-half .item-ttl,
.priceTable .item.item-half .item-ttls {
  margin-top: 0;
  margin-bottom: 10px;
}
.priceTable .item.item-half .item-sub-ttl {
  font-size: 20px;
  color: #fff;
  font-family: "RobotoLight", sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .item.item-half .item-sub-ttl {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .priceTable .item.item-half .item-sub-ttl {
    font-size: 14px;
  }
}
.priceTable .item .item-ttl,
.priceTable .item .item-ttls {
  text-transform: uppercase;
  color: #ffd300;
  font-size: 20px;
  font-family: "RobotoMedium", sans-serif;
  margin-top: 15px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .priceTable .item .item-ttl,
  .priceTable .item .item-ttls {
    font-size: 18px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .item .item-ttl,
  .priceTable .item .item-ttls {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .priceTable .item .item-ttl,
  .priceTable .item .item-ttls {
    margin-top: 0;
    margin-left: 10px;
    font-size: 15px;
  }
}
.priceTable .item .item-text {
  font-family: "RobotoLight", sans-serif;
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .priceTable .item .item-text {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .item .item-text {
    font-size: 16px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .priceTable .item .item-text {
    font-size: 15px;
    margin-bottom: 5px;
  }
}
.priceTable .item .icon-wrap {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.priceTable .item .icon-wrap .part + .part {
  margin-top: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .priceTable .item .icon-wrap .part + .part {
    margin-top: 5px;
  }
}
.priceTable .item .icon-wrap .part.mini {
  white-space: nowrap;
}
.priceTable .item .icon-wrap .part.mini .pc40Icon {
  height: 65px;
  width: 90px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .priceTable .item .icon-wrap .part.mini .pc40Icon {
    width: 60px;
    height: 45px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .item .icon-wrap .part.mini .pc40Icon {
    width: 50px;
    height: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .priceTable .item .icon-wrap .part.mini .pc40Icon {
    width: 54px;
    height: 38px;
  }
}
.priceTable .item .icon-wrap .part.mini .pc40Icon + .pc40Icon {
  margin-left: 10px;
}
.priceTable .item .icon-wrap svg + svg {
  margin-left: 15px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .item .icon-wrap svg + svg {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .priceTable .item .icon-wrap svg + svg {
    margin: 0;
  }
}
.priceTable .item span {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
.priceTable .item strong {
  font-family: "RobotoBold", sans-serif;
  color: inherit;
  font-size: 36px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .priceTable .item strong {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .item strong {
    font-size: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .priceTable .item strong {
    font-size: 15px;
  }
}
.priceTable .item strong.yellow {
  color: #ffd300;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .priceTable .dualshockIcon {
    width: 50px;
    height: 38px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .dualshockIcon {
    width: 40px;
    height: 30px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .pc40Icon,
  .priceTable .pc43Icon,
  .priceTable .pc55Icon {
    width: 80px;
    height: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .pc40Icon,
  .priceTable .pc43Icon,
  .priceTable .pc55Icon {
    width: 60px;
    height: 45px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .priceTable .ps4Icon {
    width: 100px;
    height: 35px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .ps4Icon {
    width: 80px;
    height: 28px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .priceTable .personIcon {
    width: 15px;
    height: 38px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .personIcon {
    width: 10px;
    height: 25px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .priceTable .proIcon {
    width: 55px;
    height: 35px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .proIcon {
    width: 45px;
    height: 30px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .priceTable .projectorIcon {
    width: 115px;
    height: 45px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .priceTable .projectorIcon {
    width: 100px;
    height: 40px;
  }
}
/*BOOKING*/
.bookingBox {
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -55px;
  z-index: 1000;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (max-width: 767px) {
  .bookingBox {
    -webkit-transform: translate(0%);
    -moz-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
    transform: translate(0%);
    position: static;
    display: none;
    z-index: 1002;
  }
}
.bookingBox.show {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (max-width: 767px) {
  .bookingBox.show {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 1002;
  }
}
@media only screen and (max-width: 767px) {
  .bookingBox.show .bookingForm {
    display: block;
  }
}
.bookingBox .bookingBtn {
  width: 110px;
  height: 110px;
  border: 3px solid #fff;
  border-right-width: 1px;
  background: #98c000;
  border-radius: 10px 0 0 10px;
  color: #fff;
  font-size: 12px;
  font-family: "RobotoCondensedBold", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 100%;
  top: 0;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .bookingBox .bookingBtn {
    display: none;
  }
}
.bookingBox .bookingBtn:focus {
  outline: none;
}
.bookingBox .bookingBtn:before,
.bookingBox .bookingBtn:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.bookingBox .bookingBtn:before {
  background: #b3c766;
}
.bookingBox .bookingBtn:after {
  background: #ffd300;
}
.bookingBox .bookingBtn:hover:before,
.bookingBox .bookingBtn:hover:after {
  transform: translate3d(0, 100%, 0);
}
.bookingBox .bookingBtn:hover:after {
  transition-delay: 0.175s;
}
.bookingBox .bookingBtn .icon {
  width: 56px;
  height: 48px;
  display: block;
  --icon-path-fill: #fff;
  margin-bottom: 5px;
  margin-left: 9px;
}
@media only screen and (max-width: 767px) {
  .bookingBox .bookingBtn .icon {
    width: 30px;
    height: auto;
    margin-left: 5px;
    margin-bottom: 2px;
  }
}
.bookingBox .bookingBtn .text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
.bookingBox .bookingForm {
  width: 445px;
  height: 100%;
  border-top: 3px solid #fff;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 767px) {
  .bookingBox .bookingForm {
    display: none;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: 1002;
  }
}
.bookingBox .bookingForm .booking-header {
  background: #98c000;
  color: #fff;
  text-transform: uppercase;
  font-family: "RobotoBold", sans-serif;
  font-size: 24px;
  text-align: center;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookingBox .bookingForm .booking-header .close {
  display: none;
  width: 30px;
  height: 30px;
  border: 2px solid #262627;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: -15px;
  top: -15px;
  background: #98c000;
}
.bookingBox .bookingForm .booking-header .close:after {
  content: '';
  display: block;
  width: 60%;
  height: 2px;
  opacity: .8;
  background: #262627;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bookingBox .bookingForm .booking-header .close:before {
  content: '';
  display: block;
  height: 60%;
  width: 2px;
  opacity: .8;
  background: #262627;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
  .bookingBox .bookingForm .booking-header .close {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .bookingBox .bookingForm .booking-header {
    height: 50px;
    font-size: 16px;
  }
}
.bookingBox .bookingForm .booking-content {
  padding: 20px 25px;
  overflow-y: auto;
  height: calc(100% - 104px);
}
@media only screen and (max-width: 767px) {
  .bookingBox .bookingForm .booking-content {
    padding: 10px;
    height: calc(100% - 70px);
  }
}
.bookingBox .bookingForm .row {
  margin: 0 -6px;
  display: flex;
}
.bookingBox .bookingForm .row .col-12,
.bookingBox .bookingForm .row .col-6 {
  padding: 0 6px;
}
.bookingBox .bookingForm .row .col-12 {
  width: 100%;
}
.bookingBox .bookingForm .row .col-6 {
  width: 50%;
}
.bookingBox .bookingForm form .input_wrap {
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .bookingBox .bookingForm form .input_wrap {
    margin-bottom: 10px;
  }
}
.bookingBox .bookingForm form label {
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  font-family: "RobotoLight", sans-serif;
  text-align: center;
  width: 100%;
  display: block;
}
@media only screen and (max-width: 767px) {
  .bookingBox .bookingForm form label {
    font-size: 14px;
  }
}
.bookingBox .bookingForm form .txt {
  border: 1px solid #000;
  height: 42px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #000;
  font-family: "RobotoLight", sans-serif;
  padding: 0 10px;
}
@media only screen and (max-width: 767px) {
  .bookingBox .bookingForm form .txt {
    font-size: 14px;
    height: 34px;
  }
}
.bookingBox .bookingForm .filter-box {
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .bookingBox .bookingForm .filter-box {
    margin-bottom: 10px;
  }
}
.bookingBox .bookingForm .filter-box .filter-sub-ttl {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-family: "RobotoLight", sans-serif;
  color: #000;
  margin-bottom: 5px;
}
.bookingBox .bookingForm .filter-items {
  display: flex;
  flex-wrap: wrap;
}
.bookingBox .bookingForm .filter-items label {
  height: 32px;
  text-transform: none;
  margin-bottom: 5px;
  margin-left: 6px;
  margin-right: 6px;
}
.bookingBox .bookingForm .filter-items.four {
  margin: 0 -2.5px;
}
.bookingBox .bookingForm .filter-items.four label {
  margin-left: 2.5px;
  margin-right: 2.5px;
  width: calc(25% - 5px);
}
.bookingBox .bookingForm .filter-items.half {
  margin: 0 -6px;
}
.bookingBox .bookingForm .filter-items.half label {
  width: calc(50% - 12px);
}
.bookingMobileBtn {
  width: 110px;
  height: 110px;
  border: 3px solid #fff;
  border-right-width: 1px;
  background: #98c000;
  border-radius: 10px 0 0 10px;
  color: #fff;
  font-size: 12px;
  font-family: "RobotoCondensedBold", sans-serif;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 100%;
  top: 0;
  display: none;
  z-index: 1000;
}
@media only screen and (max-width: 767px) {
  .bookingMobileBtn {
    position: fixed;
    top: 25%;
    right: 0;
    z-index: 1000;
    width: 60px;
    height: 60px;
    font-size: 7px;
    display: flex;
  }
}
.bookingMobileBtn:focus {
  outline: none;
}
.bookingMobileBtn .icon {
  width: 56px;
  height: 48px;
  display: block;
  --icon-path-fill: #fff;
  margin-bottom: 5px;
  margin-left: 9px;
}
@media only screen and (max-width: 767px) {
  .bookingMobileBtn .icon {
    width: 30px;
    height: auto;
    margin-left: 5px;
    margin-bottom: 2px;
  }
}
.bookingMobileBtn .text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
.upBox {
  position: fixed;
  bottom: 5%;
  right: 70px;
  background: transparent;
  border: none;
  z-index: 800;
  display: none;
  cursor: pointer;
}
.upBox:focus {
  outline: none;
}
.upBox:hover .icon {
  --icon-path-fill: #fff;
}
.upBox .icon {
  display: block;
  width: 55px;
  --icon-path-fill: #6b6b6b;
}
.upBox .icon * {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.promo {
  padding: 15px 20px 50px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .promo {
    padding: 25px 20px;
  }
}
.promo img {
  max-width: 100%;
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 3000;
  width: 610px;
  color: #fff;
  display: none;
}
.popup.success {
  background: #98c000;
}
.popup.error {
  background: #ffd300;
}
.popup.error .popup-header {
  border-color: #262627;
}
.popup.error .popup-header .ttl {
  color: #262627;
}
.popup.error .popup-header .icon {
  --icon-path-fill: #262627;
}
.popup.error .popup-content p,
.popup.error .popup-content .btn {
  color: #262627;
}
.popup.error .popup-content .btn {
  border-color: #262627;
}
.popup .popup-header {
  height: 80px;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup .popup-header .ttl {
  font-size: 36px;
  font-family: "RobotoMedium", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.popup .popup-header .icon {
  width: 58px;
  display: inline-block;
  --icon-path-fill: #fff;
  margin-right: 10px;
}
.popup .popup-content {
  padding: 40px;
  text-align: center;
}
.popup .popup-content p {
  font-size: 18px;
  font-family: "RobotoBold", sans-serif;
  color: #fff;
  line-height: 1.6;
}
.popup .popup-content .btn {
  margin-top: 40px;
}
/*game-popup*/
.gamePopup {
  display: none;
  max-width: 1030px;
  max-height: 560px;
  width: 100%;
  height: 100%;
  background: #262627;
  border: 1px solid rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  overflow: hidden;
  z-index: 1050;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .gamePopup {
    max-width: 980px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gamePopup {
    max-width: 95%;
    max-height: 70%;
  }
}
@media only screen and (max-width: 767px) {
  .gamePopup {
    width: 90%;
    height: 100%;
    overflow: visible;
    top: 5%;
    left: 5%;
    transform: translate(0, 0);
  }
}
.gamePopup .close {
  display: none;
  width: 30px;
  height: 30px;
  border: 2px solid #262627;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: -15px;
  top: -15px;
  background: #98c000;
}
.gamePopup .close:after {
  content: '';
  display: block;
  width: 60%;
  height: 2px;
  opacity: .8;
  background: #262627;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.gamePopup .close:before {
  content: '';
  display: block;
  height: 60%;
  width: 2px;
  opacity: .8;
  background: #262627;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 767px) {
  .gamePopup .close {
    display: block;
  }
}
.gamePopup .content {
  display: flex;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .gamePopup .content {
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }
}
.gamePopup .game-img {
  padding: 25px 0 25px 25px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gamePopup .game-img {
    width: 40%;
  }
  .gamePopup .game-img img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  .gamePopup .game-img {
    padding: 15px;
    text-align: center;
  }
  .gamePopup .game-img img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .gamePopup .game-content {
    width: 60%;
  }
}
.gamePopup .game-content .game-header {
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .gamePopup .game-content .game-header {
    margin-bottom: 10px;
  }
}
.gamePopup .game-content .game-header .ttl {
  color: #fff;
  font-family: "RobotoMedium", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .gamePopup .game-content .game-header .ttl {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
.gamePopup .game-content .game-header .sub,
.gamePopup .game-content .game-header .link {
  font-size: 18px;
  font-family: "RobotoLight", sans-serif;
  color: #fff;
  line-height: 30px;
}
@media only screen and (max-width: 767px) {
  .gamePopup .game-content .game-header .sub,
  .gamePopup .game-content .game-header .link {
    font-size: 15px;
  }
}
.gamePopup .game-content .game-header .sub {
  text-transform: uppercase;
}
.gamePopup .game-content p {
  color: #fff;
  font-size: 14px;
  font-family: "RobotoLight", sans-serif;
  margin-bottom: 25px;
  line-height: 1.4;
}
@media only screen and (max-width: 767px) {
  .gamePopup .game-content p {
    font-size: 12px;
  }
}
.scrollBox {
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .scrollBox {
    height: auto;
  }
}
.scrollBox .scrollContainer {
  padding: 25px;
}
@media only screen and (max-width: 767px) {
  .scrollBox .scrollContainer {
    padding: 15px;
  }
}
.scrollbar-dynamic > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 2px;
  top: 0;
  width: 16px;
  z-index: 20;
}
.scrollbar-dynamic > .scroll-element div {
  background: #4a4a4a;
}
.scrollbar-dynamic > .scroll-element.scroll-y .scroll-bar {
  background-color: #696969;
  width: 12px;
  right: 2px;
  border-radius: 2px;
}
